<script lang="ts">
	import Auth from '$com/Auth.svelte';
	import Apps from './Apps.svelte';
	import Connections from './Connections.svelte';
	import General from './General.svelte';
	import Integrations from './Integrations.svelte';
	import Secutiry from './Secutiry.svelte';
	import Sessions from './Sessions.svelte';
	import { Tab, Tabs } from '@higenku/theme';
	import { Spinner } from '@higenku/theme';
</script>

<Auth redirectWhenNotAuthorized={true}>
	<div slot="authorized" let:user let:client>
		<h1>Welcome {user.name}</h1>

		<Tabs>
			<Tab title="General">
				<General {client} {user} />
			</Tab>
			<Tab title="Security">
				<Secutiry {client} />
			</Tab>
			<Tab title="Sessions">
				<Sessions {client} {user}/>
			</Tab>
			<Tab title="Connections">
				<Connections {client} user_id={user.user_id} />
			</Tab>
			<Tab title="Oauth2">
				<Integrations />
			</Tab>
			<!-- 
                later
                todo: maybe better to make a full view just for this
            -->
			<!-- 
                <Tab title="Wallet"> 
                    Not finish yet
                </Tab> 
                <Tab title="Subscriptions"> 
                    Not finish yet
                </Tab>
                <Tab title="Invoices"> 
                    Not finish yet
                </Tab>
                <Tab title="Payments"> 
                    Not finish yet
                </Tab> 
            -->
		</Tabs>
	</div>

	<div class="" slot="notAuthorized">
		<h1>Not authorized</h1>
	</div>

	<div slot="authorizing" class="d-flex justify-center">
		<h1>authorizing</h1>
		<Spinner size="lg" />
	</div>
</Auth>
