<!-- 
    Todo:
        - List user apps
        - Allow user to create new apps
        - Allow user to edit apps
        - Allow user to regenerate app keys
-->

<script lang="ts">
    import type {SvelteComponent} from "svelte"

    export function hello(component: SvelteComponent) {
        console.log(`Component`, component)
    }
</script>

<p>This page is still a work in progress</p>
