<script lang="ts">
	import type { ClientType } from '$lib/gql';
	import { auth } from '$store/auth';
	import { Spinner, utils } from '@higenku/theme';
	import { onMount } from 'svelte';
	import Oauth2 from './connections/Oauth2.svelte';
    import sodium from "libsodium-wrappers"

	interface OAuthResponse {
		gitlab: boolean;
		github: boolean;
		google: boolean;
		microsoft: boolean;
	}

	let user_id: string,
		client: ClientType,
		response: OAuthResponse | null = null;

	export { user_id, client };

	const load = async () => {
		try {
			let { userOauth2: res } = await client.userOauth2();

			response = {
				gitlab: res.gitlab,
				github: res.github,
				google: res.google,
				microsoft: res.microsoft
			};
		} catch (e: any) {
			// eslint-disable-next-line @typescript-eslint/no-explicit-any
			console.log(e);
			const err = e.response?.errors[0] || e;
			await utils.newNotification('An error Occured', `${err.message}`, true, 'erro', 5000);
			return;
		}
	};

	onMount(load);

	const remove = (provider: string) => async () => {
		response = null;
		utils.newNotification(
			'Removing Oauth Connection',
			`Provider ${provider} is being removed`,
			true,
			'info', 
            5000
		);

		try {
            await sodium.ready;
            
			const keyStore = await auth.getKeys();
			const privKey = sodium.from_base64(keyStore.sign.privateKey);
			await sodium.ready;
			const signature = sodium.crypto_sign(
				JSON.stringify({
					id: `higenku:oauth:${provider}`
				}),
				privKey,
				'base64'
			);

			client.userOauth2Remove({
				signature
			});
		} catch (e: any) {
			// eslint-disable-next-line @typescript-eslint/no-explicit-any
			console.log(e);
			const err = e.response?.errors[0] || e;
			await utils.newNotification('An error Occured', `${err.message}`, true, 'erro');
			return;
		}

		setTimeout(() => {
			load();
		}, 500);
	};
</script>

<h3>External Connections</h3>

{#if !response}
	<div class="d-flex justify-center">
		<Spinner size="xl" />
	</div>
{:else}
	<div class="d-flex flex-row gap-0_5">
		<Oauth2 {user_id} on:click={remove('gitlab')} value={response.gitlab} variant="gitlab" />
		<Oauth2 {user_id} on:click={remove('github')} value={response.github} variant="github" />
		<Oauth2 {user_id} on:click={remove('google')} value={response.google} variant="google" />
		<Oauth2
			{user_id}
			on:click={remove('microsoft')}
			value={response.microsoft}
			variant="microsoft"
		/>
	</div>
{/if}
