<script lang="ts">
	import type { ClientType } from '$lib/gql';
	import { auth } from '$store/auth';
	import type { User } from '$types/user';
	import { Dots, Image, Btn, Input, utils } from '@higenku/theme';
	import { onMount } from 'svelte';
    import sodium from "libsodium-wrappers"
    
	export let user: User;
	export let client: ClientType;

	let loading = false;
	let oldUser: User;

	const change = async () => {
		if (
			user.username === oldUser.username &&
			user.avatar === oldUser.avatar &&
			user.name === oldUser.name
		) {
			await utils.newNotification(
				'Error',
				'The profile is the same as it was, why save it?',
				true,
				'erro',
				3000
			);
			return;
		}

		try {
			const keystore = await auth.getKeys();
			await sodium.ready;
			const signature = sodium.crypto_sign(
				JSON.stringify({
					avatar: user.avatar,
					username: user.username,
					name: user.name
				}),
				sodium.from_base64(keystore.sign.privateKey),
				'base64'
			);

			const { userUpdate: success } = await client.userUpdate({
				signature
			});
			success &&
				(await utils.newNotification('Success', 'profile saved', true, 'succ', 5000));
			!success &&
				(await utils.newNotification(
					'Error',
					'failed to save profile',
					true,
					'erro',
					5000
				));
			await auth.refresh();
			// eslint-disable-next-line @typescript-eslint/no-explicit-any
		} catch (e: any) {
			console.log(e);
			const err = e.response?.errors[0] || e;
			await utils.newNotification('An error Occured', `${err.message}`, true, 'erro', 5000);
		}
	};

	onMount(() => {
		oldUser = { ...user };
	});
</script>

<h3>User Profile</h3>

<Input type="text" label="Change Username" bind:value={user.username} placeholder="NotJohn69" />
<Input type="text" label="Change Name" bind:value={user.name} placeholder="NotJohn69" />

<br />
<Image lazy={true} src="http://static.higenku.org/{user.avatar}" alt="{user.name} logo" size="lg" />
<Input type="text" label="Change Avatar" bind:value={user.avatar} placeholder="NotJohn69" />

{#if loading}
	<Btn>Saving<Dots /></Btn>
{:else}
	<Btn variant="info" on:click={change}>Save</Btn>
{/if}
