<!-- 
    Todo: 
        - [security key](https://github.com/wisespace-io/u2f-rs) 
-->
<script lang="ts">
	import type { ClientType } from '$lib/gql';
	import { Input, Spinner, Modal, Btn, utils } from '@higenku/theme';
	import { onMount } from 'svelte';
import { auth } from '$store/auth';
import Captcha from '$com/Captcha.svelte';
import sodium from "libsodium-wrappers"

	export let client: ClientType;

	let userU2faConfigured = false;
	let loading = true;
	let configureModalOpen = false;
	let removeModalOpen = false;

	let qr: string;
	let uri: string;

	let secret: string;
	let code: string;
	let captcha: string;

	onMount(async () => {
		userU2faConfigured = (await client.userU2faConfigured()).userU2faConfigured;

        let { userU2faNewUri } = await client.userU2faNewUri();
        qr = userU2faNewUri.qr;
        secret = userU2faNewUri.secret;
        uri = userU2faNewUri.uri;

		loading = false;
	});

	const configure2fa = async () => {
		loading = true;
		try {
            const keyStore = await auth.getKeys();
            await sodium.ready;
            const signature = sodium.crypto_sign(
                JSON.stringify({
                    code,
                    secret,
                    captcha
                }),
                sodium.from_base64(keyStore.sign.privateKey),
                'base64'
            )

			await client.userU2faConfigure({
                signature,
			});
			await utils.newNotification('Success', `2fa configured`, true, 'succ', 5000);
			// eslint-disable-next-line @typescript-eslint/no-explicit-any
		} catch (e: any) {
			console.log(e);
			const err = e.response?.errors[0] || e;
			await utils.newNotification('An error Occured', `${err.message}`, true, 'erro', 5000);
            loading = false;
            return
		}

        userU2faConfigured = (await client.userU2faConfigured()).userU2faConfigured;

		loading = false;
		configureModalOpen = false;
	};


    const remove = async () => {
        loading = true;
		try {
            const keyStore = await auth.getKeys();
            await sodium.ready;
            const signature = sodium.crypto_sign(
                JSON.stringify({
                    remove: true,
                    code,
                    captcha
                }),
                sodium.from_base64(keyStore.sign.privateKey),
                'base64'
            )

			await client.userU2faRemove({
                signature,
			});
			await utils.newNotification('Success', `2fa removed`, true, 'succ', 5000);
			// eslint-disable-next-line @typescript-eslint/no-explicit-any
		} catch (e: any) {
			console.log(e);
			const err = e.response?.errors[0] || e;
			await utils.newNotification('An error Occured', `${err.message}`, true, 'erro', 5000);
            loading = false;
            return
		}

        userU2faConfigured = (await client.userU2faConfigured()).userU2faConfigured;

		loading = false;
		removeModalOpen = false;
    }

    const copySecret = async () => {
        navigator.clipboard.writeText(uri)
        utils.newNotification('Success', `copied secret to clipboard`, true, 'succ', 5000);
    }
</script>

<Modal show={configureModalOpen} place="top">
	<div class="card">
		<div>
			<h2>Configure 2 factor authentication</h2>

			<div class="d-flex justify-center">
				<img
					src="data:image/png;base64,{qr}"
					alt="2 factor authentication qr code"
					style="max-width: min(200px, 100vh); max-height: 200px;"
				/>
			</div>

			<h4>You can also use the code:</h4>
            <div class="d-flex flex-row gap-1">
                <Input type="text" value={uri} disabled={true} />
                <Btn variant="info" on:click={copySecret}>Copy </Btn>
            </div>
			<Input
				label="Time Code"
				type="text"
				bind:value={code}
				placeholder="00000000"
				classes="full"
			/>
			<br />

            <Captcha bind:token={captcha} show={configureModalOpen} />

			<Btn variant="succ" on:click={configure2fa}>Save</Btn>
			<Btn variant="erro" on:click={() => configureModalOpen = false}>Exit</Btn>
		</div>
	</div>
</Modal>

<Modal show={removeModalOpen} place="top">
	<div class="card">
		<div>
			<h2>Remove 2 factor authentication</h2>

			<Input
				label="Enter Time Code"
				type="text"
				bind:value={code}
				placeholder="00000000"
				classes="full"
			/>
			<br />
            <Captcha bind:token={captcha} show={removeModalOpen} />

			<Btn variant="erro" on:click={remove}>Remove 2 Factor Authentication</Btn>
			<Btn variant="succ" on:click={() => removeModalOpen = false}>Exit</Btn>
		</div>
	</div>
</Modal>

<h3>Managing 2fa</h3>
{#if loading}
    <div class="d-flex justify-center">
        <Spinner size="xl" />
    </div>
{:else if userU2faConfigured}
    <Btn on:click={() => configureModalOpen = true} variant="warn">Re-Configure 2 factor Authentication</Btn>
    <Btn on:click={() => removeModalOpen = true} variant="erro">Remove 2 factor Configuration</Btn>
{:else}
    <Btn on:click={() => configureModalOpen = true}>Configure 2 factor Authentication</Btn>
{/if}
