<script lang="ts">
	import { browser } from '$app/environment';
	import { auth } from '$store/auth';
	import type { ClientType } from '$lib/gql';
	import type { GSession } from '$gql/index';
	import type { User } from '$types/user';
	import { Btn, Dots, Icon, Skeleton, SkeletonBox, Spinner, utils } from '@higenku/theme';
    import sodium from "libsodium-wrappers"

	let client: ClientType;
	let user: User;
	let loading = true;
	let inAction = false;
	let userSessions: GSession[];

	export { client, user };

	interface SessionDetails {
		id: string;
		system: string;
		browser: string;
		locked: boolean;
		raw: GSession;
	}

	const deleteAllOtherSessions = async () => {
		inAction = true;
		let sess = userSessions.filter((s) => s.id !== user._id);

		if (sess.length == 0) {
			await utils.newNotification(
				'An error Occured',
				`There is only one session`,
				true,
				'erro',
				5000
			);
			inAction = false;
			return;
		}

		try {
            await sodium.ready;
			const keyStore = await auth.getKeys();
			const privKey = sodium.from_base64(keyStore.sign.privateKey);
			const signature = sodium.crypto_sign(
				JSON.stringify({
					ids: sess.map(s => s.id)
				}),
				privKey,
				'base64'
			);

			let res = await client.userSessionDelete({
				signature
			});

			if (!res.userSessionDelete) {
				throw new Error(`Failed to delete all other sessions`);
			}

			utils.newNotification(
				`Success`,
				`Successfully deleted all other sessions`,
				true,
				'succ',
				5000
			);
		} catch (e: any) {
			// eslint-disable-next-line @typescript-eslint/no-explicit-any
			console.log(e);
			const err = e.response?.errors[0] || e;
			await utils.newNotification('An error Occured', `${err.message}`, true, 'erro', 5000);
		} finally {
			inAction = false;
			loading = true;
			onLoad();
		}
	};

	const deleteSession = async (raw: GSession) => {
		inAction = true;
        console.log(raw.id)
		try {
			const keyStore = await auth.getKeys();
            console.log(1);
            console.log(keyStore.sign.privateKey);
            await sodium.ready;
			const privKey = sodium.from_base64(keyStore.sign.privateKey);
            console.log(`private key`, privKey);
			await sodium.ready;
			const signature = sodium.crypto_sign(
				JSON.stringify({
					ids: [raw.id]
				}),
				privKey,
				'base64'
			);


			let res = await client.userSessionDelete({
				signature,

			});
			console.log(2);

			if (!res.userSessionDelete) {
				throw new Error(`Failed to delete session "${raw}"`);
			}
			console.log(3);

			utils.newNotification(
				`Success`,
				`Successfully deleted session "${raw}"`,
				true,
				'succ',
				5000
			);
			console.log(4);
		} catch (e: any) {
			// eslint-disable-next-line @typescript-eslint/no-explicit-any
			console.log(e);
			const err = e.response?.errors[0] || e;
			await utils.newNotification('An error Occured', `${err.message}`, true, 'erro', 5000);
            throw e;
		} finally {
			inAction = false;
			loading = true;
			onLoad();
		}
	};

	const getSessionDetails = (sessions: GSession[]): SessionDetails[] => {
		const newSessions: SessionDetails[] = [];
		for (const sess of sessions) {
			const agent_parts = sess.userAgent.split(' ');

			newSessions.push({
				id: sess.id,
				browser: agent_parts[1],
				system: agent_parts[0],
				locked: sess.locked,
				raw: sess
			});
		}

		return newSessions;
	};

	const onLoad = async () => {
		try {
			const res = await client.userSessions();
			userSessions = res.userSessions;

			loading = false;
		} catch (e: any) {
			// eslint-disable-next-line @typescript-eslint/no-explicit-any
			console.log(e);
			const err = e.response?.errors[0] || e;
			await utils.newNotification('An error Occured', `${err.message}`, true, 'erro');
		}
	};

	if (browser) onLoad();
</script>

<h3>Session on Devices</h3>

{#if loading}
	<div class="d-flex justify-center my-1">
		{#each new Array(3) as _}
			<div class="card my-1 d-flex flex-row justify-between w-100">
				<div style="min-width: 10ch;" class="mr-1">
					<div>
						<SkeletonBox size="lg" />
					</div>
					<br />

					<Skeleton />
				</div>

				<div style="min-width: 10ch;">
					<Btn>Loading <Dots /></Btn>
					<br />
					<br />
					<Skeleton lineCount={2} />
				</div>
			</div>
		{/each}
	</div>
{:else}
	{#if inAction}
		<Btn disabled>
			<div class="d-flex flex-row items-center justify-center">
				<Spinner />
			</div>
		</Btn>
	{:else}
		<Btn on:click={deleteAllOtherSessions} variant="erro">Delete all other sessions</Btn>
	{/if}

	{#each getSessionDetails(userSessions) as session}
		<div class="card my-1 d-flex flex-row justify-between">
			<div>
				{#if session.system == 'Linux'}
					<Icon name="linux" variant="simple" />
				{:else if session.system == 'Android'}
					<Icon name="android" variant="simple" />
				{:else if session.system == 'Apple'}
					<Icon name="apple" variant="simple" />
				{:else if session.system == 'Windows'}
					<Icon name="windowsxp" variant="simple" />
				{:else if session.system == 'Unknown_Os'}
					<Icon name="monitor" variant="feather" />
				{/if}

				<h4 style="width: fit-content;" class="d-inline">{session.browser}</h4>
				<br />
				<p>ID: {session.id}</p>
			</div>

			<div>
				{#if inAction}
					<Btn disabled>
						<div class="d-flex flex-row items-center justify-center">
							<Spinner />
						</div>
					</Btn>
				{:else}
					
                    {#if session.locked}
                        <p class="text-color cl-erro">Locked and Scheduled for deletion</p>
                    {:else}
                        <Btn variant="erro" on:click={() => deleteSession(session.raw)}>
                            Delete Session
                        </Btn>

                        {#if session.id == user._id}
                            <p class="text-color cl-succ">current session</p>
                        {/if}
                    {/if}
				{/if}
			</div>
		</div>
	{/each}
{/if}
