<script lang="ts">
    import { createEventDispatcher } from "svelte";
    const dispatch = createEventDispatcher();
    let value: boolean = false;
    let disabled = false;
    let classes: string = "";
    let style: string = "";

    export { value, classes, style, disabled };
</script>

<div class="form-check {classes}" {style}>
    <label>
        <input
            tabindex="0"
            type="checkbox"
            {disabled}
            bind:checked={value}
            on:input
            on:change
            on:focus={(e) => dispatch("focus", e)}
            on:keydown
            on:keyup
            on:focus
            on:blur
        />
        <div tabindex="-1" class="form-check-square" />
        <slot />
    </label>
</div>
