<script lang="ts">
    import Icon from "../Icon.svelte";
    import { createEventDispatcher } from "svelte";
    const dispatch = createEventDispatcher();

    let accept: string = null;
    let files: File[] = [];
    let ref: HTMLInputElement = null;
    let message =
        "Attach as many files as you like, each file should not exceed 5mb";
    let title = "Drag files over or click to select them";

    let draggingOver = false;

    export { accept, files, ref, message, title };

    const clicked = () => ref.click();

    const dropped = (e) => {
        var dt = e.dataTransfer;
        var files = dt.files;
        change(files);
    };

    const change = (_files: FileList) => {
        for (let i = 0; i < _files.length; i++) {
            files = [...files, _files[i]];
        }

        draggingOver = false;

        dispatch("filechanged", { files });
    };

    const inputChanged = (e) => change(e.target.files);
</script>

<div
    class="form_file mt-1"
    class:shade-light={draggingOver}
    tabindex="0"
    on:keydown={(e) => {
        if (e.code == "Enter") clicked();
    }}
>
    <input
        style="z-index: 100;"
        class="v-hidden"
        bind:this={ref}
        {accept}
        on:change={inputChanged}
        placeholder="Select a file"
        type="file"
        multiple
    />
    <div
        class="d-flex flex-col  justify-center items-center"
        on:click={clicked}
        on:dragenter|preventDefault|stopPropagation
        on:dragover|preventDefault|stopPropagation={(e) => {
            draggingOver = true;
        }}
        on:dragleave={() => (draggingOver = false)}
        on:drop|preventDefault={dropped}
    >
        <Icon variant="remix" name="file-line" />
        <div>
            <h4 class="text-center">{title}</h4>
            <p>{message}</p>
        </div>
    </div>
</div>
