<script lang="ts">
    import { createEventDispatcher } from "svelte";
    const dispatch = createEventDispatcher();
    let label: string = null;
    let placeholder: string = "";
    let classes: string = "";
    let type: "email" | "password" | "text" = "text";
    let disabled = false;
    let value: string | null = null;
    let input: HTMLElement = null;
    let autocomplete = "username";

    export {
        disabled,
        label,
        placeholder,
        classes,
        type,
        value,
        input,
        autocomplete,
    };

    const onChange = (e) => {
        dispatch("change", e);
    };

    const onInput = (e) => {
        value = e.target.value;
        dispatch("input", value);
    };
</script>

{#if label !== null}
    <div class="form-label">{label}</div>
{/if}
<div class="form_input">
    <input
        bind:this={input}
        {autocomplete}
        {type}
        on:input={onInput}
        on:change={onChange}
        {value}
        on:focus={(e) => dispatch("focus", e)}
        on:keydown
        on:keyup
        on:focus
        on:blur
        {placeholder}
        class={classes}
        {disabled}
    />
</div>
