<script lang="ts" context="module">
    export interface SelectData {
        label: string;
        description?: string;
        value: string;
        image?: string;
    }
</script>

<script lang="ts">
    import { tick } from "svelte";
    import Image from "../Image.svelte";
    import Popover from "../Popover.svelte";

    let data: SelectData[];
    let preValue: SelectData[] = [];
    let value: SelectData[] = [];
    let label: string;
    let placeholder: string = "";

    export { data, value, label, placeholder };
    let index = 0;
    let sortedData: SelectData[] = data;
    let open = false;
    let selectElement: HTMLDivElement;
    let resultsElement: HTMLDivElement;

    const show = async () => {
        open = true;
    };
    const close = async () => {
        open = false
    };

    const select = (idx: any) => {
        const query = sortedData[idx];
        data.forEach((s) => {
            if (s.value == query.value) {
                value = [...value, s];
            }
        });

        sortedData = filterData(sortedData);
        open = true;
        selectElement.focus();
    };

    const search = async (e: KeyboardEvent) => {
        index = 0;
        const key = e.key.toLowerCase();
        let query = `${(e.target as HTMLInputElement).innerText.toLowerCase()}`;
        if (key == "backspace") query = query.substring(0, query.length - 1);
        else query = `${query}${key}`;

        let notFilter = data.filter(
            (s) =>
                s.label.toLowerCase().includes(query) ||
                s.description?.toLowerCase().includes(query)
        );

        sortedData = filterData(notFilter);
        await tick();
    };

    const onKeyPressed = (e: KeyboardEvent) => {
        const key = e.key;

        if (
            key != "ArrowUp" &&
            key != "ArrowDown" &&
            key != "Enter" &&
            key != "Escape"
        ) {
            search(e);
            return;
        }
    };

    const onKeydown = (e: KeyboardEvent) => {
        const key = e.key;
        let moved = false;

        if (key != "Tab" && key != "Escape") show();

        if (key == "Enter") {
            e.preventDefault();
            select(index);
        }

        if (key == "Backspace") search(e);

        if (key == "Escape") selectElement.blur();

        if (key == "ArrowDown") {
            if (index == sortedData.length - 1) return;
            index += 1;
            moved = true;
        }

        if (key == "ArrowUp") {
            if (index == 0) return;
            index -= 1;
            moved = true;
        }

        if (moved) {
            const element = resultsElement.querySelector(
                `[data-idx="${index}"]`
            );

            if (!element) return;

            element.scrollIntoView({
                behavior: "smooth",
                block: "nearest",
                inline: "nearest",
            });
        }
    };

    const filterData = (sortedData: SelectData[]): SelectData[] => {
        const selectedValues: string[] = value.map((s) => s.value);

        let toReturn: SelectData[] = [];

        for (let ele of sortedData) {
            if (selectedValues.includes(ele.value)) continue;

            toReturn.push(ele);
        }

        return toReturn;
    };

    const clickHandler = (e: Event) => {
        console.log(e);
        if (!e.target)
            return;
        
        const target: HTMLElement = e.target as any;


        const ignore = target.getAttribute("focus-ignore") === "true" ? true : false
        
        if(!ignore)
            selectElement.focus() 
        else {
            const value = target.getAttribute("x-value");
            if (!value) return;
            removeItem(value)
        }
        
    }


    const removeItem = (rmValue: string) =>  {
        value = value.filter(x => x.value != rmValue)
    }
</script>

<label class="form-label" for="Select">{label}</label>

<div class="form_multiselect" on:keydown={() => {}} on:click={clickHandler}>
    <div class="select">
        {#each value as val}
            <span class="badge info" x-value="{value}" focus-ignore="true">{val.label}</span>
        {/each}
        <div
            focus-ignore="false"
            class="select"
            bind:this={selectElement}
            on:keypress={onKeyPressed}
            on:keydown={onKeydown}
            on:focus={show}
            on:blur={close}
            contenteditable="true"
            {placeholder}
        />

        <Popover bind:open style="width: 400px;">
            <div
                class="card"
                style="max-height: 250px; overflow-y: auto; margin: 0; padding: 0;"
                bind:this={resultsElement}
            >
                {#if open}
                    {#if sortedData.length > 0}
                        {#each sortedData as data, idx}
                            <div
                                style="margin: 2.5px 0; cursor: pointer; padding: 5px 0;"
                                class:active={idx == index}
                                class="d-flex flex-row option"
                                data-idx={idx}
                                on:click={() => select(idx)}
                                on:keydown={() => {}}
                            >
                                {#if data.image}
                                    <Image
                                        classes="avatar squared"
                                        src={data.image}
                                        lazy={true}
                                        size="md"
                                        alt="{data.label} image"
                                    />
                                {/if}

                                <div class="mx-1">
                                    <p style="margin: 0;">{data.label}</p>
                                    {#if data.description}
                                        <p
                                            style="color: rgb(134, 142, 150); margin: 0;"
                                        >
                                            {data.description}
                                        </p>
                                    {/if}
                                </div>
                            </div>
                        {/each}
                    {/if}
                {/if}
            </div>
        </Popover>
    </div>
</div>
