<script lang="ts">
    import Icon from "../Icon.svelte";

    let label: string = "";
    let placeholder: string = "";
    let classes: string | null = null;
    let style: string | null = null;
    let value: string;
    let autocomplete: "current-password" | "new-password" = "current-password";

    export { label, placeholder, classes, style, value, autocomplete };

    let input: HTMLInputElement;
    let show = false;
    const changed = (e) => {
        value = input.value;
    };
</script>

{#if label !== null}
    <div class="form-label">{label}</div>
{/if}
<div class="form_input {classes} " {style}>
    <input
        bind:this={input}
        {placeholder}
        type={show ? "text" : "password"}
        class="has-append"
        on:change={changed}
        {autocomplete}
        on:input
        on:focus
        on:keydown
        on:keyup
        on:focus
        on:blur
    />

    <div
        class="append d-flex justify-center items-center h-100"
        on:click={() => (show = !show)}
    >
        {#if !show}
            <Icon variant="remix" name="eye-line" size="xs" />
        {:else}
            <Icon variant="remix" name="eye-off-line" size="xs" />
        {/if}
    </div>
</div>
