<script lang="ts" context="module">
    export interface SelectData {
        label: string;
        description?: string;
        value: string;
        image?: string;
    }

</script>

<script lang="ts">
    import { tick } from "svelte";
    import Dots from "../Dots.svelte";

    import Image from "../Image.svelte";
    import Popover from "../Popover.svelte";

    let data: SelectData[];
    let preValue: SelectData;
    let value: SelectData | null = null;
    let label: String;
    let placeholder: string = "";

    export { data, value, label, placeholder };
    let index = 0;
    let sortedData: SelectData[] = data;
    let open = false;
    let inputElement: HTMLInputElement;
    let resultsElement: HTMLDivElement;

    const show = async () => {
        open = true;
    };
    const close = async () => {
        inputElement.value = preValue?.value ?? "";
        setTimeout(() => (open = false), 200);
    };

    const select = (idx: any) => {
        const query = sortedData[idx].value;
        data.forEach((s) => {
            if (s.value == query) {
                inputElement.value = s.label;
                value = s;
                preValue = s;
            }
        });
    };

    const search = async (e: KeyboardEvent) => {
        index = 0;
        const key = e.key.toLowerCase();
        let query = `${(e.target as HTMLInputElement).value.toLowerCase()}`;
        if (key == "backspace") query = query.substring(0, query.length - 1);
        else query = `${query}${key}`;

        sortedData = data.filter(
            (s) =>
                s.label.toLowerCase().includes(query) ||
                s.description?.toLowerCase().includes(query)
        );
        await tick();
    };

    const onKeyPressed = (e: KeyboardEvent) => {
        const key = e.key;

        if (
            key != "ArrowUp" &&
            key != "ArrowDown" &&
            key != "Enter" &&
            key != "Escape"
        ) {
            search(e);
            return;
        }
    };

    const onKeydown = (e: KeyboardEvent) => {
        const key = e.key;

        if (key != "Tab" && key != "Escape") show();

        if (key == "ArrowDown") {
            if (index == sortedData.length - 1) return;
            index += 1;
        }

        if (key == "ArrowUp") {
            if (index == 0) return;
            index -= 1;
        }

        if (key == "Enter") {
            e.preventDefault();
            select(index);
            close();
        }

        if (key == "Backspace") search(e);

        if (key == "Escape") inputElement.blur();

        const element = resultsElement.querySelector(`[data-idx="${index}"]`);

        if (!element) return;

        element.scrollIntoView({
            behavior: "smooth",
            block: "nearest",
            inline: "nearest",
        });
    };
</script>

<label class="form-label" for="Select">{label}</label>

<div class="form_input select">
    <input
        type="text"
        bind:this={inputElement}
        on:keypress={onKeyPressed}
        on:keydown={onKeydown}
        on:focus={show}
        on:blur={close}
        {placeholder}
    />
    <Popover bind:open classes="w-100">
        <div
            class="card"
            style="max-height: 250px; overflow-y: auto; margin: 0; padding: 0;"
            bind:this={resultsElement}
        >
            {#if open}
                {#if sortedData.length > 0}
                    {#each sortedData as data, idx}
                        <div
                            style="margin: 2.5px 0; cursor: pointer; padding: 5px 0;"
                            class:active={idx == index}
                            class="d-flex flex-row option"
                            data-idx={idx}
                            on:click={() => select(idx)}
                            on:keypress
                        >
                            {#if data.image}
                                <Image
                                    classes="avatar squared"
                                    src={data.image}
                                    lazy={true}
                                    size="md"
                                    alt="{data.label} image"
                                />
                            {/if}

                            <div class="mx-1">
                                <p style="margin: 0;">{data.label}</p>
                                {#if data.description}
                                    <p
                                        style="color: rgb(134, 142, 150); margin: 0;"
                                    >
                                        {data.description}
                                    </p>
                                {/if}
                            </div>
                        </div>
                    {/each}
                {:else}
                    <div class="p-1 card">
                        <p>No results found <Dots /></p>
                    </div>
                {/if}
            {/if}
        </div>
    </Popover>
</div>
