<script>
	import VideoPlayer from '$lib/VideoPlayer.svelte';
</script>

<VideoPlayer
	title="hello"
	type="odysee"
	src="befreeonlbry/56cbb8e075d0f1971b311c9c9d82e0bf91919710"
	height="400px"
	width="800px"
/>
<br /><br />
<VideoPlayer 
    title="hello" 
    type="youtube" 
    src="qXUl3VsbA6o" 
    height="400px" 
    width="800px" 
/>
