@mixin dark-colors {
    //! Default
    --cl-defa: #98a2b3;
    --cl-info: #36a2ef;
    --cl-acce: #f68fbe;
    --cl-succ: #7dded8;
    --cl-warn: #f3d371;
    --cl-erro: #f86b63;
    
    //! Text
    --cl-txt-text: #dfe5ef;
    --cl-txt-subtitle: #7a7f89;
    --cl-txt-title: #dfe5ef;
    --cl-txt-defa: #36a2ef;
    --cl-txt-info: #36a2ef;
    --cl-txt-acce: #f68fbe;
    --cl-txt-succ: #7dded8;
    --cl-txt-warn: #f3d371;
    --cl-txt-erro: #f86b63;
    
    //! Shades
    --cl-shade-empty: #1d1e24;
    --cl-shade-lightest: #25262e;
    --cl-shade-light: #343741;
    --cl-shade-medium: #535966;
    --cl-shade: #98a2b3;
    --cl-shadeest: #d4dae5;
    --cl-shade-full: #ffffff;
    
    //! Other
    --cl-oth-page-back: #141519;
    --cl-oth-highlight: #2e2d25;
    --cl-oth-disabled: #515761;
    --cl-oth-disabled-txt: #515761;
    --cl-oth-ghost: #ffffff;
    --cl-oth-ink: #000000;   
}