@mixin light-colors {
    //! Default
    --cl-defa: #69707d;
    --cl-info: #0077cc;
    --cl-acce: #f04e98;
    --cl-succ: #00bfb3;
    --cl-warn: #fec514;
    --cl-erro: #bd271e;
    
    //! Text
    --cl-txt-text: #343741;
    --cl-txt-subtitle: #69707d;
    --cl-txt-title: #1a1c21;
    --cl-txt-defa: #69707d;
    --cl-txt-info: #0071c2;
    --cl-txt-acce: #c4407c;
    --cl-txt-succ: #007e77;
    --cl-txt-warn: #8a6a0a;
    --cl-txt-erro: #bd271e;
    
    //! Shades
    --cl-shade-empty: #ffffff;
    --cl-shadeest: #f5f7fa;
    --cl-shade: #d3dae6;
    --cl-shade-medium: #98a2b3;
    --cl-shade-dark: #69707d;
    --cl-shade-darkest: #343741;
    --cl-shade-full: #000000;
    
    //! Other
    --cl-page-back: #fafbfd;
    --cl-highlight: #fff9e8;
    --cl-disabled: #abb4c4;
    --cl-disabled-txt: #abb4c4;
    --cl-ghost: #ffffff;
    --cl-ink: #000000;
}