@mixin animated_logo-dark {
    --anilogo-base: #fff;
}

@mixin animated_logo-light {
    --anilogo-base: #000;
}

.animated_logo {
    position: relative;
    display: inline-block;

    &-icon {
        animation: 1s animatedLogoPulseAnimation cubic-bezier(0.694, 0.0482, 0.335, 1) infinite;
    }

    &::after {
        box-shadow: 0 0 2rem var(--anilogo-base);
        animation: 1s animatedLogoBasePulseAnimation cubic-bezier(0.694, 0.0482, 0.335, 1) infinite;
        background-color: var(--anilogo-base);
        position: absolute;
        content: "";

        top: 90%;
        left: 5%;

        width: 90%;
        height: 30%;

        border-radius: 50%;
        opacity: 0.2;
        z-index: 1;
    }

    @keyframes animatedLogoPulseAnimation {
        50% {
            transform: translateY(-0.9rem);
        }
    }

    @keyframes animatedLogoBasePulseAnimation {
        0% {
            opacity: 0.15;
        }
        50% {
            transform: scale(0.5);
            opacity: 0.05;
        }
        100% {
            opacity: 0.15;
        }
    }
}
