.skeleton_box {
    display: block;

    width: 100%;
    height: 100%;

    &-item {
        display: block;
        width: 100%;
        height: 100%;
        margin-bottom: 0.5rem;
        border-radius: 0.32rem;
        overflow: hidden;
        background: var(--skeleton-bac);
        position: relative;

        &::after {
            position: absolute;
            border-radius: 0.32rem;
            top: 0;
            left: 0;
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: var(--skeleton_i-bac);
            animation: 2s ease-in-out skeletonbox infinite;
        }
    }   
}

@keyframes skeletonbox {
    0% {
        left: -100%;
    }
    100% {
        left: 200%;
    }
}

.img[loading="lazy"] {
    margin-bottom: 1rem;
    position: relative;
    display: block;
    // width: 100%;
    // height: 100%;
    margin-bottom: 0.5rem;
    border-radius: 0.32rem;
    overflow: hidden;
    background: var(--skeleton-item-bac);

    &::after {
        position: absolute;
        border-radius: 0.32rem;
        top: 0;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: var(--skeleton-bac);
        animation: 2s ease-in-out skeletonbox infinite;
    }
}