@mixin skeleton-dark {
    --skeleton_i-bac: hsl(231, 9%, 15%);
    --skeleton-bac: hsl(227, 10%, 20%);

}

@mixin skeleton-light {
    --skeleton_i-bac: #dee6ed;
    --skeleton-bac: #b9c5cf;
}

.skeleton {
    width: 100%;
    display: block;

    &-item {
        display: block;
        width: 100%;
        height: 0.6rem !important;
        margin-bottom: 0.5rem;
        border-radius: 0.32rem;
        overflow: hidden;
        background: var(--skeleton-bac);
        position: relative;

        &::after {
            position: absolute;
            border-radius: 0.32rem;
            top: 0;
            left: 0;
            content: "";
            display: block;
            width: 50%;
            height: 100%;
            background: var(--skeleton_i-bac);
            animation: 3s ease-in-out skeleton infinite;
        }

        &:nth-child(2n) {
            width: 95%;
        }

        &:nth-child(3n) {
            width: 90%;
        }

        &:nth-child(4n) {
            width: 89%;
        }

        &.full {
            width: 100%;
        }
    }

    @keyframes skeleton {
        0% {
            left: -50%;
        }
        100% {
            left: 120%;
        }
    }
}
