@mixin spinner-dark {
    --spiner-brd: solid 2px #343741;
    --spiner-brd_col: #36a2ef #343741 #343741 #343741;
}

@mixin spinner-light {
    --spiner-brd: solid 2px #d3dae6;
    --spiner-brd_col: #0077cc #9dadc8 #9dadc8 #9dadc8;
}

.spinner {
    display: inline-block;
    border-radius: 50%;
    border-width: 1px;
    border: var(--spiner-brd);
    border-color: var(--spiner-brd_col);
    animation: spinnerAnimation 2s infinite linear;

    &.different {
        animation: spinnerAnimation 2s infinite alternate ease-in-out;
    }
}

@keyframes spinnerAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
