<script lang="ts">
    import { onMount } from "svelte";

    let editor;
    onMount(async () => {
        if (typeof document !== "undefined") {
            const { default: Quill } = await import("quill");
            const { registerShortcuts, Counter } = await import("./modules/shortcuts");


            Quill.register({
                'modules/counter': Counter
            });
            let e = new Quill(editor, {
                modules: {
                    toolbar: false,
                    history: false,
                    counter: {
                        container: '#counter',
                        unit: 'word'
                    },
                },
                theme: "snow",
                placeholder: "Write your story..."
            });
            registerShortcuts(e);
            console.log(`quill`, e)
        }
    });
</script>
<div id="counter"></div>
<div class="shade-empty">
</div>
<div bind:this={editor} class="shade-lightest" style="border: none; border-radius: 0 0 10px 10px;"></div>

<br>
