<script lang="ts">
	import { page } from '$app/stores';
	import client from '$lib/gql';
	import type { AppResponse } from '$gql/index';
	import { Btn, Card, Dots, Image, Skeleton, SkeletonBox, utils } from '@higenku/theme';
	import { onMount } from 'svelte';
	import { goto } from '$app/navigation';

	let loading = true,
		details: AppResponse,
		notFound = false,
		edit = false;
	const id = $page.params['id'];

	onMount(async () => {
		try {
			details = await (await client.app({ id })).app;
		} catch (e: any) {
			// eslint-disable-next-line @typescript-eslint/no-explicit-any
			console.log(e);
			const err = e.response?.errors[0] || e;

			if (err.message == 'App not found') {
				notFound = true;
				await utils.newNotification(
					'App not Found',
					`The app with id: ${id}<br>was not found`,
					true,
					'erro', 
                    5000
				);
			} else await utils.newNotification('An error Occured', `${err.message}`, true, 'erro', 5000);

			loading = false;
			return;
		}

		loading = false;
	});

</script>

{#if loading}
	<Card>
		<Skeleton lineCount={3} />
		<SkeletonBox style="max-width: 250px; min-width: 15ch; height: 20ch;" classes="my-1" />

		<Card classes="my-1">
			<Skeleton lineCount={5} />
		</Card>

		<Card classes="my-1">
			<Skeleton lineCount={6} />
		</Card>

		<div class="my-1">
			<Btn><Dots /></Btn>
			<Btn><Dots /></Btn>
			<Btn><Dots /></Btn>
		</div>
	</Card>
{:else if !edit}
	<Card>
		<h2>{details.name}</h2>

		<Image
			lazy={true}
			src={details.logo.length == 0
				? `https://avatars.dicebear.com/api/bottts/${details.name}.svg`
				: details.logo}
			alt="{details.name} Logo"
			style="max-width: 250px; min-width: 20ch;"
		/>

		<Card classes="my-1">
			<h3>Permissions</h3>
			{#each details.perms as perm}
				<p>{perm.name}</p>
				<p>{perm.metadata}</p>
			{/each}
		</Card>

		<Card classes="my-1">
			<h3>Other Details</h3>
			<p>
				Id: <span style="background-color: var(--cl-shade-light); width: fit-content; padding: 0.2rem; border-radius: 0.3rem;"
					>{details.id}</span
				>
			</p>
			<p>
				Name: 
                    <span style="background-color: var(--cl-shade-light); width: fit-content; padding: 0.2rem; border-radius: 0.3rem;"
					>{details.name}</span
				>
			</p>
			<p>
				Redirect URI: <span style="background-color: var(--cl-shade-light); width: fit-content; padding: 0.2rem; border-radius: 0.3rem;"
					>{details.redirectUri}</span
				>
			</p>
		</Card>

		<div class="my-1">
			<Btn variant="info" on:click={() => goto(`/dev/app/${details.id}/edit`)}>Edit</Btn>
			<Btn on:click={() => goto('/dev/')}>Back</Btn>
		</div>
	</Card>
{/if}
