@mixin alert-dark {
    //? info
    --alert-brd-info: #1ba9f5;
    --alert-bac-info: #08334a;

    //? warn
    --alert-brd-warn: #ffce7a;
    --alert-bac-warn: #4d3e25;

    //? erro
    --alert-brd-erro: #f66;
    --alert-bac-erro: #4d1f1f;

    //? succ
    --alert-brd-succ: #7de2d1;
    --alert-bac-succ: #26443f;
}

@mixin alert-light {
    //? info
    --alert-brd-info: #006bb4;
    --alert-bac-info: #e6f0f8;

    //? warn
    --alert-brd-warn: #f5a700;
    --alert-bac-warn: #fef6e6;

    //? erro
    --alert-brd-erro: #bd271e;
    --alert-bac-erro: # ;

    //? succ
    --alert-brd-succ: #017d73;
    --alert-bac-succ: #e6f2f1;
}

//! Implementation
.alert {
    // border-left: 2px solid transparent;
    padding: 1rem;

    border-radius: 10px;
    
    color: var(--alert-tex);
    background-color: var(--alert-bac);
    border-color: var(--alert-brd); // old border

    &.margint {
        margin-top: 5px;
    }

    &.marginb {
        margin-bottom: 5px;
    }

    &-title {
        color: var(--alert-brd);
        font-size: 2rem;
    }

    // color variants
    &.info {
        --alert-tex: var(--alert-tex-info);
        --alert-brd: var(--alert-brd-info);
        --alert-bac: var(--alert-bac-info);
    }

    &.succ {
        --alert-tex: var(--alert-tex-succ);
        --alert-brd: var(--alert-brd-succ);
        --alert-bac: var(--alert-bac-succ);
    }

    &.warn {
        --alert-tex: var(--alert-tex-warn);
        --alert-brd: var(--alert-brd-warn);
        --alert-bac: var(--alert-bac-warn);
    }

    &.erro {
        --alert-tex: var(--alert-tex-erro);
        --alert-brd: var(--alert-brd-erro);
        --alert-bac: var(--alert-bac-erro);
    }
}
