@mixin badge-dark {
    --badge-brd: hsl(218, 28%, 76%);

    //? default
    --badge-bac: hsl(218, 28%, 76%);
    --badge-text: hsl(0, 0%, 0%);

    //? info
    --badge-bac-info: hsl(205, 85%, 57%);
    --badge-text-info: hsl(0, 0%, 0%);

    //? succ
    --badge-bac-succ: hsl(163, 91%, 63%);
    --badge-text-succ: hsl(0, 0%, 0%);

    //? warn
    --badge-bac-warn: hsl(48, 82%, 69%);
    --badge-text-warn: hsl(0, 0%, 0%);

    //? error
    --badge-bac-erro: rgb(255, 126, 98);
    --badge-text-erro: hsl(0, 0%, 0%);
}

@mixin badge-light {
    --badge-brd: var(--badge-bac);

    //? default
    --badge-bac: #81c2ee;
    --badge-text: hsl(226, 11%, 23%);

    //? info
    --badge-bac-info: hsl(218, 28%, 76%);
    --badge-text-info: hsl(0, 0%, 0%);

    //? succ
    --badge-bac-succ: hsl(163, 48%, 61%);
    --badge-text-succ: hsl(0, 0%, 0%);

    //? warn
    --badge-bac-warn: hsl(48, 82%, 69%);
    --badge-text-warn: hsl(0, 0%, 0%);

    //? erro
    --badge-bac-erro: hsl(11, 100%, 69%);
    --badge-text-erro: hsl(0, 0%, 0%);
}


//! Implementation
.badge {
    max-width: 100%;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;

    font-weight: 500;
    font-size: 12px;

    margin: 0.05rem;
    border-radius: 0.35em;
    padding: 0.15rem 0.3rem;
    border: solid 1px transparent;

    & > a {
        text-decoration: none;
        color: inherit;
    }

    background-color: var(--badge-bac);
    border-color: var(--badge-brd);
    color: var(--badge-text);

    // color variants
    &.info {
        --badge-bac: var(--badge-bac-info);
        --badge-brd: var(--badge-bac-info);
        --badge-text: var(--badge-text-info);
    }

    &.succ {
        --badge-bac: var(--badge-bac-succ);
        --badge-brd: var(--badge-bac-succ);
        --badge-text: var(--badge-text-succ);
    }

    &.warn {
        --badge-bac: var(--badge-bac-warn);
        --badge-brd: var(--badge-bac-warn);
        --badge-text: var(--badge-text-warn);
    }

    &.erro {
        --badge-bac: var(--badge-bac-erro);
        --badge-brd: var(--badge-bac-erro);
        --badge-text: var(--badge-text-erro);
    }
}
