@forward "./responsive";
@forward "./minireset";

@mixin base-dark {
    --text-color: hsl(217, 33%, 91%);
    --body-color: hsl(231, 11%, 13%);
    --scroll-color: #98a2b380;
    --scroll-background: #242529;
    --a: #36a2ef;
}

@mixin base-light {
    --text-color: hsl(226, 11%, 23%);
    --body-color: hsl(0, 0%, 100%);
    --scroll-color: #69707d80;
    --scroll-background: #f3f3f5;
    --a: #0071c2;
}

::selection {
    background-color: var(--highlight-bac);
}

.bar {
    font-weight: 600;
    margin: 24px 0px 16px;
    scroll-margin-top: 90px;
    padding-bottom: 4px;
    font-size: 24px;
    border-top: 1px solid rgb(225, 228, 232);
    border-color: rgb(72, 78, 81);
}

input,
select,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: var(--a);
    text-decoration: none;
    font-weight: 500;
}

b {
    font-weight: 800;
}

body {
    position: relative; // allows ctxmenu to work correctly
    font-family: 'Manrope', sans-serif, "Segoe UI Emoji","Segoe UI Symbol";
    height: 100vh;
    padding: 0;
    color: var(--text-color);
    background-color: var(--body-color);
}
html {
    /* Firefox */
    scrollbar-color: var(--scroll-color) var(--scroll-background);
    
    scroll-behavior: smooth;

    /* Webkit based browsers */
    ::-webkit-scrollbar {
        width: 0.5rem;
    }

    ::-webkit-scrollbar-track {
        background-color: var(--scroll-background);
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--scroll-color);
    }
}

@media (max-width: 959px) {
    html {
        font-size: 15px;       
    }
}