// Themes
@mixin button-dark {
    //? default
    --btn-box: 0 2px 2px -1px #000;
    --btn-bac-color: #8995a8;
    --btn-brd-color: #8995a8;
    --btn-text-color: #000;

    //? info
    --btn-bac-color-info: #0a9dec;
    --btn-brd-color-info: #0a9dec;

    //? warn
    --btn-bac-color-warn: #ffc561;
    --btn-brd-color-warn: #ffc561;
    --btn-text-color-warn: #000;

    //? erro
    --btn-bac-color-erro: #ff4d4d;
    --btn-brd-color-erro: #ff4d4d;

    //? succ
    --btn-bac-color-succ: #7de2d1;
    --btn-brd-color-succ: #7de2d1;

    //? disa
    --btn-text-color-disa: #757678;
    --btn-bac-color-disa: #434548;
    --btn-brd-color-disa: #434548;
}

@mixin button-light {
    //? default
    --btn-box: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
    --btn-bac-color: #5d646f;
    --btn-brd-color: #5d646f;
    --btn-text-color: #fff;

    //? info
    --btn-bac-color-info: #005c9b;
    --btn-brd-color-info: #005c9b;

    //? warn
    --btn-bac-color-warn: #f5a700;
    --btn-brd-color-warn: #f5a700;
    --btn-text-color-warn: #000;

    //? erro
    --btn-bac-color-erro: #be1f16;
    --btn-brd-color-erro: #be1f16;

    //? succ
    --btn-bac-color-succ: #017d73;
    --btn-brd-color-succ: #01645c;

    //? disa
    --btn-text-color-disa: #88888b;
    --btn-bac-color-disa: #c2c3c6;
    --btn-brd-color-disa: #c2c3c6;
}

.btn {
    // Default
    cursor: pointer;
    appearance: none;
    min-height: 2.5rem;

    margin-top: 0.2rem;
    margin-bottom: 0.2rem;

    min-width: 5rem;

    font-size: 1rem;
    padding: 0 0.5rem;
    border-radius: 4px;
    transition: all 0.2s;

    border: solid 1px transparent;
    box-shadow: var(--btn-box);
    color: var(--btn-text-color);
    background-color: var(--btn-bac-color);
    border-color: var(--btn-brd-color);

    a & {
        padding: 0 0.5rem;
        display: inline-block;
        text-align: center;
    }

    &:hover {
        transform: translateY(-2px);
    }
    &:active {
        transform: translateY(2px);
    }

    // color variants
    &.info {
        --btn-bac-color: var(--btn-bac-color-info);
        --btn-brd-color: var(--btn-brd-color-info);
    }

    &.succ {
        --btn-bac-color: var(--btn-bac-color-succ);
        --btn-brd-color: var(--btn-brd-color-succ);
    }

    &.warn {
        --btn-bac-color: var(--btn-bac-color-warn);
        --btn-brd-color: var(--btn-brd-color-warn);
        --btn-text-color: var(--btn-text-color-warn);
    }

    &.erro {
        --btn-bac-color: var(--btn-bac-color-erro);
        --btn-brd-color: var(--btn-brd-color-erro);
    }

    // disable variant
    &:disabled {
        --btn-text-color: var(--btn-text-color-disa);
        --btn-bac-color: var(--btn-bac-color-disa);
        --btn-brd-color: var(--btn-brd-color-disa);

        pointer-events: auto;
        cursor: not-allowed;

        &:hover,
        &:active {
            transform: none;
        }
    }

    &.full {
        width: 100%;
    }
}
