@mixin card-dark {
    --card-bac: hsl(231, 11%, 13%);
    --card-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 3.6px 13px rgba(0, 0, 0, 0.175), 0 8.4px 23px rgba(0, 0, 0, 0.15),
        0 23px 35px rgba(0, 0, 0, 0.125);
}

@mixin card-light {
    --card-bac: hsl(0, 0%, 100%);
    --card-shadow: 0 1px 5px rgba(0, 0, 0, 0.1), 0 3.6px 13px rgba(0, 0, 0, 0.07), 0 8.4px 23px rgba(0, 0, 0, 0.06),
        0 23px 35px rgba(0, 0, 0, 0.05);
}

.card {
    background-color: var(--card-bac);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 0.7rem;
    box-shadow: var(--card-shadow);
}
