.cmdpallet {
    max-height: 400px;
    overflow-y: auto;

    .cmd {
        border-radius: 0.5rem;
        padding: 0.2rem 0.5rem;
        outline: none;
        appearance: none;
        
        &:hover, &:focus {
            appearance: none;
            outline: none;
            background-color: var(--cl-shade-light);    
        }
    }

}