// Loading animation similar to Primer/css loading... animation
.dots {
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;

    &::after {
        display: inline-block;
        content: "...";
        animation: dots-animation 2s steps(4, jump-none) infinite;
    }

    @keyframes dots-animation {
        0% {
            transform: translateX(-100%);
        }
    }
}
