@mixin highlight-dark {
    --highlight: #DFE5EF;
    --highlight-bac: #36a2ef33;
}

@mixin highlight-light {
    --highlight: #343741;
    --highlight-bac: #0077cc1a;
}

.highlight {
    background: var(--highlight-bac);
    font-weight: 700;
    color: var(--highlight);
}