@mixin icon-dark {
    --icon-color: invert(100%);
}

@mixin icon-light {
    --icon-color: invert(0%);
}

// Svg Icon, mainly used for colors
.icon {
    filter: var(--icon-color);
    color: white;

    &.lazy {
        content: normal;
    }
}
