@use "./card" as *;

@mixin ctxmenu-dark {
    --drop_header-border: #343741;
}

@mixin ctxmenu-light {
    --drop_header-border: #d3dae6;
}

.menu {
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows:  1fr;
    overflow: hidden;
    border-radius: 6px;
    position: relative;
    padding: 0;
    @extend .card;

    & .card {
        padding: 0;
    }

    &-section {
        width: 100%;
        grid-column: 1;
        grid-row: 1;
        min-width: 200px;
        top: 0;
        left: 0;
    }

    &-header {
        word-break: break-word;

        font-size: 14px;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.71429rem;

        padding: 12px;
        text-align: left;
        outline-offset: -2px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--drop_header-border);
        line-height: 1.71429rem;
        font-weight: 700;
    }

    &-item {
        display: block;
        padding: 12px;
        width: 100%;
        text-align: left;

        list-style: none;
        text-decoration: none;
        color: inherit;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 119, 204, 0.1);
            background-color: rgba(54, 162, 239, 0.2);
        }
    }

    &-divider {
        display: block;
        height: 0;
        margin: 8px 0;
        border-top: 1px solid var(--drop_header-border);
    }
}
