/* minireset.css v0.0.6 | MIT License | https://github.com/jgthms/minireset.css */

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 16px;
    font-weight: normal;
}

ul {
    list-style: none;
}

button, input, select {
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img, video {
    height: auto;
    max-width: 100%;
}

iframe {
    border: 0;
}