.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.5);
    display: grid;
    place-items: start;
    justify-content: center;
    overflow: auto;
    
    // Position variants
    &.place-center {
        place-items: center;
    }
    
    &.place-bottom {
        place-items: bottom;
    }
    
    &.place-top {
        place-items: start;

        &.space {
            padding-top: 100px;
        }
    }
}


@mixin media-modal {
    .modal {
        &.place-top {
            place-items: start;

            &.space {
                padding-top: 0;
            }
        }
    }
}