@mixin nav-dark {
    --nav-shadow: 0 0.7px 1.4px rgb(0 0 0 / 18%), 0 1.9px 4px rgb(0 0 0 / 13%),
        0 4.5px 10px rgb(0 0 0 / 13%);
    --nav-bac: #1d1e24;
    --nav-brd: 1px solid #131417;
    --nav-active: #36a2ef;
}

@mixin nav-light {
    --nav-shadow: 0 0.7px 1.4px rgb(0 0 0 / 7%), 0 1.9px 4px rgb(0 0 0 / 5%),
        0 4.5px 10px rgb(0 0 0 / 5%);
    --nav-bac: #fff;
    --nav-brd: 1px solid #cdd3df;
    --nav-active: #0071c2;
}

.nav {
    height: 65px;
    z-index: 500;

    & > * {
        margin: 0;
    }
    padding: 0.1rem 1rem;
    position: relative;
    color: var(--text-color);

    display: flex;
    justify-content: start;

    border-bottom: var(--nav-brd);
    background: var(--nav-bac);
    box-shadow: var(--nav-shadow);

    &.no_border {
        border-bottom: none;
    }

    &-toggle {
        display: none;
    }

    &-logo {
        margin: auto 0;
        height: 100%;
        display: flex;
        align-items: flex-start;
        cursor: pointer;
        justify-content: center;
        align-content: center;
        flex-wrap: nowrap;

        &-img {
            margin: auto 0;
            border-radius: 5px;
        }
    }

    &-title {
        font-size: 1.5rem;
        font-weight: 700;
        margin-left: 0.5rem;
        margin-top: auto;
        margin-bottom: auto;
    }

    &-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    // use to make the skip to main content
    &-keyboard-helper {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -100px);
        transition: all 100ms;
        cursor: pointer;

        &:focus {
            transform: translate(-50%, 15%);
        }
    }

    &-item {
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0 0.6rem;
        cursor: pointer;
        text-decoration: none;

        color: var(--cl-txt-text);

        &.active {
            font-weight: 600;
            color: var(--nav-active);
            border-bottom-style: groove;
        }
    }
}

@mixin media-nav {
    .nav {
        height: fit-content;
        min-height: 65px;
        padding: 0.7rem 0;
        justify-content: space-around;
        

        flex-direction: column;
        align-items: start;
        transition: all 1s ease;

        &-toggle {
            display: block;
        }

        &-logo {
            justify-content: space-between;
            width: 97%;
            margin: 0 0.5rem;
        }

        &-title {
            align-self: flex-start;
        }

        // &-item {
            // margin: 1rem 0.5rem;
        // }

        &-content {
            display: none;
            // width: 100%;
            // flex-direction: column;
            &.show {
                display: flex;
            }
        }
    }
}
