@mixin notification-dark {
    --not-bac: rgb(37, 38, 43);
    --not-brd: rgb(37, 38, 43);
    --not-text: rgb(193, 194, 197);
}

@mixin notification-light {
    --not-bac: rgb(255, 255, 255);
    --not-brd: rgb(233, 236, 239);
    --not-text: rgb(33, 37, 41);
}


.notification {
    min-width: 250px;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    padding: 0px 10px 0px 20px;
    border-radius: 4px;
    background-color: var(--not-bac);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px, rgba(0, 0, 0, 0.05) 0px 28px 23px -7px, rgba(0, 0, 0, 0.04) 0px 12px 12px -7px;
    border: 1px solid var(--not-brd);
    margin-bottom: 16px;


    .closebtn {
        border: 1px solid transparent;
        color: rgb(206, 212, 218);
        background-color: transparent;
        appearance: none;
        box-sizing: border-box;

        height: 28px;
        min-height: 28px;
        width: 28px;
        min-width: 28px;

        border-radius: 4px;
        padding: 0px;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &-content {
        width: 100%;
        // color: rgb(193, 194, 197);
        color: var(--not-text);
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 6px;
        top: 4px;
        bottom: 4px;
        left: 4px;
        border-radius: 4px;
        background-color: var(--btn-bac-color);
    }

    &.info { --btn-bac-color: var(--btn-bac-color-info) }
    &.succ { --btn-bac-color: var(--btn-bac-color-succ) }
    &.warn { --btn-bac-color: var(--btn-bac-color-warn) }
    &.erro { --btn-bac-color: var(--btn-bac-color-erro) }
}

.notifications {
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 1000;
    overflow-y: auto;
    max-height: 100vh;
}