@mixin page-dark {
    --page-sidebar-bac: #141519;
}

@mixin page-light {
    --page-sidebar-bac: #fafbfd;
}

.page {
    --page-max-height: calc(100vh - 65px);
    position: relative;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;

    height: var(--page-max-height);
    flex-shrink: 0;
    max-width: 100%;

    
    &-sidebar {
        background-color: var(--page-sidebar-bac);
        padding: 0 .8rem;
        min-width: 180px;
        overflow-y: scroll;
        height: var(--page-max-height);
    }
    
    &-toc {
        padding: 0 1rem;
        font-size: 14px;
        min-width: 240px;
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: var(--page-max-height);
    }

    &-toggle {
        display: none;
        position: absolute;
        top: 1rem;
        left: .5rem;
    }

    &-content {
        margin-top: 1.5rem;
        padding: 0 1.5rem;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        max-height: var(--page-max-height);
    }
}

@mixin media-page {
    .page {
        // flex-direction: column;
        grid-template-columns:  1fr 0rem;
        
        &-sidebar {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: none;

            &.show {
                display: block;
            }

            &-toc {
                display: none;
            }
            &-toggle {
                display: block;
            }
        }

    }
}
