@mixin pop-dark {
    --pop-shadow: 0 16px 32px rgba(1, 4, 9, 0.85);
}

@mixin pop-light {
    --pop-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
}

.popover {
    display: none;
    z-index: 100;
    
    
    transition: max-height 1s ease-out;
    // max-height: 0;
    // overflow: hidden;
    
    &-content {
        box-shadow: var(--pop-shadow);
    }

    &.show {
        display: block;
        // max-height: 500px;
    }
}
