@mixin progress-dark {
    --progress-color: hsl(110, 85%, 30%);
    --progress-bac: hsl(226, 11%, 23%);
}

@mixin progress-light {
    --progress-bac: #d3dae6;
    --progress-color: hsl(110, 75%, 30%);
}

.progress {
    display: flex;
    height: 0.2rem;
    overflow: hidden;
    background-color: var(--progress-bac);
    border-radius: 0.4rem;
    position: relative;

    & .indicator {
        // use width to alter the percentege
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        background-color: var(--progress-color);
    }

    // animation variant
    &.animated {
        &::before {
            @keyframes progress {
                from {
                    transform: translateX(-100%);
                }
                to {
                    transform: translateX(100%);
                }
            }

            position: absolute;
            content: "";
            width: 100%;
            top: 0;
            bottom: 0;
            background-color: var(--progress-color);
            animation: progress 1s ease-in-out infinite;
        }
    }
}
