@mixin steps-dark {
    --step-line_color: hsl(226, 11%, 23%);
}

@mixin steps-light {
    --step-line_color: hsl(218, 28%, 86%);
}

.steps {
    
    &:not(&:first-child) {

        margin-top: 1rem;
    }
    display: flex;
    flex-direction: column;
    width: 100%;
}

.step {
    font-size: 14px;
    display: flex;
    padding-bottom: 16px;
    min-height: 56px;

    position: relative;
    flex-grow: 0;
    margin-right: 16px;

    &-body {
        min-width: 0;
        max-width: 100%;
        margin-left: 1rem;
        color: var(--color-timeline-text);
        flex: auto;
    }

    &-icon {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 0.5rem;
        margin-left: -0.93rem;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0.22rem;
        height: calc(100% + 16px);
        background-color: var(--step-line_color);
    }
}
