@mixin tabs-dark {
    --tabs-header-brd: #343741;
    --tabs-header-selected: #1ba9f5;
}

@mixin tabs-light {
    --tabs-header-brd: #d3dae6;
    --tabs-header-selected: #0071c2;
}
.tabs {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0.5rem 4px;

    // Header implementation
    &-header {
        display: flex;
        flex-direction: row;
        width: 100%;

        box-shadow: inset 0 -1px 0 var(--tabs-header-brd);
    }

    &-item {
        padding: 0 1rem;
        font-weight: 700;
        line-height: 40px;

        cursor: pointer;
        &.active {
            color: var(--tabs-header-selected);
            box-shadow: inset 0 -2px 0 var(--tabs-header-selected);
        }
    }

    // Body
    &-content {
        // this class is neede for the javascript to work
        content: "";
    }

    .tab {
        padding: 0.5rem 0;
        width: 100%;
        height: 100%;
    }
}
