@use "./utils/background";

@mixin table-dark {
    --table-border: #343741;
}

@mixin table-light {
    
}

.table {
    .--internal--base {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    table {
        border-radius: 6px;
        font-size: 14px;
        font-size: 1rem;
        line-height: 1.71429rem;
        font-feature-settings: "calt" 1,"kern" 1,"liga" 1,"tnum" 1;
        width: 100%;
        table-layout: fixed;
        border: none;
        border-collapse: collapse;
        background-color: #1D1E24;
        border: 1px solid var(--table-border);
    }

    th {
        max-width: 100%;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        word-wrap: normal !important;
        text-align: start;
        
        @extend .shade-light;
        @extend .--internal--base;
    }

    td {
        vertical-align: middle;
        border-top: 1px solid var(--table-border);
        border-bottom: 1px solid var(--table-border);

        font-weight: inherit;
        text-align: left;
        overflow-wrap: break-word !important;
        word-wrap: break-word !important;
        word-break: break-word;
        color: var(--text-color);
        font-size: 14px;
        font-size: 1rem;
        line-height: 1.71429rem;
        font-weight: 700;
        font-weight: 500;

        @extend .--internal--base;
    }

    tr {
        height: 3rem;
        border: none;
        transition: all 100ms;

        &:hover {
            @extend .shade-lightest;
        }
    }
}