.treeview {
    list-style: none;
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &-item {
        font-size: medium;
        border-left: 1px solid var(--cl-shade-medium);
        outline: currentcolor none 0px;
        display: block;
        text-decoration: none;
        color: var(--cl-txt-text);
        padding-left: 23px;
        padding-right: 16px;
        margin-left: 7px;
        min-height: 34px;
        line-height: 34px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        user-select: none;

        &.active {
            border-left-color: rgb(28, 126, 214);
            background-color: rgba(24, 100, 171, 0.45);
            color: rgb(208, 235, 255);
            font-weight: 500;
        }
    }

    &-header {
        font-size: large;
        padding-left: 23px;
        margin-left: 7px;
        border-left: 1px solid var(--cl-shade-medium);
        height: 34px;
        display: flex;
        -moz-box-align: center;
        align-items: center;
        background-color: var(--cl-shade-light);
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    
    &-spaced {
        margin-left: 1rem;
    }

    &-spaced-2 {
        margin-left: 1.5rem;
    }

    &-spaced-3 {
        margin-left: 2rem;
    }

    &-spaced-4 {
        margin-left: 2.5rem;
    }



    .nested {

        .header {
            padding: .2rem .5rem;
            cursor: pointer;
    
            &:hover, &:active {
                border-radius: 6px;
                background-color: rgba(223,229,239,0.2);
            }
        }
    
    
        .content {
            margin-left: .8rem;
            
            opacity: 0;
            display: none;
            transition: all 200ms;
            
            &.show {
                animation: fadeIn 200ms ease;
                animation-fill-mode: both;
    
                display: flex;
                flex-direction: column;
            }
        }
    }
}


@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
} 