h1,
h2,
h3,
h4,
h5,
h6,
p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
    text-align: initial;
    font-weight: 500;
    line-height: 1.5;
    padding: 0;
    margin-top: 8px;
}

h1 {
    font-size: 3.25rem;
    font-weight: 800;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1rem;
}

p {
    line-height: 1.65em;
}
