<script lang="ts">
    import DropMenu from "$lib/menu/DropMenu.svelte";
    import MenuNavigation from "$lib/menu/MenuNavigation.svelte";
    import MenuItem from "$lib/menu/MenuItem.svelte";
    import MenuSection from "$lib/menu/MenuSection.svelte";
    import MenuHeader from "$lib/menu/MenuHeader.svelte";
    import CtxMenu from "$lib/menu/CtxMenu.svelte";
    import Icon from "$lib/Icon.svelte";
    import Btn from "$lib/Btn.svelte";
    let target: HTMLElement;
    let btnTarget: HTMLElement;
    let otherTarget: HTMLElement;
</script>

<!-- Global menu -->
<CtxMenu>
    <MenuSection>
        <MenuHeader>First Page</MenuHeader>

        <MenuItem href="https://higenku.org">
            <Icon size="xs" name="home-line" variant="remix" /> Item example</MenuItem
        >
        <MenuItem href="https://higenku.org">
            <Icon size="xs" name="settings-line" variant="remix" /> Item example</MenuItem
        >
        <MenuItem href="https://higenku.org">
            <Icon size="xs" name="pencil-line" variant="remix" /> Item example</MenuItem
        >
        <MenuNavigation to={1}>
            <Icon size="xs" name="arrow-right-s-line" variant="remix" /> Next Page</MenuNavigation
        >
    </MenuSection>

    <MenuSection>
        <MenuHeader>Second Page Page</MenuHeader>

        <MenuItem href="https://higenku.org">
            <Icon size="xs" name="arrow-left-right-line" variant="remix" /> Item
            example
        </MenuItem>
        <MenuItem href="https://higenku.org">
            <Icon size="xs" name="arrow-left-right-line" variant="remix" /> Item
            example
        </MenuItem>
        <MenuItem href="https://higenku.org">
            <Icon size="xs" name="arrow-left-right-line" variant="remix" /> Item
            example
        </MenuItem>
        <MenuItem href="https://higenku.org">
            <Icon size="xs" name="arrow-left-right-line" variant="remix" /> Item
            example
        </MenuItem>
        <MenuItem href="https://higenku.org">
            <Icon size="xs" name="arrow-left-right-line" variant="remix" /> Item
            example
        </MenuItem>
        <MenuItem href="https://higenku.org">
            <Icon size="xs" name="arrow-left-right-line" variant="remix" /> Item
            example
        </MenuItem>
        <MenuNavigation to={0}>
            <Icon size="xs" name="arrow-left-s-line" variant="remix" /> Previous
            Page</MenuNavigation
        >
    </MenuSection>
</CtxMenu>

<!-- Local menu -->
<CtxMenu {target}>
    <MenuSection>
        <MenuHeader>Told you!</MenuHeader>

        <MenuItem href="https://higenku.org">Item example</MenuItem>
    </MenuSection>
</CtxMenu>

<!-- Local menu -->
<CtxMenu target={otherTarget}>
    <MenuSection>
        <MenuHeader>Still not beliving in me!</MenuHeader>

        <MenuItem href="https://higenku.org">Item example</MenuItem>
    </MenuSection>
</CtxMenu>

<h1 bind:this={target}>I have a different Context menu</h1>

<h1 bind:this={otherTarget}>And so do I</h1>

<!-- DropMenus -->

<Btn bind:ref={btnTarget}>Open Menu</Btn>

<DropMenu target={btnTarget}>
    <MenuSection>
        <MenuHeader>Still not beliving in me!</MenuHeader>

        <MenuItem href="https://higenku.org">Item example</MenuItem>

        <MenuNavigation to={1}>Goto</MenuNavigation>
    </MenuSection>

    <MenuSection>
        <MenuHeader>Told you!</MenuHeader>

        <MenuItem href="https://higenku.org">Item example</MenuItem>
        <MenuNavigation to={0}>Back</MenuNavigation>
    </MenuSection>
</DropMenu>
