<script lang="ts">
import Checkbox from "$lib/forms/Checkbox.svelte"
import Input from "$lib/forms/Input.svelte"
import PasswordInput from "$lib/forms/PasswordInput.svelte"
import MultiSelect from "$lib/forms/MultiSelect.svelte"
import FileInput from "$lib/forms/FileInput.svelte"
import Select from "$lib/forms/Select.svelte"
import { onMount } from "svelte";


let SelectSampleData = []
let SelectSampleData2 = []

onMount(() => {
    for (let i = 0; i < 100; i++) {
        SelectSampleData.push({ 
            label: `Item ${i}`,
            description: `Description for Item ${i}`,
            value: `Item ${i}`,
            image: `https://github.com/lmtr0.png`
        })

        SelectSampleData2.push({ 
            label: `Item ${i}`,
            value: `Item ${i}`,
        })
    }
})

let value
</script>

value is {value}
<Input label="Hello ther" placeholder="Put some value here" bind:value={value} />

<Checkbox>
    Hello world
</Checkbox>

<PasswordInput label="Password" placeholder="Str0ngP@ss" value=""/>

<br>
<MultiSelect
    label="Hi there"
    data={[
        {label: 'C#',           value: 'C#'},
        {label: 'Javascript',   value: 'Javascript'},
        {label: 'Python',       value: 'Python'},
        {label: 'Cobol',        value: 'Cobol'},
        {label: 'Rust',         value: 'Rust'},
        {label: 'C++',         value: 'C++'},
        {label: 'C',         value: 'C'},
        {label: 'Fortran',         value: 'Fortran'},
        {label: 'PHP',         value: 'PHP'},
        {label: 'Golang',         value: 'Golang'},
    ]}
/>

<br>

<Select 
    placeholder="Whats the best item?"
    label="I have everything" 
    data={SelectSampleData}
/>


<Select 
    placeholder="Whats the best item?"
    label="Don't have images nor descriptions" 
    data={SelectSampleData2}
/>

<FileInput accept="image/png"  />