<script lang="ts">

    import { Btn, Input, Spinner, utils } from "@higenku/theme";
    import { cryptoDb } from "$store/db";   
    import { auth } from "$store/auth"
    import { goto } from "$app/navigation";
    import sodium from "libsodium-wrappers"
    
    let secretKey: string;
    let loading = false;
    
    
    
    const syncronize = async () => {
        loading = true;
        await sodium.ready;
        let secretKeyArray
        try {
            secretKeyArray = sodium.from_base64(secretKey)
        }
        catch(e) {
            console.log(e)
            await utils.newNotification('Not a valid Secret Key', 'maybe something you typed wrong? <br> check and try again!', true, 'erro', 5000)
            loading = false;
            return;
        }

        if (secretKeyArray.length < sodium.crypto_secretbox_NONCEBYTES) {
            await utils.newNotification('Not a valid Secret Key', 'maybe something you typed wrong? <br> check and try again!!', true, 'erro', 5000)
            loading = false;
            return;
        }

        const nonce = secretKeyArray.slice(0, sodium.crypto_secretbox_NONCEBYTES)
        const key = secretKeyArray.slice(sodium.crypto_secretbox_NONCEBYTES, secretKey.length)

        // do auth
        await auth.authenticate();
        if (!auth.authenticated()) {
            await utils.newNotification('Error Occured', `You must be authenticated before syncronizing a user`, true, 'erro', 5000)
            loading = false;
            return;
        }
        
        const client = auth.getAuthenticatedClient()
        try { 
            // do the encryption
            let encryptedMessage = sodium.crypto_secretbox_easy(secretKeyArray, nonce, key, 'base64')
            
            const {keyVerify: ok} = await client.keyVerify({
                encryptedMessage
            })
    
            if (!ok) {
                await utils.newNotification('Error Occured', `Wrong Security Key, encrypted Hash did not match`, true, 'erro', 5000)
                loading = false;
                return
            }
        } 
        // eslint-disable-next-line @typescript-eslint/no-explicit-any
        catch (e: any) {
            console.log(e)
            const err = e.response?.errors[0] || e
            await utils.newNotification('An error Occured', `${err.message}`, true, 'erro', 5000)
            loading = false;
            return
        }
        
        // Part 2
        
        try { 
            const {key: {encryptedStore, keycheck}} = await client.key()
            
            let keysStore = JSON.parse(sodium.crypto_secretbox_open_easy(sodium.from_base64(encryptedStore), nonce, key, 'text'))

            if (keysStore.v !== '1.0.0') {
                await utils.newNotification('An error Occured', `invalid key store, <br>ask for support please`, true, 'erro', 5000)
                return;
            }

            cryptoDb.saveNewCreds({
                crypto: keysStore.crypto,
                sign: keysStore.sign,
                keycheck,
                id: (await auth.getCurrentUser()).user_id,
            })
            await utils.newNotification("Success", `Everything worked, new keycheck: "${keycheck}"`, true, "succ", 10000)
            await goto('/')
        }
        // eslint-disable-next-line @typescript-eslint/no-explicit-any
        catch (e: any) {
            console.log(e)
            const err = e.response?.errors[0] || e
            await utils.newNotification('An error Occured', `${err.message}`, true, 'erro', 5000)
            loading = false;
            return
        }
    }
    
    </script>
    
    <h3>Using Security Key <span class="fs-4">(the one we asked you to backup)</span></h3>
    <div>
        <Input type="text" label="Security Key" placeholder="ABCDFG::ABCDFG" classes="full" bind:value={secretKey}/> 
        <br>
        {#if loading}
            <Btn> <Spinner /> </Btn>
        {:else}
            <Btn on:click={syncronize} variant="info" > Check Key </Btn>
        {/if}
    </div>