<script lang="ts">
    import Footer from "$lib/footer/Footer.svelte"
    import FooterSection from "$lib/footer/FooterSection.svelte"
    import FooterItem from "$lib/footer/FooterItem.svelte"
</script>


<Footer logo="https://theme.higenku.org/icons/hgn-Higenku.png">
    <FooterSection title="About">
        <FooterItem href="#">Hi there</FooterItem>
    </FooterSection>

    <FooterSection title="Other">
        <FooterItem href="#">Hi there</FooterItem>
    </FooterSection>

    <FooterSection title="Another">
        <FooterItem href="#">Hi there</FooterItem>
    </FooterSection>

    <FooterSection title="Socials">
        <FooterItem href="#">Hi there</FooterItem>
    </FooterSection>
</Footer>