<script lang="ts">
    import TreeHeader from "$lib/treeview/TreeHeader.svelte";
    import TreeView from "$lib/treeview/TreeView.svelte";
    import TreeItem from "$lib/treeview/TreeItem.svelte";
</script>

<TreeView>
    <TreeHeader>
        <h4>Hi there</h4>
    </TreeHeader>

    <TreeItem href="/">
        <p>Hi</p>
    </TreeItem>

    <TreeItem href="/" active={true}>
        <p>Hi</p>
    </TreeItem>

    <TreeItem href="/" space="0"> <p>Hi Spaced</p> </TreeItem>
    <TreeItem href="/" space="1"> <p>Hi Spaced</p> </TreeItem>
    <TreeItem href="/" space="2"> <p>Hi Spaced</p> </TreeItem>
    <TreeItem href="/" space="3"> <p>Hi Spaced</p> </TreeItem>
</TreeView>
