<script lang="ts">
    import Table from "$lib/Table.svelte"
</script>

<Table>
    <tr>
        <th>Gigabytes stored</th>
        <th>Price per GB</th>
        <th>Total Price</th>
    </tr>
    
    <tr>
        <td> 1 </td>
        <td> 0.015 </td>
        <td> 0.015 </td>
    </tr>

    <tr>
        <td> 100 </td>
        <td> 0.015 </td>
        <td> 1.5 </td>
    </tr>

    <tr>
        <td> 1000 </td>
        <td> 0.015 </td>
        <td> 15 </td>
    </tr>

</Table>