<script lang="ts">
    import type { Variant } from "./types";

    let variant: Variant = "info";
    let title: string | null = null;
    let ref: HTMLElement | any  = null;
    let classes: string = "";
    let style: string = "";

    export { variant, title, ref, classes, style };
</script>

<div class="alert {variant} {classes}" bind:this={ref} {style}>
    {#if title}
        <div class="alert-title">{title}</div>
    {/if}
    <slot />
</div>
