<script lang="ts">
    import type { Size } from "./types";
    import Image from "./Image.svelte";

    let src: string;
    let size: Size;
    let variant: "rounded" | "squared" = "squared";
    let alt: string;
    let lazy: boolean = false;
    let ref: HTMLElement  | any = null;
    let classes: string = "";
    let style: string = "";

    export { src, size, variant, alt, lazy, ref, classes, style };
</script>

<div class="avatar {variant} {size} {classes}" {style} bind:this={ref}>
    <Image {src} {alt} {lazy} />
</div>
