<script lang="ts">
    import type { Variant } from "./types";
    import { createEventDispatcher } from "svelte";
    const dispatch = createEventDispatcher();

    let variant: Variant = "";
    let ref: HTMLElement  | any = null;
    let classes: string = "";
    let style: string = "";

    export { variant, ref, classes, style };
</script>

<span
    class="badge {variant} {classes}"
    bind:this={ref}
    {style}
    on:click
    on:keypress
    >
    <slot />
</span>
