<script lang="ts">
    import { createEventDispatcher } from "svelte";
    const dispatch = createEventDispatcher();

    import type { Variant } from "./types";

    let variant: Variant = "";
    let disabled = false;
    let type: "button" | "menu" | "reset" | "submit" = "button";
    let full = false;
    let ref: HTMLElement  | any = null;
    let classes: string = "";
    let style: string = "";

    export { variant, disabled, type, full, ref, classes, style };
</script>

<button
    bind:this={ref}
    {style}
    class="btn {variant} {classes}"
    class:full
    {disabled}
    {type}
    on:click={(e) => dispatch("click", e)}
>
    <slot />
</button>
