<script lang="ts">
    let ref: HTMLElement  | any = null;
    let classes: string = "";
    let style: string = "";

    export { ref, classes, style };
</script>

<!-- svelte-ignore a11y-no-noninteractive-tabindex -->
<main {style} class="container {classes}" tabindex="0" bind:this={ref}>
    <slot />
</main>
