<script lang="ts">
    let ref: HTMLElement  | any = null;
    let classes: string = "";
    let style: string = "";

    export { ref, classes, style };
</script>

<span class="dots {classes}" bind:this={ref} {style} />
