<script lang="ts">
    import { createEventDispatcher } from "svelte";
    import IntersectionObserver from "./IntersectionObserver.svelte";
    import { fade } from "svelte/transition";
    import SkeletonBox from "./loaders/SkeletonBox.svelte";
    import type { Size } from "./types.js";
    let src: string;
    let alt: string;
    let lazy: boolean = false;
    let size: Size | undefined = undefined;
    let classes: string = "";
    let style: string = "";
    let ref: HTMLImageElement | any = null;

    export { src, alt, lazy, size, ref, classes, style };
    const dispatch = createEventDispatcher();
</script>

{#if lazy}
    <IntersectionObserver once={true} let:intersecting>
        {#if intersecting}
            <img
                class="{classes} {size}"
                {style}
                {alt}
                {src}
                bind:this={ref}
                in:fade
                on:load
                on:error
            />
        {:else}
            <SkeletonBox {size} classes="{classes} {size}" {style} />
        {/if}
    </IntersectionObserver>
{:else}
    <img
        class="{classes} {size}"
        {style}
        {alt}
        {src}
        bind:this={ref}
        in:fade
        on:load={() => dispatch("load", {})}
        on:error={() => dispatch("error", {})}
    />
{/if}
