<script lang="ts">
    import { onMount } from "svelte";
    let once = false;
    let top = 0;
    let bottom = 0;
    let left = 0;
    let right = 0;
    let ref: HTMLElement | any = null;
    let classes: string = "";
    let style: string = "";

    export { ref, classes, style, once, top, bottom, left, right };
    let intersecting = false;

    onMount(() => {
        if (typeof IntersectionObserver !== "undefined") {
            const rootMargin = `${bottom}px ${left}px ${top}px ${right}px`;
            const observer = new IntersectionObserver(
                (entries) => {
                    intersecting = entries[0].isIntersecting;
                    if (intersecting && once) {
                        observer.unobserve(ref);
                    }
                },
                {
                    rootMargin,
                }
            );
            observer.observe(ref);
            return () => observer.unobserve(ref);
        }
    });
</script>

<span bind:this={ref} style="display: inline; {style}" class={classes}>
    <slot {intersecting} />
</span>
