<script lang="ts">
    import type { StrictModifiers, Placement, Instance } from "@popperjs/core";
    import { fade, scale } from "svelte/transition";
    import { afterUpdate, beforeUpdate, onMount, tick } from "svelte";

    let open: boolean = false;
    let placement: Placement = "auto";
    let target: HTMLElement | any = null;

    let ref: HTMLElement | any = null;
    let classes: string = "";
    let style: string = "";

    export { ref, classes, style, open, placement, target };

    let instance: Instance;

    let mounted = false;

    const mount = async () => {
        const { createPopper } = await import("@popperjs/core");
        instance = createPopper<StrictModifiers>(target, ref, {
            placement,
        });

        // instance.destroy();
    };

    onMount(async () => {
        await tick();

        if (!target)
            throw new Error("Target element is required.");

        await mount();
        mounted = true;
    });

    afterUpdate(async () => {
        await tick(); // avoid errors

        if (!target) return;
        !mounted && mount();
        instance && instance.update();
    });
</script>

<div
    class="popover show {classes}"
        {style}
    bind:this={ref}
>
    {#if open}
        <div class="popover-content" 
            transition:scale={{ duration: 125, }}
        >
            <slot />
        </div>
    {/if}

</div>
