<script lang="ts">
    import { tweened } from "svelte/motion";
    import { cubicInOut } from "svelte/easing";

    let progress: number = 0;
    let animated: boolean = false;

    export { progress, animated };

    const _progress = tweened(progress / 100, {
        duration: 400,
        easing: cubicInOut,
    });

    $: _progress.set(progress / 100);
</script>

{#if !animated}
    <div class="progress">
        <div class="indicator" style="width: {$_progress * 100}%;" />
    </div>
{:else}
    <div class="progress animated" />
{/if}
