<script lang="ts">
    let ref: HTMLElement | any = null;
    let classes: string = "";
    let style: string = "";

    export { ref, classes, style };
</script>

<div class="table {classes}" {style} bind:this={ref}>
    <table>
        <slot />
    </table>
</div>
