<script lang="ts">
    import { onMount } from "svelte";
    import SkeletonBox from "./loaders/SkeletonBox.svelte";

    type AllowList =
        | "accelerometer"
        | "autoplay"
        | "clipboard-write"
        | "encrypted-media"
        | "gyroscope"
        | "picture-in-picture";

    let title: string, src: string, height: string, width: string;
    let type: "youtube" | "odysee" | "" = "";
    let ready = false;
    let allowList: AllowList[] = [];

    export { title, src, type, height, width };

    onMount(() => {
        switch (type) {
            case "odysee":
                src = `https://odysee.com/$/embed/${src}`;
                break;

            case "youtube":
                src = `https://www.youtube.com/embed/${src}`;
                break;

            default:
                break;
        }

        setTimeout(() => {
            ready = true;
        }, 500);
    });
</script>

{#if ready}
    <iframe
        {width}
        {height}
        {src}
        {title}
        frameborder="0"
        allow={allowList.join("; ")}
        allowfullscreen
    />
{:else}
    <div style:width style:height>
        <SkeletonBox />
    </div>
{/if}
