
<script>
	import Carousel from '$lib/carousel/Carousel.svelte';
import { onMount } from 'svelte';
	// import { ChevronLeftIcon, ChevronRightIcon } from 'svelte-feather-icons';

    let loading = true
	let images = [
		
	]

    onMount(() => {

        for (let i = 0; i < 50; i++) {
            images = [...images, {path: `https://picsum.photos/seed/${i}/800/800`, id: `image${i}`}]
        }
        loading = false;
    })

</script>

{#if !loading}
<Carousel
	{images}
	imageWidth={400}
	imageSpacing={5}
	controlColor={'white'}
	controlScale={0.1}
	displayControls={true}
	autoplay={false}
	autoplaySpeed={1000}
/>

{:else}
<p>loading</p>
{/if}