<script lang="ts">
import { utils } from "$lib"
import Notifications from "$lib/notification/Notifications.svelte"
</script>

<button class="btn btn-info" on:click={() => utils.newNotification('Hi', "there", true)}>
    Permanent
</button>


<button class="btn btn-info" on:click={() => utils.newNotification('Hi', "there", false, 'info', 5000)}>
    5s delay
</button>

<button class="btn btn-info" on:click={() => utils.newNotification('Hi', "there", true, 'info')}>
    normal
</button>


<button class="btn btn-info" on:click={() => utils.newNotification('Hi', "there", true, 'erro')}>
    erro
</button>


<button class="btn btn-info" on:click={() => utils.newNotification('Hi', "there", true, 'warn')}>
    warn
</button>


<button class="btn btn-info" on:click={() => utils.newNotification('Hi', "there", true, 'succ')}>
    succ
</button>


<button class="btn btn-info" on:click={() => utils.clearAllNotifications()}>
    clear all
</button>

<Notifications />