<script lang="ts">
    import Icon from "../Icon.svelte";
    import Image from "../Image.svelte";

    export let logo: string = "";
    export let title: string = "";

    let show = false;
    let navElement: HTMLDivElement;

    const skipToMainConent = () => {
        let other = navElement.parentElement as HTMLElement;

        for (let i = 0; i < other.children.length; i++) {
            let item = other.children.item(i) as HTMLElement | null;
            if (!item) continue;
            if (item && item != navElement && !item.classList.contains("popover")) {
                item.focus()
                break;
            }
        }
    };
</script>

<!-- svelte-ignore a11y-no-noninteractive-tabindex -->
<div class="nav" bind:this={navElement} tabindex="0">
    <div class="nav-keyboard-helper" tabindex="0" 
        on:keydown={skipToMainConent}
        on:click={skipToMainConent}
    >
        <div class="card">Skip to content</div>
    </div>

    <div class="nav-logo d-flex flex-row">
        <Image
            lazy={true}
            size="md"
            classes="avatar squared nav-logo-img sm"
            src={logo}
            alt="{title} logo"
        />
        <a href="/" class="nav-title">{title}</a>

        <div
            style="height: 100%;"
            class="nav-toggle my-auto"
            on:click={() => (show = !show)}
            on:keypress={() => {}}
        >
            <Icon name="menu-line" size="sm" variant="remix" />
        </div>
    </div>

    <div class="nav-content" class:show style="flex-grow: 1; flex-direction: start;">
        <slot />
    </div>
</div>
