<script lang="ts">
	let active: boolean = false;
	let pathname: string = '';
	let usePathname = false;
	let href: string = '';
	let ref: HTMLElement | any = null;
	let rel: string = '_self';
	export { active, href, ref, rel, pathname, usePathname };

	$: if (usePathname) {
		active = href == pathname;
	}
</script>

{#if href}
	<a {href} bind:this={ref} class="nav-item" tabindex="0" class:active {rel}>
		<slot />
	</a>
{:else}
	<!-- svelte-ignore a11y-no-noninteractive-tabindex -->
	<div bind:this={ref} class="nav-item" tabindex="0" class:active {rel} on:click on:keypress>
		<slot />
	</div>
{/if}
