<script lang="ts">
    let left = true;
    let classes: string = "",
        style: string = "",
        ref: HTMLDivElement | any = undefined;

    export { left, classes, style, ref };
</script>

<div bind:this={ref} class="d-flex flex-row {left ? 'mr-auto' : ''} {classes}" {style}>
    <slot />
</div>
