<script lang="ts">
    import Icon from "$lib/Icon.svelte"
</script>

<Icon size="md" name="Higenku"/>
<Icon size="md" variant="remix" name="install-line"/>
<Icon size="md" variant="simple" name="linux"/>

<hr>

<Icon size="xs" variant="simple" name="linux" />
<Icon size="sm" variant="simple" name="linux" />
<Icon size="md" variant="simple" name="linux" />
<Icon size="lg" variant="simple" name="linux" />
<Icon size="xl" variant="simple" name="linux" />
<Icon size="full" variant="simple" name="linux" />