<script lang="ts">
    let ref: HTMLElement  | any = null;
    let classes: string = "";
    let style: string = "";
    let logo: string;

    export { ref, classes, style, logo };
</script>

<div bind:this={ref} class="my-2 {classes}" {style}>
    <div class="d-flex justify-center gap-3">
        <img src={logo} alt="Footer Logo" class="avatar squared hg" />
    </div>
    <br /> <br />
    <div class="d-flex justify-center gap-3">
        <slot />
    </div>
</div>
