<script lang="ts">
    let href;
    let target: "_self" | "_blank" | "_parent" | "_top" = null;
    let ref: HTMLElement  | any = null;
    let classes: string = "";
    let style: string = "";
    export { ref, classes, style, href, target };
</script>

<div>
    <a {href} {target} bind:this={ref} class={classes} {style}><slot /></a>
</div>
