<script lang="ts">
    let title;
    let ref: HTMLElement  | any = null;
    let classes: string = "";
    let style: string = "";
    export { ref, classes, style, title };
</script>

<div
    class="d-flex flex-sm-row items-center items-start flex-col {classes}"
    bind:this={ref}
    {style}
>
    <div>
        <h3>{title}</h3>

        <slot />
    </div>
</div>
