<script  lang="ts">
    import { onMount } from "svelte";
    import { loadStripe, type Stripe } from "@stripe/stripe-js"
    import { Btn, Card, Input, Modal, Image } from "@higenku/theme";

    let stripe: Stripe
    let ref: HTMLElement
    /*
        curl --request POST \
        --url https://api.stripe.com/v1/payment_intents \
        --header 'Authorization: Basic TOKEN' \
        --header 'content-type: application/x-www-form-urlencoded' \
        --data amount=10000 \
        --data 'payment_method_types[]=pix' \
        --data 'payment_method_data[type]=pix' \
        --data currency=brl \
        --data 'payment_method_options[pix][expires_at]=1665975600' # OPTIONAL
    */


    let 
    emvString: string,
    imageUrlSvg: string,
    hosted_instructions_url: string,
    show = false
    const pixPayment = async () => {
        const result = await stripe.confirmPixPayment(
            'pi_',
            {

            },
            {
                handleActions: false,
            }
        );
        // Stripe.js opens a modal to display the Pix QR code to your customer
        // This async function finishes when the customer closes the modal

        console.log(result);

        if (result.error)
        {
            console.log(result.error)
            return;
        }


        var amount = result.paymentIntent.amount;
        var currency = result.paymentIntent.currency;
        //@ts-ignore
        var details = result.paymentIntent.next_action["pix_display_qr_code"];
        // Pix string, also known as Pix “copy and paste”
        emvString = details.data;
        // SVG image Pix QR code
        imageUrlSvg = details.image_url_svg;
        console.log(imageUrlSvg);
        console.log(details);
        // // PNG image Pix QR code
        // var imageUrlPng = details.image_url_png;
        // Pix expiration date as a unix timestamp
        // This might be slightly different than the "expires_at" set in payment_method_options
        var expires_at = details.expires_at;
        // Handle the next action by displaying the Pix details to your customer
        // You can also use the generated hosted instructions
        hosted_instructions_url = details.hosted_instructions_url;
        // if (result.error) {
        //     // handle error
        // }
        show = true
    }

    onMount(async () => {
        // Set your publishable key. Remember to switch to your live publishable key in production!
        // See your keys here: https://dashboard.stripe.com/apikeys
        const _stripe = await loadStripe('pk_test_');

        if (!_stripe)
            throw new Error("Stripe is not available")
        stripe = _stripe;
    })
</script>
<Btn on:click={pixPayment}>Pay by Pix</Btn>


<Modal {show}>
    <Card>
        <h1>Pix Payment</h1>

        <div class="shade-lightest p-1">
            <Image alt="PIX Qr Code" src="{imageUrlSvg}" lazy={true} style="background: white;" />
        </div>
    
        <Input value={emvString} label="PIX Code" />
    
        <a href="{hosted_instructions_url}">Testing link</a>

        <Btn on:click={() => show = false}>Done</Btn>
    </Card>
</Modal>