<script lang="ts">
    export let lineCount: number = 1;
    export let lastFullWidth: boolean = false;
</script>

<div class="skeleton">
    {#each Array(lineCount) as _}
        <div class="skeleton-item {lastFullWidth ? 'full' : ''}" />
    {/each}
</div>
