<script lang="ts">
    import type { Size } from "../types";
    let size: Size = "full";
    let classes = "";
    let style = "";
    let ref: HTMLElement  | any = null;

    export { size, classes, style, ref };
</script>

<span bind:this={ref} class="skeleton_box {size} {classes}" {style}>
    <div class="skeleton_box-item" />
</span>
