<script lang="ts">
    import type { Size } from "../types";

    export let size: Size = "sm";
    export let different = true;
    export let classes = "";
    export let style = "";
</script>

<span class="spinner {different && 'different'} {size} {classes}" {style} />
