<script lang="ts">
    import { getContext } from "svelte";

    export let title: string;
    export let classes: string | null = null;

    const { selected, addTab } = getContext("tabs");
    addTab(title);
</script>

{#if $selected == title}
    <div class="tab {classes ?? ''}">
        <slot />
    </div>
{/if}
