<script lang="ts">
    import { setContext } from "svelte";
    import { writable } from "svelte/store";

    export let classes: string | null = null;

    const tabs: any  = [];
    const selected = writable(null);

    setContext("tabs", {
        selected,
        addTab: (title: any) => {
            tabs.push(title);
            if (tabs.length == 1) {
                selected.set(title);
            }
        },
    });
</script>

<div class="tabs {classes ?? ''}">
    <div class="tabs-header">
        {#each tabs as tab}
            {#if tab == $selected}
                <div class="tabs-item active">
                    {tab}
                </div>
            {:else}
                <div class="tabs-item" on:click={(_) => selected.set(tab)} on:keypress={() => {}}>
                    {tab}
                </div>
            {/if}
        {/each}
    </div>

    <div class="tabs-content">
        <slot />
    </div>
</div>
