<script lang="ts">
import Btn from "$lib/Btn.svelte"
import Dots from "$lib/Dots.svelte"
import Skeleton from "$lib/loaders/Skeleton.svelte"
import SkeletonBox from "$lib/loaders/SkeletonBox.svelte"

</script>

<Skeleton lineCount={15} />


<Skeleton lineCount={20} lastFullWidth={true}/>

<SkeletonBox size="xs" />
<SkeletonBox size="sm" />
<SkeletonBox size="md" />
<SkeletonBox size="lg" />
<SkeletonBox size="xl" />

<Btn disabled>
    Hello world <Dots />
</Btn>