<script>
    import Tab from "$lib/tabs/Tab.svelte";
    import Tabs from "$lib/tabs/Tabs.svelte"
</script>

<Tabs>
    <Tab title="Tab 1">
        <div class="card">
            Contents of Tab 1 
        </div>
    </Tab>

    <Tab title="Tab 2">
        <div class="card">
            Contents of Tab 2 
        </div>
    </Tab>

    <Tab title="Tab 3">
        <div class="card">
            Contents of Tab 3 
        </div>
    </Tab>

    <Tab title="Tab 4">
        <div class="card">
            Contents of Tab 4 
        </div>
    </Tab>

    <Tab title="Tab 5">
        <div class="card">
            Contents of Tab 5 
        </div>
    </Tab>


    <Tab title="Tab 6">
        <div class="card">
            Contents of Tab 6 
        </div>
    </Tab>

    <Tab title="Tab 7">
        <div class="card">
            Contents of Tab 7 
        </div>
    </Tab>

    <Tab title="Tab 8">
        <div class="card">
            Contents of Tab 8 
        </div>
    </Tab>
</Tabs>