<script lang="ts" context="module">
    // export const prerender = false
</script>
<script lang="ts">
	import { onMount } from 'svelte';
    import sodium from "libsodium-wrappers"

	onMount(async () => {
        await sodium.ready;
        console.log(sodium.randombytes_buf(32, 'base64'))

		const publicKey: PublicKeyCredentialCreationOptions = {
			challenge: sodium.randombytes_buf(32, 'uint8array'),
			rp: {
				name: 'Example CORP',
				id: 'user.higenku.org'
			},
			user: {
				id: new Uint8Array(16),
				name: 'jdoe@example.com',
				displayName: 'John Doe'
			},
			pubKeyCredParams: [
				{
					type: 'public-key',
					alg: -7
				}
			]
		}

		let newCredentialInfo = await navigator.credentials.create({
            publicKey,
        }) as PublicKeyCredential | null;

        if (!newCredentialInfo) {
            return;
        }



        const response = newCredentialInfo.response;
        const clientExtensionsResults = newCredentialInfo.getClientExtensionResults();
	});
</script>
