<script lang="ts">
	import { goto } from '$app/navigation';
	import { page } from '$app/stores';
    import Captcha from '$com/Captcha.svelte';
	import type { AppResponse } from '$gql/index';
	import client from '$lib/gql';
    import { auth } from '$store/auth';
	import { Alert, Btn, Card, Icon, Image, Spinner, utils } from '@higenku/theme';
	import { onMount } from 'svelte';
    import sodium from "libsodium-wrappers"

	let app: App, server_app: AppResponse, oauth: string;
    let captcha = "";
	interface App {
		client_id: string;
		redirect_uri: string;
		response_type: string;
		state: string | null;
		scope: string;
	}

	let isClientValid = true;
	let isLoading = true;

	onMount(async () => {
		let client_id = $page.url.searchParams.get('client_id') || '';
		let redirect_uri = $page.url.searchParams.get('redirect_uri') || '';
		let response_type = $page.url.searchParams.get('response_type') || '';
		let state = $page.url.searchParams.get('state') || '';
		let scope = $page.url.searchParams.get('scope') || '';

		if (
			client_id.length === 0 ||
			redirect_uri.length === 0 ||
			response_type.length === 0 ||
			scope.length === 0
		) {
			console.table({
				client_id,
				redirect_uri,
				response_type,
				scope
			});

			isClientValid = false;
			isLoading = false;
			return;
		}

		app = {
			client_id,
			redirect_uri,
			response_type,
			state,
			scope
		};

		try {
			// Get App Information
			server_app = (
				await client.app({
					id: app.client_id
				})
			).app;

			// Compare data
			if (server_app.redirectUri != redirect_uri) {
				throw new Error("Redirect URI is not the same as the client's redirect_uri");
			}

			const scopes = scope.split(' ');
			console.log(server_app.perms);
			const perms = server_app.perms.filter((s) => s.name === 'oauth');
			if (perms.length === 0) {
				throw new Error("Client doesn't accecpt Oauth2");
			}

			oauth = perms[0].metadata;

			for (let scope of scopes) {
				if (!oauth.includes(scope)) {
					throw new Error('Invalid scopes');
				}
			}
		} catch (e: any) {
			// eslint-disable-next-line @typescript-eslint/no-explicit-any
			console.log(e);
			const err = e.response?.errors[0] || e;
			await utils.newNotification('An error Occured', `${err.message}`, true, 'erro', 5000);
			isLoading = false;
			isClientValid = false;
			return;
		}

		isLoading = false;
	});

    const approve = async () => {
        await auth.authenticate();
        const client = auth.getAuthenticatedClient();
        const keystore = await auth.getKeys();

        if (captcha.length === 0) {
            await utils.newNotification("Must complete CAPTCHA", "Please complete the CAPTCHA", true, 'erro', 5000);
            return;
        }

        try {
            await sodium.ready;

            const signature =  sodium.crypto_sign(JSON.stringify({
                captcha,
                scope: app.scope,
                redirect_uri: app.redirect_uri,
                client_id: app.client_id,
                response_type: app.response_type,
            }), sodium.from_base64(keystore.sign.privateKey), 'base64')

            const code = (await client.oauthApprove({
                signature
            })).oauthApprove

            let url = new URL(app.redirect_uri)
            if (app.state)
                url.searchParams.append('state', app.state);
            url.searchParams.append('code', code);

            goto(url.toString())
        } catch (e: any) {

        }
    }

    const deny = async () => {
        let url = new URL(app.redirect_uri);
        url.searchParams.append('error', "access_denied")
        location.href = url.toString();
    }

</script>

<div class="my-1 d-flex justify-center items-center">
	<form style="max-width: 420px; width: 100%">
		<Card>
			{#if isLoading}
				<Spinner />
			{:else if isClientValid}
                <div class="d-flex justify-center"> 
                    <Image src="{server_app.logo || `https://avatars.dicebear.com/api/bottts/${server_app.name}.svg`}" alt="{server_app.name} logo" style="height: 10rem; width: 10rem;" />
                </div>
                <p class="text-color cl-subtitle ">to continue to <span class="text-color cl-info">{(new URL(app.redirect_uri)).host}</span></p>
                <p><span class="text-color cl-info fst-bolder">{server_app.name}</span> wants to have access to:</p>

                <Card>
                    {#if oauth.includes("email")}
                        <p class="d-flex gap-1">
                            <Icon name="mail" variant="feather" />
                            Your email address
                        </p>
                    {/if}
    
                    {#if oauth.includes("profile")}
                        <p class="d-flex gap-1">
                            <Icon name="user" variant="feather" />
                            Your profile
                        </p>
                    {/if}
                </Card>

                <div class="d-flex justify-center my-1">
                    <Captcha bind:token={captcha}/>
                </div>

                <div class="d-flex justify-evenly">
                    <Btn variant="erro" classes="w-40" on:click={deny}>Deny</Btn>
                    <Btn variant="succ" classes="w-40" on:click={approve}>Approve</Btn>
                </div>
			{:else}
				<Alert variant="erro" classes="mt-1">Client is invalid</Alert>
				<br />
				<br />

				<Alert variant="info" classes="my-1">
					<p>
						if you are a user, please check if you can notify the developer of the app
						you are trying to use
					</p>
					<p>
						if you are a developer, please check the information that you provided
						before continuing
					</p>
				</Alert>

				<Btn variant="info" on:click={() => history.back()}>Back to App</Btn>
			{/if}
		</Card>
	</form>
</div>
