<script lang="ts">
import Alert from "$lib/Alert.svelte"
</script>


<Alert variant="erro">Simple erro alert</Alert>
<Alert variant="info">Simple info alert</Alert>
<Alert variant="succ">Simple succ alert</Alert>
<Alert variant="warn">Simple warn alert</Alert>
<Alert title="I have a title" variant="erro">Simple erro alert</Alert>
<Alert title="I have a title" variant="info">Simple info alert</Alert>
<Alert title="I have a title" variant="succ">Simple succ alert</Alert>
<Alert title="I have a title" variant="warn">Simple warn alert</Alert>