<script lang="ts">
	import { goto } from '$app/navigation';
	import { Btn, Icon } from '@higenku/theme';
    import { onMount } from 'svelte';
	let 
        value: boolean,
        user_id: string,
        variant: "gitlab" | "github" | "google" | "microsoft",
        state = ""

    export {value, user_id, variant}

    onMount(() => {
        if (user_id !== null) {
            state = `&state=${user_id}`
        }
    })

    const getUrl = (): string => {
        let url: string;
        switch(variant){
            case "gitlab":
                url = `https://gitlab.com/oauth/authorize?redirect_uri=&client_id=${import.meta.env.VITE_GITLAB_CLIENT_ID}&redirect_uri=${encodeURIComponent(import.meta.env.VITE_GITLAB_REDIRECT_URI)}&response_type=code&scope=read_user${state}`;
                break;
            case "github":
                url = `https://github.com/login/oauth/authorize?client_id=${import.meta.env.VITE_GITHUB_CLIENT_ID}&redirect_uri=${encodeURIComponent(import.meta.env.VITE_GITHUB_REDIRECT_URI)}&scope=read:user+user:email&allow_signup=true${state}`
                break;
            case "google":
                url = `https://accounts.google.com/o/oauth2/v2/auth?&client_id=${import.meta.env.VITE_GOOGLE_CLIENT_ID}&scope=openid+email+profile&response_type=code&redirect_uri=${encodeURIComponent(import.meta.env.VITE_GOOGLE_REDIRECT_URI)}${state}`
                break;
            case "microsoft":
                url = `https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=${import.meta.env.VITE_MICROSOFT_CLIENT_ID}&redirect_uri=${encodeURIComponent(import.meta.env.VITE_MICROSOFT_REDIRECT_URI)}&scope=openid+email+profile&response_type=code${state}`
                break;
        }

        return url;
    }

</script>

{#if value}
	<Btn classes="d-flex flex-row items-center gap-0_5" variant="erro" on:click>
		<Icon
			disableIcon={true}
			name="{variant}"
			variant="simple"
			style="width: 20px; height: 20px;"
		/>
		Remove {variant}
	</Btn>
{:else}
    <Btn classes="d-flex flex-row items-center gap-0_5" variant="info" on:click={() => goto(getUrl())}>
        <Icon
            disableIcon={true}
            name="{variant}"
            variant="simple"
            style="width: 20px; height: 20px;"
        />
        {variant}
    </Btn>
{/if}
