<script lang="ts">
    import { quintOut } from "svelte/easing";
    import { crossfade } from "svelte/transition";
    import { flip } from "svelte/animate";
    import Notification from "./Notification.svelte";
    import type { INotification } from "./system";

    let notifications: INotification[] = [];

    const [send, receive] = crossfade({
        duration: (d) => Math.sqrt(d * 200),

        fallback(node, _) {
            const style = getComputedStyle(node);
            const transform = style.transform === "none" ? "" : style.transform;

            return {
                duration: 400,
                easing: quintOut,
                css: (t) => `
                    transform: ${transform} scale(${t});
                    opacity: ${t}
                `,
            };
        },
    });

    const onClose = (id: number): void => {
        notifications = notifications.filter((e) => e.id != id);
    };

    const clearNotification = () => (notifications = []);
    const newNotification = (e: CustomEvent) => {
        const not = e.detail as INotification;
        notifications = [...notifications, not];
    };
</script>

<svelte:window
    on:xthm--notification-new={newNotification}
    on:xthm--notification-clear={clearNotification}
/>

<div class="notifications">
    {#each notifications as not (not.id)}
        <div
            in:receive={{ key: not.id }}
            out:send={{ key: not.id }}
            animate:flip={{ duration: 200 }}
        >
            <Notification {...not} {onClose} />
        </div>
    {/each}
</div>
