<script lang="ts">
    import Spinner from "../loaders/Spinner.svelte";
    import type { Variant } from "../types";

    export let title: string;
    export let htmlContent: string;
    export let closeBtn: boolean;
    export let timeout: number = -1;
    export let variant: Variant = "";
    export let loading = false;

    export let onClose: (id: number) => void;
    export let id: number;

    let closed = false;

    if (timeout != -1)
        setTimeout(() => {
            !closed && onClose(id);
            closed = true;
        }, timeout);
</script>

<div class="notification {variant}" data-id={id}>
    <div
        class="notification-content d-flex flex-row items-center justify-between"
    >
        {#if loading}
            <Spinner size="md" style="margin-right: 5px;" />
        {/if}

        <div>
            <p style="marging: 0;">{title}</p>
            <p style="marging: 0; color: rgb(134, 142, 150);">
                {@html htmlContent}
            </p>
        </div>

        {#if closeBtn}
            <div class="d-flex items-center">
                <button
                    class="closebtn"
                    on:click={() => {
                        !closed && onClose(id);
                        closed = true;
                    }}
                >
                    <svg
                        class="icon"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        width="24"
                        height="24"
                        ><path fill="none" d="M0 0h24v24H0z" /><path
                            d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
                        /></svg
                    >
                </button>
            </div>
        {/if}
    </div>
</div>
