<script lang="ts">
    import Popover from "$lib/Popover.svelte";
    import Btn from "$lib/Btn.svelte";

    let reference: any;
    let reference2: any;
    let open = false;
    let open2 = true;
</script>

<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto,
    temporibus. Iste doloremque optio nam doloribus suscipit molestias
    laboriosam reprehenderit perferendis soluta in, quod quasi sit dolores qui.
    Corrupti iste inventore, illum sequi, necessitatibus sit possimus odio,
    temporibus fugit eum animi culpa odit molestias suscipit ullam eveniet quod
    accusantium ipsum! Quisquam maxime eum quidem nam voluptatibus cum
    doloremque, vel, facilis sapiente esse odio ipsum, saepe consequatur culpa
    odit labore neque. Nam blanditiis harum provident dolor explicabo quidem
    cum. Veritatis neque aut, eligendi accusantium accusamus voluptate quidem
    vitae laboriosam dignissimos suscipit, ipsam repellat saepe animi excepturi
    velit debitis. Dignissimos numquam hic doloremque dolore eos, ad fugiat,
    dolores ea quae excepturi quaerat odit officia eaque cumque! Tempora
    accusantium maxime delectus fugit! Distinctio aliquid dolorem libero
    asperiores ullam suscipit labore nemo magni ipsum rem obcaecati nam optio
    porro quasi, sint commodi minus voluptatum quam? Repellendus, aliquid dicta
    quasi odit quia voluptas necessitatibus possimus, dolorum eum nisi odio id.

    <br>


<Btn bind:ref={reference} on:click={() => (open = !open)}>Hi there</Btn>

<Popover target={reference} {open}>
    <div class="card p-1">
        <h1>Hi there</h1>
        <p>Let me help you walk around this thing</p>
    </div>
</Popover>

<br>
    Commodi magni odit nisi amet. Tempore, sit et! Veritatis, architecto quas.
    Nobis laboriosam harum facilis fugiat dolores veritatis fugit eligendi
    deserunt vel esse natus, commodi dolorem ratione, quos porro. Dolorum,
    necessitatibus voluptates vero doloribus quis quas quam impedit repellendus
    mollitia possimus accusamus similique, dolore alias maxime ad commodi
    corrupti tenetur pariatur veniam assumenda sapiente facilis sunt debitis.
    Fuga, in esse dignissimos, enim alias quos modi illo assumenda, error magnam
    ab dolor unde? Doloribus natus iure aliquam sint numquam similique
    temporibus accusamus corrupti amet reprehenderit? At dicta eaque suscipit
    ipsam officiis inventore vitae, quod debitis numquam obcaecati unde
    recusandae? Eum ut saepe accusamus sunt adipisci dolorum at ratione error?
    Maiores cumque optio rerum reprehenderit! Illo voluptatem cum doloribus a,
    tempore ipsa fugit dolores ex quae veniam distinctio praesentium non, error
    architecto quod, excepturi temporibus minima dolor quidem itaque aut nulla
    magni culpa! Voluptatibus magni facilis aliquam ad, voluptate ex adipisci
    modi debitis rerum suscipit illum dignissimos dolores molestiae. Sed
    mollitia harum quaerat id tenetur beatae reprehenderit, laborum error
    tempora officia eaque quis distinctio quidem corrupti, aliquid, excepturi
    natus temporibus dolorem consectetur dolor! Quae, iste. Quibusdam, mollitia
    est tenetur, eius error, hic perferendis pariatur voluptatum natus
    accusantium et quidem? Recusandae distinctio quis itaque magni iusto at
    voluptatem, asperiores corrupti sit molestiae earum adipisci nobis nisi odio
    dolor delectus alias placeat dolore assumenda aperiam dignissimos fugit odit
    perferendis vitae? Eum quaerat animi inventore nesciunt ut vero, provident
    quas incidunt explicabo officia, enim delectus porro ea minima. Recusandae
    modi quisquam excepturi ipsa praesentium illum culpa veniam dolorum
    accusantium ea earum totam facilis ad iure ullam dolor aliquid eaque,
    commodi nulla obcaecati veritatis adipisci laborum! Dolor deserunt iusto
    commodi officiis distinctio quisquam quibusdam debitis ipsam dolores, itaque
    quos, fugit esse laudantium cupiditate rem magni quo sequi tempore dolorem
    sit? Culpa perferendis officiis maiores minima. Vel quis veniam
    necessitatibus, similique sunt expedita fuga qui illo nisi consequuntur
    nobis voluptatem exercitationem soluta laboriosam error placeat ex.
    Aspernatur iusto quis, error quasi quam molestiae iure itaque illum nobis
    ratione praesentium rem laboriosam? Recusandae veniam excepturi esse
    doloremque adipisci pariatur earum facilis error quae cupiditate?
</p>


<Btn bind:ref={reference2} on:click={() => (open2 = !open2)}>i'm second</Btn
    >

    <Popover target={reference2} open={open2} placement="top-end">
        <div class="card p-1">
            <h1>Hi there again</h1>
            <p>try moving the text around</p>
        </div>
    </Popover>

<br>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quam
    numquam iste et maxime commodi, dicta quo fugiat velit consequatur sapiente
    suscipit illo. Dignissimos delectus pariatur dolore illo minus, hic debitis
    tempora ab mollitia alias harum quibusdam, odit rerum? Veniam quisquam velit
    culpa cupiditate numquam perferendis aliquid optio nihil excepturi ex, sint
    minima a. Tempora est similique minima praesentium libero necessitatibus,
    odit quasi et ducimus cumque officia, recusandae unde. Sapiente, ipsa esse.
    Hic autem libero exercitationem voluptate similique voluptates fugiat fuga,
    nihil alias adipisci esse? Expedita nesciunt aspernatur ipsam corporis,
    harum fugit alias eius officia, veritatis dolorum aperiam illum! Voluptatem
    beatae placeat inventore ex! Optio, perspiciatis! Saepe similique dolore
    amet laborum harum quos eveniet repellat suscipit laboriosam blanditiis
    quibusdam inventore placeat ad vel, minima exercitationem quae, molestiae
    provident repudiandae sequi? Adipisci nulla ullam odit rem neque impedit,
    exercitationem optio, omnis doloremque illum nesciunt molestias temporibus
    sapiente, pariatur consectetur? Totam ullam doloribus cupiditate atque
    aperiam ad, quo quisquam. Modi ullam rerum odit reprehenderit laborum omnis
    est, deserunt odio a maxime incidunt, vel expedita aut eos! Assumenda neque
    distinctio quam quas iusto dolores consectetur ut omnis modi. Dolorum
    incidunt aliquam et tempora non eveniet exercitationem voluptate eum dolorem
    iusto? Beatae esse dolorum suscipit laboriosam quis recusandae eius fugiat
    placeat, magnam quo sint sed cumque maiores dicta inventore ipsum ex
    voluptate iusto facilis deserunt quasi veniam, id delectus qui? Ratione
    iusto ex minus eaque ipsam non, commodi asperiores corporis quas tempore
    praesentium ullam recusandae sint soluta doloribus fugit facilis quis
    temporibus, eos distinctio hic! Quae, perferendis labore nesciunt,
    reiciendis architecto corrupti cumque aspernatur commodi dignissimos
    adipisci voluptates tenetur officia animi ad ipsa molestiae. Eligendi
    cupiditate quibusdam quam a corrupti numquam doloremque voluptates,
    exercitationem quia ea facere cum asperiores delectus sint dicta excepturi
    tempora. Ad amet officia labore quasi culpa obcaecati, aut eius itaque
    soluta? Corporis sint suscipit tempora soluta. Impedit alias aut possimus
    laboriosam ad quam corrupti, aperiam delectus nam nihil consequatur id autem
    porro, natus quo minus assumenda quidem magni itaque, voluptatem animi
    laborum? Id, nam quam! Totam amet illum earum aperiam recusandae deleniti
    odio esse delectus doloremque dolorem ipsam facilis libero harum, quaerat
    itaque, molestiae officiis illo nobis natus ipsa ex! A iste quod maxime,
    expedita nisi corporis dolorem, quibusdam quo repudiandae quasi
    reprehenderit exercitationem qui natus minus, illo dolor. Voluptas amet
    dolor inventore aliquam magni iste doloremque distinctio adipisci veritatis
    animi qui, eaque asperiores. Odio minima optio quibusdam sit maxime aut at
    quia, eius eligendi molestias ea! Delectus minima cupiditate dolorum
    deleniti ipsum voluptatum, cumque sapiente rem voluptatem ea praesentium
    ullam architecto veritatis voluptas iusto? Suscipit dolorum obcaecati, sunt
    ipsa odit molestias et consequatur amet exercitationem animi ex id officiis
    nisi unde quos dolorem adipisci sint perferendis voluptas iusto non quo
    commodi cumque! Officiis consectetur fugit quasi magni doloribus non,
    recusandae aspernatur placeat laborum commodi. Animi dignissimos corporis
    facilis sapiente explicabo, beatae distinctio enim minus cumque in labore
    dolor aliquam soluta quaerat officia, odio inventore pariatur ea debitis.
    Provident cupiditate voluptate, error odit debitis ullam impedit fuga
    maiores itaque beatae.
</p>
