<script lang="ts">
	import { goto } from '$app/navigation';
	import { auth } from '$store/auth';
	import { browser } from '$app/environment';
	import { utils } from '@higenku/theme';
    import { getSdk } from '$gql/index';
    import { GraphQLClient } from 'graphql-request';
    import { deleteCookie, getCookie } from '$store/utils';

	const logout = async () => {
		try {
            const cookieCounter = document.cookie.match(/(rf-\d+)+/g)
            const count = cookieCounter?.length || 0;
            let client;
            for (let idx = 0; idx < count; idx++) {             
                deleteCookie(`rf-${idx}`)
                console.log(`deleting rf-${idx}`)
                client = getSdk(new GraphQLClient(`${import.meta.env.VITE_API_URL}/gql`, {
                    credentials: 'include',
                    headers: { 'authorization': `Bearer ${auth.tokens[idx]}` }
                }));

                await client.authLogout();
            }

            deleteCookie(`co`)
            deleteCookie(`cu`);

			await utils.newNotification('Success', `You were logged out! cya :)`, true, 'succ', 5000);
            await auth.refresh()
			await goto('/')

        // eslint-disable-next-line @typescript-eslint/no-explicit-any
		} catch (e: any) {
			console.log(e);
			const err = e.response?.errors[0] || e;

            if (err.message === `Invalid Token`) {
                await goto('/');
                return 
            }

			await utils.newNotification('An error Occured', `${err.message}`, true, 'erro', 5000);
			return;
		}
	};

	if (browser) {
		logout();
	}
</script>

<div class="my-2 d-flex justify-center items-center">
	<div style="width: 400px;" class=" w-sm-100">
		<h1 class="text-center">Log you out</h1>

		<div class="card my-2 d-flex flex-col justify-center items-center">
			<h1 class="text-center">Just a Seccond <span class="dots" /></h1>
		</div>
	</div>
</div>
