<script lang="ts">
    import { goto } from "$app/navigation";
    import { Btn } from "@higenku/theme";
    import {page} from "$app/stores"

    let error_type = "";

    $: error_type = $page.url.searchParams.get("error") || ""

</script>

<h1>An error happened when doing the authentication </h1>

{#if error_type == "provider_error"}
    <p>It seems that you didn't allow access to our app or the OAuth server is down</p>
{:else if error_type == "get_info"}
    <p>We couldn't get the information needed to create the  token, please try again and if that doesn't happen report to us in <a href="https://help.higenku.org" target="_blank" rel="noopener noreferrer">our Support desk</a></p>
{:else if error_type == "token_error"}
    <p>We couldn't create the token, please try again later and if that doesn't happen report to us in <a href="https://help.higenku.org" target="_blank" rel="noopener noreferrer">our Support desk</a></p>
{:else}
<p>Something happened! but we don't know why....</p>
{/if}

<Btn on:click={() => goto('/auth/login')}>Login</Btn>
<Btn on:click={() => goto('/auth/register')}>Register</Btn>
<Btn variant="info" on:click={() => goto('/')}>Home</Btn>
<Btn variant="info" on:click={() => goto('/profile')}>Profile</Btn>