<script lang="ts" context="module">
    export interface ShortCut {
        key: string;
        mod?: "ctrl" | "shift" | "ctrl+shift";
    }

    export interface IconProp {
        name: string;
        variant: "higenku" | "remix" | "simple";
    }

    export interface Command {
        name: string;
        description: string;
        icon?: IconProp;
        shortcut?: ShortCut;
        handler: () => void;
    }
</script>

<script lang="ts">
    import { onMount, tick } from "svelte";
    import { writable } from "svelte/store";
    import Card from "../Card.svelte";

    import Modal from "../modal/Modal.svelte";
    import Icon from "../Icon.svelte";

    let open = false;

    export let commands: Command[] = [];
    export let shortcut: ShortCut;
    let query = writable("");
    let input: HTMLElement;
    let cmdPallet: HTMLDivElement;

    const search = (data: Command[], value): Command[] =>
        value == ""
            ? data
            : data.filter((cmd) => {
                  let _value = value.toLowerCase();
                  let name = cmd.name.toLowerCase();
                  let description = cmd.description.toLowerCase();

                  if (cmd.shortcut) {
                      let key = cmd.shortcut.key.toLocaleLowerCase();
                      let mod = cmd.shortcut.mod.toLocaleLowerCase();

                      return (
                          key.includes(_value) ||
                          mod.includes(_value) ||
                          description.includes(_value)
                      );
                  }

                  return name.includes(_value) || description.includes(_value);
              });

    const shortCuts = async (e: KeyboardEvent) => {
        if (e.key == "Escape") {
            open = false;
        }

        if (!cmdPallet) return;
    };

    const onWindowKeyDown = async (e: KeyboardEvent) => {
        let ctrl = e.ctrlKey;
        let shift = e.shiftKey;
        let key = e.code;

        // prevent the cmd pallet from being activated when the user is typing in an input
        if (e.target != document.body) {
            return;
        }

        if (open) {
            shortCuts(e);
        }

        if (shortcut.key == key) {
            e.preventDefault();

            let isPressed = true;
            if (shortcut.mod)
                isPressed =
                    shortcut.mod == "ctrl+shift"
                        ? ctrl && shift
                        : shortcut.mod == "ctrl"
                        ? ctrl
                        : shortcut.mod == "shift"
                        ? shift
                        : false;

            if (isPressed) {
                open = !open;
                await tick();
                open && input.focus();
            }
        }
    };
    const callHander = (cmd: Command) => () => {
        cmd.handler();
        open = false;
    };
</script>

<svelte:window on:keydown={onWindowKeyDown} />

<Modal show={open} place="top">
    <Card
        style="width: min(600px, 100%); margin-top: 120px; margin-left: auto; margin-right: auto;"
    >
        <div class="form_input full">
            <input
                class="form"
                bind:this={input}
                bind:value={$query}
                on:keyup={(e) =>
                    e.code == "Escape" ? (open = false) : (open = true)}
                placeholder="Search command"
            />
        </div>
        <p>{$query}</p>

        <div class="cmdpallet" tabindex="-1" bind:this={cmdPallet}>
            {#each search(commands, $query) as cmd}
                {#if cmd.icon}
                    <div
                        class=" d-flex flex-row items-start cmd"
                        on:click={callHander(cmd)}
                        on:keypress={callHander(cmd)}
                        tabindex="0"
                    >
                        <Icon
                            size="md"
                            variant={cmd.icon.variant}
                            name={cmd.icon.name}
                        />

                        <div>
                            <p>{cmd.name}</p>
                            <p>{cmd.description}</p>
                        </div>
                    </div>
                {:else}
                    <div
                        class="cmd"
                        on:click={callHander(cmd)}
                        on:keypress={callHander(cmd)}
                        tabindex="0"
                    >
                        <p>{cmd.name}</p>
                        <p>{cmd.description}</p>
                    </div>
                {/if}
            {/each}
        </div>
    </Card>
</Modal>
