<script lang="ts" context="module">
    export interface MenuContext {
        registerSection: () => number;
        goto: (id: number) => void;
        currentSection: Writable<number>;
    }
</script>

<script lang="ts">
    import { ctxMenus, targets } from "./store";
    import { onMount, setContext } from "svelte";
    import { writable, type Writable } from "svelte/store";

    export let open: boolean = false;
    export let x: number = 0;
    export let y: number = 0;
    export let ref: HTMLElement | any = null;
    export let target: HTMLElement | any = null;

    export let showedSection = 0;
    export let classes = "";

    const position = writable({
        x,
        y,
    });

    let sectionCount = -1;
    const currentSection = writable(showedSection);

    function close() {
        currentSection.set(showedSection);
        open = false;
        x = 0;
        y = 0;
    }

    async function openMenu(e: MouseEvent) {
        $ctxMenus.forEach((c) => c());

        const { height, width } = ref.getBoundingClientRect();
        if (open || x === 0) {
            if (window.innerWidth - width < e.x) {
                x = e.x - width;
            } else {
                x = e.x;
            }
        }
        if (open || y === 0) {
            if (window.innerHeight - height < e.y) {
                y = e.y - height;
            } else {
                y = e.y;
            }
        }
        position.set({ x, y });
        open = true;
    }

    $: if (target != null) {
        if (!$targets.includes(target)) {
            targets.update((ts) => [...ts, target]);
        }

        if (Array.isArray(target)) {
            target.forEach((node) =>
                node?.addEventListener("contextmenu", openMenu)
            );
        } else {
            target.addEventListener("contextmenu", openMenu);
        }
    }

    onMount(() => {
        $ctxMenus.push(close);

        if (target != null) {
            if (Array.isArray(target)) {
                target.forEach((node) =>
                    node?.removeEventListener("contextmenu", openMenu)
                );
            } else {
                target.removeEventListener("contextmenu", openMenu);
            }
        }
    });

    setContext<MenuContext>("menu", {
        registerSection: (): number => {
            sectionCount += 1;
            return sectionCount;
        },
        goto: (id: number) => currentSection.set(id),
        currentSection,
    });

    const onCtxMenu = (e: MouseEvent) => {
        if (target != null) return;
        // @ts-ignore
        if ($targets.includes(e.target) && e.target != target) return;
        if (!ref) throw new Error(`Ref is not defined`);

        openMenu(e);
    };

    const onClick = (e: MouseEvent) => {
        let target = e.target;
        // @ts-ignore <- gives an error
        if (target.classList.contains("xthm-internal-navigation")) return;
        if (!open) return;

        close();
    };
</script>

<svelte:window
    on:contextmenu|preventDefault={onCtxMenu}
    on:click={onClick}
    on:keydown={(e) => {
        if (open && e.key === "Escape") close();
    }}
/>

<div
    class="popover {open ? 'show' : ''}"
    bind:this={ref}
    style="position: absolute; left: {$position.x}px; top: {$position.y}px;"
>
    <div class="menu {classes}">
        <slot />
    </div>
</div>
