<script lang="ts" context="module">
    export interface MenuContext {
        registerSection: () => number;
        goto: (id: number) => void;
        currentSection: Writable<number>;
    }
</script>

<script lang="ts">
    import { ctxMenus, targets } from "./store";
    import { onMount, setContext, tick } from "svelte";
    import { writable, type Writable } from "svelte/store";
    import Popover from "../Popover.svelte";
    import type { Placement } from "@popperjs/core/lib/enums";

    import {cubicInOut} from "svelte/easing"
    import {tweened} from 'svelte/motion'
    import {fade} from "svelte/transition"

    const size = tweened(0, {
		duration: 600,
		easing: cubicInOut
	});

    /**
     * used as arguments
     */
    let open = false;
    let _open = writable(false);
    let target: HTMLElement;
    let showedSection = 0;
    let classes = "";
    let placement: Placement = "auto";

    export { open, target, showedSection, classes, placement };

    let inProgress: boolean = false;
    let sectionCount = -1;
    const currentSection = writable(showedSection);

    async function toggleMenu() {
        sectionCount = -1;
        currentSection.set(showedSection);
        _open.update((v) => !v);
    }

    onMount(async () => {
        $ctxMenus.push(close);

        await tick();
        _open.set(open);
        target.addEventListener("click", toggleMenu);
    });

    setContext<MenuContext>("menu", {
        registerSection: (): number => {
            sectionCount += 1;
            return sectionCount;
        },
        goto: (id: number) => currentSection.set(id),
        currentSection,
    });

    const onClick = (e: MouseEvent) => {
        let _target = e.target;
        // @ts-ignore <- gives an error
        if (_target.classList.contains("xthm-internal-navigation")) return;
        if (_target == target) return;
        if (!$_open) return;
        toggleMenu();
    };

</script>

<svelte:window
    on:click={onClick}
    on:keydown={(e) => {
        if ($_open && e.key === "Escape") close();
    }}
/>

<Popover open={$_open} {target} {placement}>
    <div class="menu {classes}">
        <slot />
    </div>
</Popover>
