<script lang="ts">
    import type { MenuContext } from "./CtxMenu.svelte";
    import { getContext, onDestroy, onMount, tick } from "svelte";

    let classes = "";
    let style = "";
    let ref: HTMLElement | any= null;

    export { classes, style, ref };

    const ctx: MenuContext = getContext("menu");
    const current = ctx.currentSection;
    let id: number | any = null;
    let show = false;

    onMount(async () => {
        await tick();
        if (id === null) 
        id = ctx.registerSection();
    });

</script>

{#if id === $current}   
    <div
        {style}
        class="menu-section {classes}"
        bind:this={ref}
    >
        <slot />
    </div>
{/if}