<script lang="ts">
    import type { MenuContext } from "./CtxMenu.svelte";

    import { getContext } from "svelte";
    import MenuItem from "./MenuItem.svelte";

    const ctx: MenuContext = getContext("menu");
    export let classes: string = "";
    export let to: number;
</script>

<MenuItem
    on:click={() => ctx.goto(to)}
    classes="xthm-internal-navigation {classes}"
>
    <span style="display: none">XThm Internal, Do not delete me</span>
    <slot />
</MenuItem>
