<script lang="ts">
    import { createEventDispatcher } from "svelte";
    const dispatch = createEventDispatcher();
    export let href: string | null = null;
    export let classes = "";
</script>

{#if href}
    <a class="menu-item {classes}" {href}>
        <slot />
    </a>
{:else}
    <div class="menu-item {classes}" on:click={(e) => dispatch("click", e)} on:keypress={() => {}} >
        <slot />
    </div>
{/if}
