<script lang="ts">
    import CmdPallet from "$lib/cmdpallet/CmdPallet.svelte"
    import Input from "$lib/forms/Input.svelte";
    import {getContext} from "svelte"
    import { browser } from "$app/environment"

</script>

{#if browser }

    <CmdPallet 
        shortcut={{key: "KeyK", mod: "shift" }} 
        commands={[
            {name: 'Do something',       description: "Does something",             handler: () => console.log(`Did something`)},
            {name: 'Another something',  description: "Does another something",     handler: () => console.log(`Did another something`)},
            {name: 'Buy Coffe',          description: "Buying coffee",              handler: () => console.log(`buying coffe`)},
            {name: 'Sleep alone',        description: "Sleeping",                   handler: () => console.log(`sleeping`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
            {name: 'Something',          description: "Hi all",                     handler: () => console.log(`Repeated`)},
        ]}   
    /> 
{/if}


<Input placeholder="something here" label="another thing you didn't expect" type="email" />