<script lang="ts">
    let classes: string = "";
    let style: string = "";
    let ref: HTMLElement | any  = null;
    export {ref, classes, style};
</script>

<div class="page-content {classes}" {style} bind:this={ref}>
    <slot />
</div>