<script lang="ts" context="module">
    export interface SidebarData { 
        text: string;
        href?: string;
        space?: "0" | "1" | "2" | "3" | "4";
    }
</script>


<script lang="ts">
    import TreeHeader from "../treeview/TreeHeader.svelte";
    import TreeItem from "../treeview/TreeItem.svelte"
    import TreeView from "../treeview/TreeView.svelte"
    
    let data: SidebarData[] = []
    export {data}
</script>
<div class="page-sidebar">
    <br>
    <TreeView>
        {#each data as item}
    
            {#if !item.href}
                <TreeHeader>
                    {item.text}
                </TreeHeader>
                    
            {:else}
                <TreeItem href={item.href} space={item.space ?? "0"}>
                        {item.text}
                </TreeItem>
            {/if}
        {/each}
    </TreeView>
</div>
