<script lang="ts">
    let classes = {
        step: "",
        body: ""
    };
    let style = {
        step: "",
        body: ""
    };
    let ref: HTMLElement | any  = null;
    export {ref, classes, style};
</script>

<div class="step {classes.step}" style={style.step} bind:this={ref}>
    <div class="step-body {classes.body}" style={style.body}>
        <slot />
    </div>
</div>