<script>
	import Navbar from '$com/Navbar.svelte';
	import PageTransition from '$com/PageTransition.svelte';
	import { page } from '$app/stores';
	import { browser } from '$app/environment';
	import { goto } from '$app/navigation';
	import { Notifications } from '@higenku/theme';
	import { setCookie } from '$store/utils';

	if (browser) {
		const newCurrent = $page.url.searchParams.get('u');

		if (newCurrent) {
			let today = new Date(Date.now());
			let exp = today.getTime() + 5 * 60 * 1000;
			setCookie('cu', `${newCurrent}`, exp);

			goto(`${location.pathname}`);
		}
	}
</script>

<Notifications />
<Navbar />
<PageTransition />
<div class="container">
	<slot />
</div>
