<script lang="ts">
    import {Modals} from "@higenku/theme"
    import client from "$lib/gql"

    const apiVersion = client.apiVersion()

</script>    

<Modals />

<div class="d-flex items-center justify-center h-70 my-5">
    <div class="card">
        <h1>Higenku Accounts <span class="badge badge-warn">Beta</span></h1>        
        <p>
            This application is still work in progress that can be followed in the <a href="https://gitlab.com/higenku/apps/account.git" target="_blank" >source repository</a> 
        </p>
        {#await apiVersion}
            <div class="skeleton">
                <div class="skeleton-item" style="width: 100%">
                    <div class="skeleton-item-loader"></div>
                </div>
            </div>
        {:then res} 
            <p>Api version: {res.apiVersion}</p>
        {:catch err}
            <p>
                It looks like our api is down: <br>
            </p>
        {/await}
    </div>
</div>
