<script lang="ts">
    import StepGroup from "$lib/step/StepGroup.svelte"
    import Step from "$lib/step/Step.svelte"
</script>

<StepGroup>
    <Step>
        <div class="card">
            Hi there
        </div>
    </Step>

    <Step>
        <div class="card">
            Hi there
        </div>
    </Step>

    <StepGroup>
        <Step>
            <div class="card">
                Hi there
            </div>
        
            <StepGroup>
                <Step>
                    <div class="card">
                        Hi there
                    </div>
                </Step>
                <Step>
                    <div class="card">
                        Hi there
                    </div>
                </Step>
                <Step>
                    <div class="card">
                        Hi there
                    </div>
                </Step>
            </StepGroup>
        </Step>

    </StepGroup>

</StepGroup>