<script lang="ts">
import Image from "$lib/Image.svelte"


const images = []

for (let i = 30; i < 100; i++) {
    images.push(i)
}

</script>

{#each images as image}
<div style="width: 800px; height: 800px;">
    <Image alt="Placeholder image" size="full" lazy={true} src="https://picsum.photos/seed/{image}/800/800"/>
</div>
{/each}

