// Color modes
@use "./light" as *;
@use "./dark" as *;

.theme-dark {
    @include theme-dark;
}

.theme-light {
    @include theme-light;
}

// default is auto-detect
// light theme is not ready
@media (prefers-color-scheme: dark) {
    :root {
        @include theme-dark;
    }
    
}

@media (prefers-color-scheme: light) {
    :root {
        @include theme-dark;
        // @include theme-light;
    }
}
:root {
    @include theme-dark
}