<script>
import { utils } from "$lib";
import Btn from "$lib/Btn.svelte"
import Modal from "$lib/modal/Modal.svelte"
import Modals from "$lib/modal/Modals.svelte" 
import Card from "$lib/Card.svelte"

export let show1 = false
export let show2 = false

</script>

<Modal show={show1}>
    <Card>
        <h1>Hello there</h1>

        <Btn variant="erro" on:click={() => show1 = false}>Get me out of here</Btn>
    </Card>
</Modal>
<Btn on:click={() => show1 = true}>Click me</Btn>



<Modal show={show2} closeWhenClickOutside={true} on:close={() => show2 = false}>
    <Card>
        <h1>try clicking outside</h1>
    </Card>
</Modal>
<Btn on:click={() => show2 = true}>I don't need a button</Btn>
<br>

<Btn on:click={() => utils.newModal({
    title: 'Testing', 
    content: "hi there",
    onCancel: () => true,
    cancel: "Cancel"
})}>Modal Manager: new modal</Btn>
<Btn on:click={() => utils.newModal({title: 'Testing', content: "try clicking outside", allowOutsideClick: true})}>Modal Manager: Doesn't need buttons</Btn>
<Btn on:click={() => utils.newModal({title: 'Testing', content: "<p>I have <b>HTML</b> inside</p>", htmlContent: true, allowOutsideClick: true})}>Modal Manager: Html Content</Btn>




<Modals />