<script lang="ts">
    import {
        Container,
        Nav,
        NavSection,
        NavItem,
        DropMenu,
        MenuNavigation,
        MenuItem,
        MenuSection,
    } from "$lib";

    let menuTarget: any;
</script>

<Nav logo="https://higenku-icons.pages.dev/hgn-XThm.png" title="XThm">
    <NavSection>
        <NavItem>Features</NavItem>
        <NavItem>Pricing</NavItem>
        <NavItem>Support</NavItem>
        <NavItem>Studies</NavItem>
        <NavItem bind:ref={menuTarget}>Menu</NavItem>
        <NavItem>Hello</NavItem>
        <NavItem active={true}>Hello</NavItem>
    </NavSection>
    <NavSection left={false}>
        <NavItem active={true}>More</NavItem>
    </NavSection>
</Nav>

<DropMenu target={menuTarget}>
    <MenuSection>
        <MenuItem>Hi there</MenuItem>
        <MenuItem>Hi there</MenuItem>
        <MenuItem>Hi there</MenuItem>
        <MenuItem>Hi there</MenuItem>
        <MenuItem>Hi there</MenuItem>
        <MenuItem>Hi there</MenuItem>
        <MenuItem>Hi there</MenuItem>

        <MenuNavigation to={1}>Next Page</MenuNavigation>
    </MenuSection>

    <MenuSection>
        <MenuItem>Hi there again</MenuItem>
        <MenuItem>Hi there again</MenuItem>
        <MenuItem>Hi there again</MenuItem>
        <MenuItem>Hi there again</MenuItem>
        <MenuNavigation to={0}>Nah, go back</MenuNavigation>
    </MenuSection>
</DropMenu>

<Container>
    <slot />
</Container>

<!-- <Footer
    logo="https://higenku.org/favicon.png"
>

</Footer> -->
