<script>
    import Btn from "$lib/Btn.svelte"
    import Badge from "$lib/Badge.svelte"
</script>


<h1>Welcome to Xthm test site</h1>


<Badge variant="">default</Badge>
<Badge variant="info">Info</Badge>
<Badge variant="succ">Info</Badge>
<Badge variant="warn">Info</Badge>
<Badge variant="erro">Info</Badge>

<hr>

<Btn variant="">Hello world</Btn>
<Btn variant="info">Hello world</Btn>
<Btn variant="succ">Hello world</Btn>
<Btn variant="warn">Hello world</Btn>
<Btn variant="erro">Hello world</Btn>
<Btn disabled="true">I'm disabled</Btn>

<div>
    <Btn full={true}>I'm full width</Btn>
</div>