<script lang="ts">
	import { auth } from '$store/auth';

	import { getContext, onMount, setContext } from 'svelte';
	import type { AppResponse } from '$gql/index';
	import {
		Btn,
		Card,
		Skeleton,
		Image,
		SkeletonBox,
		Dots,
		Icon,
		utils,
		Alert,
		Modal,
		Input
	} from '@higenku/theme';
	import { goto } from '$app/navigation';
	import type { ClientType } from '$lib/gql';
	import DeleteModal from './DeleteModal.svelte';
    import sodium from "libsodium-wrappers"

	let client: ClientType;
	let apps: AppResponse[] = [];
	let loading = true;
	let isDeleteModalOpen = false;
	let deleteModalId = '';
	let client_secret: string | undefined;

	onMount(async () => {
		await auth.authenticate();
		client = auth.getAuthenticatedClient();
		client_secret = history.state.client_secret;
		history.state.client_secret = '';

		await refresh();
	});

	const refresh = async () => {
		loading = true;
		apps = (await client.apps()).apps;
		loading = false;
	};

	const deleteApp = async (id: string) => {
		loading = true;
		await sodium.ready;

		const keys = await auth.getKeys();

		const signature = sodium.crypto_sign(
			JSON.stringify({
				_v: '1.0.0',
				id
			}),
			sodium.from_base64(keys.sign.privateKey),
			'base64'
		);

		try {
			await client.appsDelete({ signature });
		} catch (e: any) {
			// eslint-disable-next-line @typescript-eslint/no-explicit-any
			console.log(e);
			const err = e.response?.errors[0] || e;
			await utils.newNotification('An error Occured', `${err.message}`, true, 'erro', 5000);
			return;
		}

		apps = (await client.apps()).apps;
		loading = false;
	};

	const openDeleteModal = (id: string) => () => {
		isDeleteModalOpen = true;
		deleteModalId = id;
	};
</script>

{#if isDeleteModalOpen}
	<DeleteModal
		id={deleteModalId}
		on:close={() => (isDeleteModalOpen = false)}
		on:needs-refresh={refresh}
	/>
{/if}
{#if client_secret}
	<Alert title="App was created successfully">
		<p>Now here is your api and client secret:</p>
		<p style="background-color: var(--cl-shade-light); border-radius: 5px;" class="p-1">
			{client_secret}
		</p>
	</Alert>
{/if}

<Btn variant="succ" on:click={() => goto('/dev/app/new')} classes="d-flex items-center gap-0_1">
	<Icon variant="feather" name="plus" style="filter: none" size="sm" /> New</Btn
>
<br />
<br />

{#if loading}
	<div class="d-flex gap-1 flex-wrap">
		{#each Array(4) as _}
			<div
				class="card col-3 d-flex flex-row justify-center items-center"
				style="min-height: 250px; max-width: 250px;"
			>
				<SkeletonBox style="width: 195px; height: 195px;" classes="my-1" />

				<Skeleton lineCount={2} />

				<div class="d-flex gap-1">
					<Btn><Dots /></Btn>
					<Btn><Dots /></Btn>
				</div>
			</div>
		{/each}
	</div>
{:else}
	{#if apps.length == 0}
		<div class="d-flex flex-col items-center justify-center">
			<div style="height: 50ch;">
				<Image src="/undraw_mobile_apps_re_3wjf.svg" size="full" alt="No Apps image" />
			</div>
			<h2 style="width: fit-content;">No apps yet</h2>
		</div>
	{/if}
	<div class="d-flex gap-1 flex-wrap">
		{#each apps as app}
			<div
				class="card col-3 d-flex items-center"
				style="max-height: 500px; max-width: 250px;"
			>
				<Image
					lazy={false}
					src={app.logo.length == 0
						? `https://avatars.dicebear.com/api/bottts/${app.name}.svg`
						: app.logo}
					alt="{app.name} Logo"
					style="max-width: 250px; min-width: 20ch;"
				/>

				<h3>{app.name}</h3>

				<div class="d-flex gap-1 w-100">
					<Btn variant="info" on:click={() => goto(`/dev/app/${app.id}`)}
						>View Details</Btn
					>
					<Btn variant="erro" on:click={openDeleteModal(app.id)}>Delete</Btn>
				</div>
			</div>
		{/each}
	</div>
{/if}
