<script lang="ts">
	import Captcha from '$com/Captcha.svelte';
	import { auth } from '$store/auth';
	import { Btn, Card, Input, Modal, utils } from '@higenku/theme';
	import { createEventDispatcher } from 'svelte';
    import sodium from "libsodium-wrappers"

    export let id: string;

	const dispatch = createEventDispatcher();
    let token = '';
    let deleteText = '';


	const deleteApp = async () => {
		await sodium.ready;

        if (deleteText.toLowerCase() !== "delete") {
            utils.newNotification("Error", "please type 'delete' inside the input to delete the app", true, 'erro', 5000)
            return;
        }

        if (token.length < 5) {
            utils.newNotification("Error", "Invalid Captcha", true, 'erro', 5000)
            return;
        }


		await auth.authenticate();
		const keys = await auth.getKeys();
		const client = auth.getAuthenticatedClient();


		const signature = sodium.crypto_sign(
			JSON.stringify({
				_v: '1.0.0',
				id,
                captcha: token,
			}),
			sodium.from_base64(keys.sign.privateKey),
			'base64'
		);

		try {
			await client.appsDelete({ signature });
		} catch (e: any) {
			// eslint-disable-next-line @typescript-eslint/no-explicit-any
			console.log(e);
			const err = e.response?.errors[0] || e;
			await utils.newNotification('An error Occured', `${err.message}`, true, 'erro', 5000);
			return;
		}

		dispatch('needs-refresh');
		dispatch('close');
	};

	const onDeleteApp = (event: CustomEvent) => {
		event.detail;
	};
</script>

<svelte:window on:x-delete-app={onDeleteApp} />

<Modal show={true}>
	<Card>
		<h3>Are you sure you want to delete this app?</h3>
		<p>Id: {id}</p>

		<Input label="Type Delete" placeholder="delete" bind:value={deleteText}/>

		<div class="my-1">
			<Captcha bind:token={token} />
		</div>

		<div>
			<Btn on:click={deleteApp} variant="erro">Delete</Btn>
			<Btn on:click={() => dispatch("close")} variant="info">Close</Btn>
		</div>
	</Card>
</Modal>
