.form-check {
    margin: .8rem 0;
    position: relative;
    input {
        left: 0;
        opacity: 0;
        position: absolute;

        cursor: pointer;
        z-index: 10;
    }
     
    &-square {
        top: 4px;
        left: 0;
        padding: 8px;
        border-radius: 4px;

        transition: background-color 150ms ease-in, border-color 150ms ease-in;

        position: absolute;
        outline: none;

        border: 1px solid #66676d;
        background: var(--cl-shade-empty) no-repeat center !important;

    }
    input:focus + &-square {
        border: 1.5px solid var(--cl-info) !important;
    }

    input:checked + &-square {
        border-color: var(--cl-info) !important;
        background-color: var(--cl-info) !important;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8'%3E%3Cpath d='M.375 2.625L3.375 5.625M3.375 5.625L8.625.375' fill='none' fill-rule='evenodd' stroke='rgb%2829, 30, 36%29' stroke-linecap='round' stroke-width='1.5' transform='translate(.5 1)'/%3E%3C/svg%3E") !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
    }
     
    & label {
        display: inline-block;
        padding-left: 1.5rem;
        line-height: 1.5rem;
        font-size: 0.95rem;
        position: relative;
        cursor: pointer;
    }
}