@use "../utils/background" as *;

.form_file {
    min-width: min(400px, 100%); 
    min-height: 200px;
    width: fit-content; 
    padding: 1rem;
    border-radius: 10px;
    transition: all 100ms;
    border: 1px dashed var(--cl-shade-shadeest);

    @extend .shade-lightest;
    &:hover {
        @extend .shade-light;
    }
}