@mixin form_input-dark {
    --form-input-shadow: 0 0 transparent, inset 0 0 0 1px hsla(0, 0%, 100%, 0.1);
    --form-input-bac: hsl(230, 12%, 10%);
    --form-input: hsl(217, 33%, 91%);

    --form-input-shadow_focus: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    --form-input-bac_focus: hsl(228, 13%, 8%);
    --form-input-img_focus: linear-gradient(
        to top,
        hsl(205, 85%, 57%),
        hsl(205, 85%, 57%) 2px,
        transparent 2px,
        transparent 100%
    );

    --form-input-bac_invalid: linear-gradient(
        to top,
        hsl(3, 91%, 68%),
        hsl(3, 91%, 68%) 2px,
        transparent 2px,
        transparent 100%
    );
}

@mixin form_input-light {
    --form-input-shadow: 0 0 transparent, inset 0 0 0 1px hsla(227, 77%, 30%, 0.1);
    --form-input-bac: hsl(210, 33%, 99%);
    --form-input: hsl(226, 11%, 23%);

    --form-input-shadow_focus: inset 0 0 0 1px rgb(17 43 134 / 10%);
    --form-input-bac_focus: #fff;
    --form-input-img_focus: linear-gradient(to top, #07c, #07c 2px, transparent 2px, transparent 100%);

    --form-input-bac_invalid: linear-gradient(to top, #bd271e, #bd271e 2px, transparent 2px, transparent 100%);
}

.form_input {
    // margin: 0.5rem 0;
    height: 40px;
    max-width: 400px;
    position: relative;

    & .append {
        color: inherit;
        position: absolute;
        top: 0;
        right: 7px;

        & > * {
            cursor: pointer;
        }
    }

    &.full {
        max-width: none;
        width: 100%;
    }

    & input {
        display: block;
        width: 100%;
        height: 40px;

        &.has-append {
            padding-right: 45px;
        }

        background-repeat: no-repeat;
        background-size: 0% 100%;
        font-weight: 400;
        transition: box-shadow 150ms ease-in, background-image 150ms ease-in, background-size 150ms ease-in,
            background-color 150ms ease-in;
            

        background-color: var(--form-input-bac);
        color: var(--form-input);
        box-shadow: var(--form-input-shadow);

        border: none;
        border-radius: 6px;
        padding: 12px;

        &:focus {
            background-size: 100% 100%;
            outline: none;

            background-color: var(--form-input-bac_focus);
            background-image: var(--form-input-img_focus);
            box-shadow: var(--form-input-shadow_focus);
        }

        &.invalid {
            background-image: var(--form-input-bac_invalid);
            background-size: 100%;
        }
    }
}
