.form_multiselect {
    .select {
        flex: 1 1;
        user-select: none;
        outline: none;
        // width: 100%;
        // min-height: 40px;
        display: inline;
        
        // Place holder
        &:empty::before {
            color: grey;
        }
        &[placeholder]:not([placeholder=""]):empty::before {
            content: attr(placeholder);
        }
    }

    display: flex;
    flex-direction: row;
    width: 400px;
    min-height: 40px;

    &.append {
        padding-right: 45px;
    }

    background-repeat: no-repeat;
    background-size: 0% 100%;
    font-weight: 400;
    transition: box-shadow 150ms ease-in, background-image 150ms ease-in, background-size 150ms ease-in,
        background-color 150ms ease-in;
        

    background-color: var(--form-input-bac);
    color: var(--form-input);
    box-shadow: var(--form-input-shadow);

    border: none;
    border-radius: 6px;
    padding: 12px;

    &:focus-within {
        background-size: 100% 100%;
        outline: none;

        background-color: var(--form-input-bac_focus);
        background-image: var(--form-input-img_focus);
        box-shadow: var(--form-input-shadow_focus);
    }

    &.invalid {
        background-image: var(--form-input-bac_invalid);
        background-size: 100%;
    }
}