<script lang="ts">
    import {auth, authState} from "$store/auth"
    import {AuthState} from "$store/auth"
    import { goto } from "$app/navigation";
    import { browser } from "$app/environment";
    import { tick } from "svelte";
import { Btn } from "@higenku/theme";

    export let redirectWhenNotAuthorized = false;
    const doAuth = async () => {
        try {
            await auth.authenticate();
            await tick();
        } catch (err) {
            if (redirectWhenNotAuthorized) 
                await goto('/auth/login')
    
        }
    }

    if (browser) doAuth()
</script>
{#if $authState == AuthState.authorizing}
    <slot  name="authorizing"/>
{:else if $authState == AuthState.authorized}
    <slot  name="authorized" user={auth.getCurrentUser()} users={auth.getAllUsers()} client={auth.getAuthenticatedClient()} />
{:else if $authState == AuthState.notAuthorized}
    <slot  name="notAuthorized" >
        <div class="d-flex flex-col justify-start items-center">

            <h1 class="text-center">It looks like you are not signed in!</h1>
            <div>
                <Btn variant="info" on:click={() => goto("/auth/login")}>Login</Btn>
                <Btn variant="info" on:click={() => goto("/auth/register")}>Register</Btn>
            </div>
        </div>
    </slot>
{/if}

