<script lang="ts">
	import { onMount } from 'svelte';

	export let token: string | null = null;
	export let show = true;
	let captchaEle: HTMLElement;

	onMount(() => {
		window.onloadTurnstileCallback = function () {
			window.turnstile.render(captchaEle, {
				sitekey: import.meta.env.VITE_CAPTCHA_KEY,
				callback: (_token: string) => {
					token = _token;
				}
			});
		};
	});
</script>

<svelte:head>
	<script
		src="https://challenges.cloudflare.com/turnstile/v0/api.js?onload=onloadTurnstileCallback"
		async
		defer>
    </script>
</svelte:head>
{#if show}
	<div bind:this={captchaEle} />
{/if}
