<script lang="ts">
	import { browser } from '$app/environment';
	import { goto } from '$app/navigation';
	import { auth } from '$store/auth';
	import { setCookie } from '$store/utils';
	import { Spinner } from '@higenku/theme';
	import { tick } from 'svelte';
	import Auth from './Auth.svelte';

	let notLoading = false;
	const changeUser = async (idx: number) => {
		notLoading = false;

		let today = new Date(Date.now());
		let exp = today.getTime() + 5 * 60 * 1000;
		setCookie('cu', `${idx}`, exp);

		await auth.refresh(idx);
		await tick();
		notLoading = true;
	};

	const bootstrap = async () => {
		notLoading = false;
		await auth.authenticate();
		notLoading = true;
	};

	if (browser) bootstrap();
</script>

<svelte:window 
    on:x-refresh-user={bootstrap()}
/>

<div class="card d-flex flex-col" style="max-width: 400px;">
	<Auth>
		<div slot="authorizing" class="d-flex justify-center">
			<Spinner size="lg" />
		</div>

		<div slot="authorized" let:user let:users class="d-flex flex-col grid-gap-0_5">
			<div class="d-flex flex-col justify-center items-center gap-0_7 mt-1">
				<img
					class="avatar squared hg"
					src="https://static.higenku.org/{user?.avatar}"
					alt="{user?.username} Avatar"
				/>

				<div>
					<h2 style="margin: 4px 0;">{user?.name}</h2>
					<h5 style="margin: 4px 0;">@{user?.username}</h5>
				</div>
			</div>

			<br />
			{#if users.length > 1}
				<h2>Use another account</h2>

				<div style="max-height: 150px; overflow-y: auto;">
					{#if notLoading}
						{#each users as u, i}
							{#if u.username != user?.username}
								<!-- svelte-ignore a11y-no-noninteractive-tabindex -->
								<!-- svelte-ignore a11y-click-events-have-key-events -->
								<div
                                    tabindex="0"
									class="d-flex justify-start m-1 p-1 shade-light"
									style="cursor:pointer; border-radius: 6px;"
									on:click={() => changeUser(i)}
								>
									<img
										class="avatar avatar-squared lg"
										src="https://static.higenku.org/{u.avatar}"
										alt="{user?.username} Avatar"
									/>

									<div class="ml-1">
										<h5 style="margin: 4px 0;">@{u.username}</h5>
									</div>
								</div>
								<br />
							{/if}
						{/each}
					{/if}
				</div>
			{/if}
		</div>

		<div slot="notAuthorized">
			<a href="/auth/register">Register</a>
			<a href="/auth/login">Login</a>
		</div>
	</Auth>

	<div class="dropdown-divider" />

	<div style="margin-top: 0;">
		<button on:click={() => goto('/profile')} class="btn"> Manage Account </button>
		<button on:click={() => goto('/auth/login')} class="btn info"> Add Account </button>
		<button on:click={() => goto('/auth/logout')} class="btn erro"> End Session </button>
	</div>
</div>
