<script lang="ts">
    import Auth from "./Auth.svelte"
    import Logins from "./Logins.svelte"
    import {page} from "$app/stores"
    import {Nav, NavItem, NavSection, DropMenu, MenuSection, MenuItem} from "@higenku/theme"
    import { Icon, Spinner } from "@higenku/theme"

    let url = ""
    $: url = $page.url.pathname
    let logins_target: HTMLElement
    let more_target: HTMLElement
</script>

<Nav
    title="XAccounts"
    logo="/favicon.png">

    <NavSection>
        <NavItem>Test</NavItem>
    </NavSection>

    <Auth>

        <NavItem slot="authorizing">
            <Spinner />
        </NavItem>


        <svelte:fragment slot="authorized">
            <NavItem bind:ref={logins_target} active={url === "/profile"} on:click={() => console.log("CLICKED")}>
                Account <Icon name="arrow-down-s-line" variant="remix"/>
            </NavItem>

            <NavItem href="/wallet" pathname={url} usePathname={true}>
                Wallet
            </NavItem>

            <NavItem href="/dev" pathname={url} usePathname={true}>
                Developers
            </NavItem>

            <DropMenu target={logins_target}>
                <Logins />
            </DropMenu>
        </svelte:fragment>

        <svelte:fragment slot="notAuthorized">
            <NavItem href="/auth/register" pathname={url} usePathname={true}> Register </NavItem>
            <NavItem href="/auth/login" pathname={url} usePathname={true}> Login </NavItem>

        </svelte:fragment>
        
    </Auth>

    <NavItem bind:ref={more_target}>More</NavItem>

</Nav>

<DropMenu target={more_target}>
    <MenuSection>
        <MenuItem href="https://higenku.org">           Home        </MenuItem>
        <MenuItem href="https://store.higenku.org">     Store       </MenuItem>
        <MenuItem href="https://community.higenku.org"> Community   </MenuItem>
        <MenuItem href="https://docs.higenku.org">      Docs        </MenuItem>
        <MenuItem href="https://suite.higenku.org">     Suite       </MenuItem>
        <MenuItem href="https://gitlab.com/higenku">    Gitlab      </MenuItem>
    </MenuSection>
</DropMenu>
