<script lang="ts">
    import { goto } from "$app/navigation"
    import { onMount } from "svelte";

    let user_id: string | null= null
    export {user_id}

    let state = "";

    onMount(() => {
        if (user_id !== null) {
            state = `&state=${user_id}`
        }
    })
</script>

<div class="d-flex flex-row gap-0_2 justify-between">
    <button 
        type="button"
        class="btn btn-info d-flex flex-row items-center" 
        on:click={() => goto(`https://gitlab.com/oauth/authorize?redirect_uri=&client_id=${import.meta.env.VITE_GITLAB_CLIENT_ID}&redirect_uri=${encodeURIComponent(import.meta.env.VITE_GITLAB_REDIRECT_URI)}&response_type=code&scope=read_user${state}`)}
    >
        <img src="https://unpkg.com/simple-icons@v6/icons/gitlab.svg" width="20px" height="20px" alt="Other option to login">
        <span class="v-hidden">S</span>
        Gitlab
    </button>

    <button 
        type="button"
        class="btn btn-info d-flex flex-row items-center"
        on:click={() => goto(`https://accounts.google.com/o/oauth2/v2/auth?&client_id=${import.meta.env.VITE_GOOGLE_CLIENT_ID}&scope=openid+email+profile&response_type=code&redirect_uri=${encodeURIComponent(import.meta.env.VITE_GOOGLE_REDIRECT_URI)}${state}`)}
    >
        <img src="https://unpkg.com/simple-icons@v6/icons/google.svg" width="20px" height="20px" alt="Other option to login">
        <span class="v-hidden">S</span>
        Google
    </button>

    <button 
        type="button"
        class="btn btn-info d-flex flex-row items-center"
        on:click={() => goto(`https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=${import.meta.env.VITE_MICROSOFT_CLIENT_ID}&redirect_uri=${encodeURIComponent(import.meta.env.VITE_MICROSOFT_REDIRECT_URI)}&scope=openid+email+profile&response_type=code${state}`)}
    >
        <img src="https://unpkg.com/simple-icons@v6/icons/microsoft.svg" width="20px" height="20px" alt="Other option to login">
        <span class="v-hidden">S</span>
        Microsoft
    </button>

    <button 
        type="button"
        class="btn btn-info d-flex flex-row items-center"
        on:click={() => goto(`https://github.com/login/oauth/authorize?client_id=${import.meta.env.VITE_GITHUB_CLIENT_ID}&redirect_uri=${encodeURIComponent(import.meta.env.VITE_GITHUB_REDIRECT_URI)}&scope=read:user+user:email&allow_signup=true${state}`)}
    >
        <img src="https://unpkg.com/simple-icons@v6/icons/github.svg" width="20px" height="20px" alt="Other option to login">
        <span class="v-hidden">S</span>
        Github
    </button>
</div>