<script lang="ts">
   import { beforeNavigate, afterNavigate } from "$app/navigation";
   let showProgressbar = false
   
    beforeNavigate(() => {
        showProgressbar = true
        return true
    })
    
    afterNavigate( () => {
        showProgressbar = false
        return true;
    })
</script>

{#if showProgressbar}
<div style="height: 0.2rem; position: absolute;" class="progress animated w-100"></div>
{/if}
