<script lang="ts">
	import Captcha from '$com/Captcha.svelte';

    import { browser } from "$app/environment"
    import {isEmail} from "$lib/utils";
    import client from '$lib/gql';
    import { page } from '$app/stores';
    import Oauth2 from '$com/Oauth2.svelte';
    import {Input, Checkbox, utils} from '@higenku/theme';
    import { tick } from 'svelte';
    
	let registrationProgress = 0;
	let emailProv: string[] = [];
	let captchaUpdate = true;


    const user = {
        email: '',
        captcha: '',
        accepted_terms: false,
    };

    if (browser) {
        let next =  $page.url.searchParams.get("next") || ""
        localStorage.setItem("next", next);
    }


	const updateCaptcha = () => {
		captchaUpdate = false;
		setTimeout(() => (captchaUpdate = true), 10);
	};

	const register = async () => {

        await tick();
        if (registrationProgress > 0)
            return

		registrationProgress = 1;
		if (!isEmail(user.email)) {
			registrationProgress = 0;
            await utils.newNotification('An error Occured', `Email '${user.email}' is invalid`, true, 'erro', 5000)
			return;
		}

		if (!user.accepted_terms) {
			registrationProgress = 0;
            await utils.newNotification('An error Occured', 'Cannot Create account if the terms of service and privacy policy are not accepted!!', true, 'erro', 5000)
			return;
		}

		if (user.captcha.length == 0) {
			registrationProgress = 0;
            await utils.newNotification('An error Occured', 'Invalid Captcha', true, 'erro', 5000)
			return;
		}
        try {
            await client.authRegister({
                req: {
                    email: user.email,
                    captcha: user.captcha
                }
            })

            await utils.newNotification('Sucess', 'please watch your email for an email to finish your registration', true, 'succ', 5000)

            // open in mail button
            switch (user.email.split('@')[1].toLowerCase()) {
                case 'protonmail.com':
                case 'protonmail.ch':
                case 'proton.me':
                case 'pm.me':
                    emailProv = [
                        'https://account.protonmail.com/switch?service=mail',
                        'Protonmail'
                    ];
                    break;
                case 'outlook.com':
                case 'outlook.com.br':
                case 'outlook.com.de':
                case 'hotmail.com':
                    emailProv = ['https://outlook.live.com/', 'Outlook'];
                    break;
                case 'gmail.com':
                    emailProv = [
                        'https://accounts.google.com/AccountChooser?continue=https%3A%2F%2Fmail.google.com',
                        'Gmail'
                    ];
                    break;
                case 'tutanoa.com':
                case 'tutamail.com':
                case 'tutanota.de':
                case 'tuta.io':
                case 'keemail.me':
                    emailProv = [
                        'https://mail.tutanota.com/login?noAutoLogin=true',
                        'Tutamail Web'
                    ];
                    break;
                case 'icloud.com':
                case 'me.com':
                    emailProv = ['https://www.icloud.com/mail', 'ICloud Mail'];
                    break;
                default:
                    emailProv = ['mailto://no@send.to', 'MailClient'];
                    break;
            }
            registrationProgress = 2;
        }
        // eslint-disable-next-line @typescript-eslint/no-explicit-any
        catch(e: any) {
            const err = e.response?.errors[0] || e
    
            await utils.newNotification('An error Occured', `${err.message}`, true, 'erro', 5000)
            updateCaptcha()
            registrationProgress = 0;
        }
	};
</script>

<div class="my-2 d-flex justify-center items-center">
	<form on:submit|preventDefault={register} style="max-width: 420px;">
		<h1 class="text-center">Register</h1>

		<div class="card my-2">

            <Input label="Email" placeholder="ben@dover.com" bind:value={user.email} autocomplete="email" />

			<div class="d-flex justify-center" style="margin-top: 1rem;">
                {#if browser}
                    <Captcha show={captchaUpdate} bind:token={user.captcha} />
                {/if}
			</div>

            <Checkbox bind:value={user.accepted_terms}>
                I have agreed with the
                <a href="https://higenku.org/legal/tos" target="_blank" rel="noopener noreferrer">Terms of Service</a>
                and
				<a href="https://higenku.org/legal/pp" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
            </Checkbox>

			{#if registrationProgress == 1}
				<button disabled class="btn">
					Registering
					<span class="dots" />
				</button>
			{:else if registrationProgress == 2}
				<a href={emailProv[0]} class="w-100">
					<button class="btn succ w-100">
						Open {emailProv[1]}
					</button>
				</a>
			{:else}
				<button class="btn succ">Register</button>
			{/if}
		</div>
    
        <p>You can also <a href="/auth/login">login</a></p>
	
        <Oauth2 />    
    </form>
</div>
