<script lang="ts">
    import Modal from "./Modal.svelte";
    import Btn from "../Btn.svelte";
    import { modals } from "./modalMgr";
    import Card from "../Card.svelte";

    const handleClick = (func: () => boolean) => () =>
        console.log(`handled click`, func() && close());

    const close = () => {
        modals.update((s) => {
            let e = s.pop();
            return s;
        });
    };
    $: currentModal = $modals[0] || null;
</script>

{#each $modals as m, idx (idx)}
    <Modal
        on:close={close}
        closeWhenClickOutside={m.allowOutsideClick}
        show={m.open}
    >
        <Card>
            <h2>{m.title}</h2>

            {#if m.htmlContent}
                {@html m.content}
            {:else}
                <p>{m.content}</p>
            {/if}
            <div class="d-flex flex-row">
                {#if m.cancel}
                    <Btn on:click={handleClick(m.onCancel)}>{m.cancel}</Btn>
                {/if}

                {#if m.confirm}
                    <Btn on:click={handleClick(m.onConfirm)}>{m.confirm}</Btn>
                {/if}

                {#if m.danger}
                    <Btn on:click={handleClick(m.onDanger)}>{m.danger}</Btn>
                {/if}
            </div>
        </Card>
    </Modal>
{/each}
