<script lang="ts">
    import { createEventDispatcher } from "svelte";
    import { fade } from "svelte/transition";

    export let place: "center" | "top" | "bottom" = "center";
    export let show = false;
    export let closeWhenClickOutside = false;
    export let duration = 150;
    let modalElement: any;
    const dispatch = createEventDispatcher();

    const onClick = (ev: MouseEvent) => {
        let target = (ev.target as HTMLElement).classList as DOMTokenList;
        if (
            closeWhenClickOutside &&
            target.contains(`modal`) &&
            target.contains(`place-${place}`)
        ) {
            show = false;
            dispatch("close");
        }
    };

    $: if (show) {
        modalElement && modalElement.showModal();
    }
</script>

{#if show}
    <div
        class="modal place-{place} {place == 'center' ? '' : 'space'}"
        on:click={onClick}
        on:keypress={() => {}}
        in:fade={{ duration }}
        out:fade={{ duration }}
    >
        <slot />
    </div>
{/if}
