<script lang="ts">
	import { Btn, Card, Checkbox, Input, Modal, utils } from '@higenku/theme';
	import { page } from '$app/stores';
	import { goto } from '$app/navigation';
	import { cryptoDb } from '$store/db';
	import { auth } from '$store/auth';
	import { browser } from '$app/environment';
	import { isEmail, isLength } from '$lib/utils';
	import client from '$lib/gql';
	import { onMount } from 'svelte';
	import { Spinner } from '@higenku/theme';
    import sodium from 'libsodium-wrappers'

	let token = $page.params.token;
	let registrationInProgress = false;
	let loading = true;
	let modalLoading = false;
	let btnMessage = 'Validating';
    let open = false;

	const user = {
		name: '',
		username: '',
		encryptionKey: '',
		email: '',
		encryptedStore: '',
		encryptedMessage: '',
		store: {
            sign: {
                keyType: '',
                publicKey: '',
                privateKey: '',
            },
            crypto: {
                keyType: '',
                publicKey: '',
                privateKey: '',
            }
        },
        provider: null,
        avatar: '',
        id: '',
		secretKey: 'Generating keys....',
		secretKey2: '',
		secretKeyBackedUp: false
	};
	onMount(async () => {
		let decodedToken = JSON.parse(window.atob(token.split('.')[1]));
		if (Date.now() >= decodedToken.exp * 1000) {
			await utils.newNotification('Token too old', 'Token Expired!', true, 'erro', 6000);
			setTimeout(() => goto('/auth/register'), 500);
		}
	});

	const onBrowser = async () => {
		let decodedToken = JSON.parse(window.atob(token.split('.')[1]));
		user.email = decodedToken.email;

		if (typeof decodedToken.data !== 'undefined') {
			
            const data = decodedToken.data;
            user.name = data.name;
			user.username = data.username;

            // eslint-disable-next-line @typescript-eslint/ban-ts-comment
            // @ts-ignore
            user.provider = `${data.provider}::${data.id}`
		}

		loading = false;
		generateKeys();
	};

	const generateKeys = async () => {
		console.log('before importing libsodium-wrappers')
        // const _sodium = await import('libsodium-wrappers');
		console.log('after importing libsodium-wrappers')
		await sodium.ready;

		console.log(sodium)

		const cryptoKeypair = sodium.crypto_box_keypair('base64');
		const signKeypair = sodium.crypto_sign_keypair('base64');
		const nonce = sodium.randombytes_buf(sodium.crypto_secretbox_NONCEBYTES);
		const key = sodium.crypto_secretbox_keygen();
		
        const secretKey = new Uint8Array(key.length + nonce.length);
        secretKey.set(nonce);
        secretKey.set(key, nonce.length);

        const encryptedStore = sodium.crypto_secretbox_easy(JSON.stringify({
            v: '1.0.0',
            sign: signKeypair,
            crypto: cryptoKeypair,
        }), nonce, key, 'base64');

		const encryptedMessage = sodium.crypto_secretbox_easy(secretKey, nonce, key, 'base64')

		user.encryptedMessage = encryptedMessage;
		user.encryptedStore = encryptedStore

        user.store = {
            sign: signKeypair,
            crypto: cryptoKeypair, 
        }

		user.secretKey = sodium.to_base64(secretKey);
	};

    const check = () => open = !open;

	const register = async () => {
        modalLoading = true;

        if (user.secretKey !== user.secretKey2) {
            await utils.newNotification("Error", 'the secret keys do not match, please try again', true, 'erro', 5000)
            modalLoading = false;
            return;
        }

		if (registrationInProgress) return;

		registrationInProgress = true;
		if (user.store.crypto.publicKey.length <= 0) {
			registrationInProgress = false;
			await utils.newNotification(
				'Generation Error',
				`Keys are not finished generating`,
				true,
				'erro', 
                5000
			);
			modalLoading = false;
            return;
		}

		// client validation
		if (!isEmail(user.email)) {
			registrationInProgress = false;
			await utils.newNotification(
				'Validation Error',
				`Email: '${user.email}' is invalid`,
				true,
				'erro', 
                5000
			);
			modalLoading = false;
            return;
		}

		if (!isLength(user.name, { min: 1, max: 300 })) {
			registrationInProgress = false;
			await utils.newNotification(
				'Validation Error',
				`Invalid Username: <br>Your Name must be between 1 and 300 characters`,
				true,
				'erro', 
                5000
			);
			modalLoading = false;
            return;
		}

		if (
			!isLength(user.username, { min: 1, max: 300 }) &&
			user.username.match(/([^a-zA-Z\\d_])/g)
		) {
			registrationInProgress = false;
			await utils.newNotification(
				'Validation Error',
				`Invalid Username: <br>Your Username must be between 1 and 300 characters and only contain letters, numbers and "_"`,
				true,
				'erro', 
                5000
			);
			modalLoading = false;
            return;
		}

		// server registration and validation
		btnMessage = 'Registering';
		try {
			const res = await client.authRegister({
				req: {
					username: user.username,
					email: user.email,
					name: user.name,
					token: token,
                    cryptoPubkey: user.store.crypto.publicKey,
                    signPubkey: user.store.sign.publicKey,
					encryptedMessage: user.encryptedMessage,
					encryptedStore: user.encryptedStore,
                    avatar: user.avatar,
                    provider: user.provider,
				}
			});

			const [keycheck, id] = res.authRegister.split('::');

			if (!keycheck || !id) {
				throw new Error('please try again later,<br> impossible to split response');
			}

			btnMessage = 'Finishing up';

			await cryptoDb.saveNewCreds({
				id,
				keycheck,
                ...user.store,
			});

			await utils.newNotification(
				'Success',
				'Registration was successful, Your account is now registered',
				true,
				'succ',
				8000
			);
			registrationInProgress = false;
			await auth.refresh();
			await goto('/');
        // eslint-disable-next-line @typescript-eslint/no-explicit-any
		} catch (e: any) {
			console.log(e);
			const err = e.response?.errors[0] || e;
            registrationInProgress = false;
			await utils.newNotification('An error Occured', `${err.message}`, true, 'erro', 5000);
            modalLoading = false;
		}
	};

	const onCopySecurityKey = async () => {
		if (user.secretKey === 'Generating keys....') {
			await utils.newNotification(
				'Error',
				'You must wait for the Keys to finish generation',
				true,
				'erro',
				8000
			);
			return;
		}
		navigator.clipboard.writeText(user.secretKey);
		await utils.newNotification(
			'Success',
			'Copied the security key to your clipboard',
			true,
			'succ',
			8000
		);
	};

	if (browser) {
		setTimeout(() => onBrowser(), 1000);
	}
</script>

<Modal show={open} place="top">
	<Card>
		<h1>Are you Sure?</h1>
		<Input
			label="If so, please enter it here"
			autocomplete=""
			bind:value={user.secretKey2}
			placeholder="The key to the world!"
		/>

		<div class="mt-1">
            {#if modalLoading} 
                <Btn><Spinner /></Btn>
                <Btn><Spinner /></Btn>
            {:else}
                <Btn variant="succ" on:click={register}>I am sure</Btn>
                <Btn variant="erro" on:click={() => (open = false)}>I didn't back it up</Btn>
            {/if}
		</div>
	</Card>
</Modal>

<div class="my-2 d-flex justify-center items-center">
	<div style="width: 400px;" class=" w-sm-100">
		<h1 class="text-center">Additional Information</h1>

		<form class="card my-2" method="post" on:submit|preventDefault={check}>
			{#if loading}
				<Spinner size="lg" classes="self-center" />
			{:else}
				<div class="form-label">Name</div>
				<div class="form_input">
					<input
						type="text"
						placeholder="John"
						bind:value={user.name}
						class="form_input-component"
					/>
				</div>

				<Input
					label="Username"
					bind:value={user.username}
					placeholder="jonh64"
					autocomplete="username"
				/>
				<Input
					label="Security Key (make backup)"
					autocomplete="off"
					value={user.secretKey}
					disabled={true}
				/>
				<Btn on:click={onCopySecurityKey} variant="info">Copy Security Key</Btn>

				<Checkbox bind:value={user.secretKeyBackedUp}>
					I have backup my security key
				</Checkbox>

				{#if registrationInProgress}
					<button disabled class="btn">
						{btnMessage}
						<span class="dots" />
					</button>
				{:else}
					<button class="btn succ" type="submit" disabled={!user.secretKeyBackedUp}>
						Register
					</button>
				{/if}
			{/if}
		</form>
	</div>
</div>
