<script lang="ts">
	import { page } from '$app/stores';
	import { browser } from '$app/environment';
	import { goto } from '$app/navigation';
	import { auth } from '$store/auth';
	import { utils, Dots } from '@higenku/theme';
	import client from '$lib/gql';
	import { Spinner } from '@higenku/theme';
	import { tick, createEventDispatcher } from 'svelte';
	import { writable } from 'svelte/store';

    const dispatch = createEventDispatcher()

	enum StepType {
		SecurityKey,
		PasswordLess,
		Tfa
	}

	const login_step = async () => {
		inProgress = true;

		if (!credential || credential === '') {
			await utils.newNotification('Error', 'Credential cannot be empty', true, 'erro', 5000);
			return;
		}

		try {
			let res = await client.authLogin({
				req: {
					credential: credential,
					token: $token,
					input
				}
			});

			let text = res.authLogin;

			if (text === 'Check your email') {
				await utils.newNotification(
					'Success',
					'Step Achieved! <br>Check Your Email',
					true,
					'succ', 
                    5000
				);
				return;
			}

			if (text === 'You are logged in') {
				await utils.newNotification('Success', 'Login was successful', true, 'succ', 3000);

                let next = localStorage.getItem('next');
                if (next) {
                    localStorage.removeItem('next');
                    goto(next);
                }

                await auth.refresh();
                if ((await auth.authenticate()) == null) return;
                else {
                    if (auth.needsKeySync) {
                        return;
                    }
                    goto('/')
                }

                return;
			}
			let decodedToken = JSON.parse(window.atob($token.split('.')[1]));

			await utils.newNotification(
				'Success',
				`moving to the next step: ${decodedToken.step_type}`,
				true,
				'succ',
                1000
			);
			token.set(text);
			await goto(`/auth/login/${text}`);
			refresh();

			await tick();
			inProgress = false;
        // eslint-disable-next-line @typescript-eslint/no-explicit-any
		} catch (e: any) {
			console.log(e);
			const err = e.response?.errors[0] || e;
			await utils.newNotification('An error Occured', `${err.message}`, true, 'erro', 5000);
            inProgress = false;
			return;
		}
	};

	let erroMsg: string | null = null;
	let succMsg: string | null = null;
	let stepType: StepType = StepType.PasswordLess;
	let inProgress = true;

	let input: string | null = null;
	let credential: string | null = null;
	let token = writable($page.params.token);

	const refresh = () => {
		let decodedToken = JSON.parse(window.atob($token.split('.')[1]));

		if (Date.now() >= decodedToken.exp * 1000) {
			erroMsg = 'Token Expired!';
			setTimeout(() => goto('/auth/login'), 1000);
		}

		credential = decodedToken.credential;

		switch (decodedToken.step_type) {
			case 'tfa':
				stepType = StepType.Tfa;
				break;

			case 'securitykey':
				stepType = StepType.SecurityKey;
				break;

			case 'email':
				login_step();
				break;
		}
		inProgress = false;
	};

	if (browser) refresh()
</script>

<div class="my-2 d-flex justify-center items-center">
	<div style="width: 400px;" class=" w-sm-100">
		<h1 class="text-center">Login Step</h1>

		<div class="card my-2 d-flex flex-col justify-center items-center">
			{#if erroMsg}
				<div class="alert erro w-100">
					{@html erroMsg}
				</div>
				<br />
				<br />
			{/if}

			{#if succMsg}
				<div class="alert succ w-100">
					{@html succMsg}
				</div>
				<br />
				<br />
			{/if}

			{#if stepType == StepType.PasswordLess}
				<Spinner size="md" />
				<br />
				<h2>Just a bit <Dots /></h2>
			{:else if stepType == StepType.Tfa}
				<h2>Two Factor Code</h2>
				<div class="form_input form_input-full ">
					<input
						type="text"
						class="form_input-component"
						bind:value={input}
						placeholder="12345678"
					/>
				</div>

				<div class="my-1" />

				{#if inProgress}
					<button disabled class="btn w-100">
						Checking
						<span class="dots" />
					</button>
				{:else}
					<button class="btn btn-succ w-100" on:click={login_step}>Login</button>
				{/if}
			{:else}
				<h3>Unfortunately, this method is not implemented</h3>
			{/if}
		</div>
	</div>
</div>
