.shade {
    background-color: var(--cl-shade);    
    
    &-empty {
        background-color: var(--cl-shade-empty);    
    }
    &-lightest {
        background-color: var(--cl-shade-lightest);    
    }
    &-light {
        background-color: var(--cl-shade-light);    
    }
    &-medium {
        background-color: var(--cl-shade-medium);    
    }
    &-shadeest {
        background-color: var(--cl-shadeest);    
    }
    &-full {
        background-color: var(--cl-shade-full);    
    }
}