.container {
    width: 100%;
    height: calc(100vh - 65px);
    overflow-y: auto;
    padding: 0 5%;    
    padding-top: 0.8rem;
    margin: 0;

    &:focus-visible {
        border: 2px solid red;
    }

    &-full {
        height: 100%;
    }
}

@mixin media-container {
    .container {
        width: 100%;
        padding: 0 4%;
    }
}