@use "sass:math";

.m-auto { margin: auto; }
.mx-auto { margin-left: auto; margin-right: auto; }
.my-auto { margin-top: auto; margin-bottom: auto; }
.ml-auto { margin-left: auto; }
.mr-auto { margin-right: auto; }
.mt-auto { margin-top: auto; }
.mb-auto { margin-bottom: auto; }


.p-auto { padding: auto; }
.px-auto { padding-left: auto; padding-right: auto; }
.py-auto { padding-top: auto; padding-bottom: auto; }
.pl-auto { padding-left: auto; }
.pr-auto { padding-right: auto; }
.pt-auto { padding-top: auto; }
.pb-auto { padding-bottom: auto; }

.w-auto {height: auto;}
.h-auto {width: auto;}

@for $idx from 1 through 10 {

    .gap-#{$idx} {
        gap: #{$idx}rem;
    }

    @if ($idx != 10) {
        .gap-0_#{$idx} {
            gap: #{math.div($idx, 10)}rem;
        }
    }

    .m-#{$idx} { margin: #{$idx}rem; }
    .mx-#{$idx} { margin-left: #{$idx}rem; margin-right: #{$idx}rem; }
    .my-#{$idx} { margin-top: #{$idx}rem; margin-bottom: #{$idx}rem; }

    .ml-#{$idx} { margin-left: #{$idx}rem; }
    .mr-#{$idx} { margin-right: #{$idx}rem; }
    .mt-#{$idx} { margin-top: #{$idx}rem; }
    .mb-#{$idx} { margin-bottom: #{$idx}rem; }

    .p-#{$idx} { padding: #{$idx}rem; }
    .px-#{$idx} { margin-left: #{$idx}rem; margin-right: #{$idx}rem; }
    .py-#{$idx} { margin-top: #{$idx}rem; margin-bottom: #{$idx}rem; }
    
    .pl-#{$idx} { margin-left: #{$idx}rem; }
    .pr-#{$idx} { margin-right: #{$idx}rem; }
    .pt-#{$idx} { margin-top: #{$idx}rem; }
    .pb-#{$idx} { margin-bottom: #{$idx}rem; }

    $i: $idx * 10;

    .w-#{$i} {
        width: unquote("#{$i}%");
    }
    .h-#{$i} {
        height: unquote("#{$i}%");
    }
}

@mixin media-dimentions {
    .m-sm-auto { margin: auto; }
    .mx-sm-auto { margin: 0 auto; }
    .my-sm-auto { margin: auto 0; }

    .p-sm-auto {padding: auto;}
    .px-sm-auto {padding: 0 auto;}
    .py-sm-auto {padding: auto 0;}

    .w-sm-auto {height: auto;}
    .h-sm-auto {width: auto;}

    @for $idx from 1 through 10 {
        .m-sm-#{$idx} { margin: #{$idx}rem; }
        .mx-sm-#{$idx} { margin-left: #{$idx}rem; margin-right: #{$idx}rem; }
        .my-sm-#{$idx} { margin-top: #{$idx}rem; margin-bottom: #{$idx}rem; }
    
        .ml-sm-#{$idx} { margin-left: #{$idx}rem; }
        .mr-sm-#{$idx} { margin-right: #{$idx}rem; }
        .mt-sm-#{$idx} { margin-top: #{$idx}rem; }
        .mb-sm-#{$idx} { margin-bottom: #{$idx}rem; }
    
        .p-sm-#{$idx} { padding: #{$idx}rem; }
        .px-sm-#{$idx} { margin-left: #{$idx}rem; margin-right: #{$idx}rem; }
        .py-sm-#{$idx} { margin-top: #{$idx}rem; margin-bottom: #{$idx}rem; }
        .pl-sm-#{$idx} { margin-left: #{$idx}rem; }
        .pr-sm-#{$idx} { margin-right: #{$idx}rem; }
        .pt-sm-#{$idx} { margin-top: #{$idx}rem; }
        .pb-sm-#{$idx} { margin-bottom: #{$idx}rem; }
    
        $i: $idx * 10;
    
        .w-sm-#{$i} {
            width: unquote("#{$i}%");
        }
        .h-sm-#{$i} {
            height: unquote("#{$i}%");
        }
    }
}
