.d-none {
    display: none;
}
.d-block {
    display: block;
}
.d-grid {
    display: grid;
}
.d-inline-block {
    display: inline-block;
}
.d-inline {
    display: inline;
}

.d-inline-flex {
    display: inline-flex;
}
.d-flex {
    display: flex;
    flex-wrap: wrap;
}
