.flex-fill {
    flex: 1 1 auto;
}

.flex-row {
    flex-direction: row;
}
.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-col {
    flex-direction: column;
}
.flex-col-reverse {
    flex-direction: column-reverse;
}

.justify-start {
    justify-content: start;
}
.justify-end {
    justify-content: end;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.justify-evenly {
    justify-content: space-evenly;
}

.items-start {
    align-items: flex-start;
}
.items-end {
    align-items: flex-end;
}
.items-center {
    align-items: center;
}
.items-baseline {
    align-items: baseline;
}
.items-stretch {
    align-items: stretch;
}

.self-start {
    align-self: flex-start;
}
.self-end {
    align-self: flex-end;
}
.self-center {
    align-self: center;
}
.self-baseline {
    align-self: baseline;
}
.self-stretch {
    align-self: stretch;
}

.flex-wrap {
    flex-wrap: wrap;
}
.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}
.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-grow-0 {
    flex-grow: 0;
}
.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}
.flex-shrink-1 {
    flex-shrink: 1;
}

@mixin media-flex {
    .flex-sm-fill {
        flex: 1 1 auto !important;
    }
    .flex-sm-row {
        flex-direction: row !important;
    }
    .flex-sm-row-reverse {
        flex-direction: row-reverse !important;
    }

    .flex-sm-col {
        flex-direction: column !important;
    }
    .flex-sm-col-reverse {
        flex-direction: column-reverse !important;
    }

    .justify-sm-start {
        justify-content: start !important;
    }
    .justify-sm-end {
        justify-content: end !important;
    }
    .justify-sm-center {
        justify-content: center !important;
    }
    .justify-sm-between {
        justify-content: space-between !important;
    }
    .justify-sm-around {
        justify-content: space-around !important;
    }
    .justify-sm-evenly {
        justify-content: space-evenly !important;
    }

    .items-sm-start {
        align-items: flex-start !important;
    }
    .items-sm-end {
        align-items: flex-end !important;
    }
    .items-sm-center {
        align-items: center !important;
    }
    .items-sm-baseline {
        align-items: baseline !important;
    }
    .items-sm-stretch {
        align-items: stretch !important;
    }

    .self-sm-start {
        align-self: flex-start !important;
    }
    .self-sm-end {
        align-self: flex-end !important;
    }
    .self-sm-center {
        align-self: center !important;
    }
    .self-sm-baseline {
        align-self: baseline !important;
    }
    .self-sm-stretch {
        align-self: stretch !important;
    }

    .flex-sm-wrap {
        flex-wrap: wrap !important;
    }
    .flex-sm-wrap-reverse {
        flex-wrap: wrap-reverse !important;
    }
    .flex-sm-nowrap {
        flex-wrap: nowrap !important;
    }

    .flex-sm-grow-0 {
        flex-grow: 0 !important;
    }
    .flex-sm-grow-1 {
        flex-grow: 1 !important;
    }

    .flex-sm-shrink-0 {
        flex-shrink: 0 !important;
    }
    .flex-sm-shrink-1 {
        flex-shrink: 1 !important;
    }
}
