@use "sass:math";

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    @for $i from 2 through 12 {
        .col-#{$i} {
            grid-column: span #{$i};
        }
    }
}

@mixin media-grid {
    
    .grid {
        @for $i from 1 through 12 {
            .col-sm-#{$i} {
                grid-column: span 1;
            }
        }

        grid-template-columns: 1fr;
    }
}
