
.xs {
    width: 1rem;
    height: 1rem;
}

.sm {
    width: 2rem;
    height: 2rem;
}

.md {
    width: 3rem;
    height: 3rem;
}

.lg {
    width: 4rem;
    height: 4rem;
}

.xl {
    width: 5rem;
    height: 5rem;
}

.hg {
    width: 6rem;
    height: 6rem;
}

.xh {
    width: 8rem;
    height: 8rem;
}

.full {
    width: 100%;
    height: 100%;
}


// pixels variants
.xl-px {
    width: 64px;
    height: 64px;
}

.lg-px {
    width: 40px;
    height: 40px;
}

.md-px {
    width: 32px;
    height: 32px;
}

.sm-px {
    width: 24px;
    height: 24px;
}