.text {
    &-start { text-align: start; }
    &-center { text-align: center; }
    &-end { text-align: end; }

    &-wrap { white-space: normal; }
    &-nowrap { white-space: nowrap; }

    &-break {
        word-wrap: break-word !important;
        word-break: break-word !important;
    }

    &-upper { text-transform: uppercase; }
    &-lower { text-transform: lowercase; }
    &-capitalize { text-transform: capitalize; }
}

.fs {
    &-1 { font-size: calc(1.375rem + 1.5vw)!important; }
    &-2 { font-size: calc(1.375rem + .9vw)!important; }
    &-3 { font-size: calc(1.375rem + .6vw)!important; }
    &-4 { font-size: calc(1.375rem + .3vw)!important; }
    &-5 { font-size: 1.25rem!important; }
    &-6 { font-size: 1rem!important; }
}

.fst {
    &-bold { font-weight: 700; }
    &-bolder { font-weight: bolder; }
    &-normal { font-weight: 400; }
    &-light { font-weight: 300; }
    &-lighter { font-weight: lighter; }
    &-italic { font-style: italic; }
}

.text-color {
    &.cl-text {
        color: var(--cl-txt-text);
    }
    &.cl-subtitle {
        color: var(--cl-txt-subtitle);
    }
    &.cl-title {
        color: var(--cl-txt-title);
    }
    &.cl-defa {
        color: var(--cl-txt-defa);
    }
    &.cl-info {
        color: var(--cl-txt-info);
    }
    &.cl-acce {
        color: var(--cl-txt-acce);
    }
    &.cl-succ {
        color: var(--cl-txt-succ);
    }
    &.cl-warn {
        color: var(--cl-txt-warn);
    }
    &.cl-erro {
        color: var(--cl-txt-erro);
    }
}