<script lang="ts">
	import { Btn, Card, Checkbox, Input, Spinner, utils } from '@higenku/theme';
	import type { AppPerm } from '$gql/index';
	import { auth } from '$store/auth';
    import { goto } from '$app/navigation';
    import sodium from "libsodium-wrappers"


    let loading = false;
	const app = {
		name: '',
		logo: '',
        redirect_uri: '',
	};

	const options = {
		sign: false,
		crypto: false,
		oauth: {
			access: false,
			scopes: {
				email: false,
				profile: false
			}
		}
	};

	let perms: AppPerm[] = [];

	const createApp = async () => {
        loading = true;
		if (perms.length > 0) perms = [];

		for (let entry of Object.entries(options)) {
			let name = entry[0];

			if (name == 'oauth') {
				let metadata = Object.entries(options['oauth']['scopes'])
					.filter((s) => s[1])
					.map((s) => s[0])
					.join(',');

				perms.push({
					name: 'oauth',
					metadata
				});
				continue;
			}

			let access = entry[1];

			if (access) {
				perms.push({
					name,
					metadata: ''
				});
			}
		}

		const client = await auth.getAuthenticatedClient();

        if (app.redirect_uri.length <= 11) {
            await utils.newNotification(
				'Validation Error',
				'Redirect Uri must be at least 11 characters',
				true,
				'erro',
				5000
			);
			loading = false;
			return;
        }

		if (app.name.length < 3) {
			await utils.newNotification(
				'Validation Error',
				'App name must be at least 3 characters',
				true,
				'erro',
				5000
			);
            loading = false;
			return;
		}

		try {
            await sodium.ready;
            const keys = await auth.getKeys();            

            const signature = sodium.crypto_sign(JSON.stringify({
                _v: '1.0.0',
                name: app.name,
                lgog: app.logo,
                perms,
                redirect_uri: app.redirect_uri,
            }), sodium.from_base64(keys.sign.privateKey), 'base64')
            
			const client_secret = (await client.appsCreate({
                signature,
            })).appsCreate

			utils.newNotification(
				'Success creating app',
				'Your app is now created! <br> You will be able to see it in the developers page',
                true,
                'succ',
                5000
			);

            goto('/dev', {state: {
                'client_secret': client_secret
            }})
		} catch (e: any) {
			// eslint-disable-next-line @typescript-eslint/no-explicit-any
			console.log(e);
			const err = e.response?.errors[0] || e;
			await utils.newNotification('An error Occured', `${err.message}`, true, 'erro', 7000);            
            throw e;
		}
        loading = false;
	};
</script>

<h1>Create a New application</h1>

<Input label="Application Name" placeholder="My Coll App" bind:value={app.name} />
<Input label="Application Logo" placeholder="https://.../favicon.png" bind:value={app.logo} />
<Input label="Redirect URI" placeholder="https://.../oauth2" bind:value={app.redirect_uri} />

<h3>Options</h3>

<Card>
	<h4>Oauth Api</h4>

	<h4>Scopes</h4>
	<div class="d-flex flex-row gap-1">
		<Checkbox bind:value={options.oauth.scopes.profile}>profile</Checkbox>
		<Checkbox bind:value={options.oauth.scopes.email}>email</Checkbox>
	</div>
</Card>

<Checkbox bind:value={options.sign}>Sign Api</Checkbox>
<Checkbox bind:value={options.crypto}>Crypto Api</Checkbox>

<br />
{#if loading}
    <Btn><Spinner /></Btn>
{:else}
    <Btn variant="succ" on:click={createApp}>Save</Btn>
    <Btn variant="info" on:click={() => goto('/dev')}>Back</Btn>
{/if}