<script lang="ts">
	import { browser } from '$app/environment';
	import { page } from '$app/stores';
	import Captcha from '$com/Captcha.svelte';
	import Oauth2 from '$com/Oauth2.svelte';
	import client from '$lib/gql';
	import { utils, Input } from '@higenku/theme';

	let credential = '';
	let loading = false;
	let captcha = '';

	if (browser) {
		let next = $page.url.searchParams.get('next') || '';
		localStorage.setItem('next', next);
	}

	const login = async () => {
		if (loading) return;

		loading = true;

		if (credential === '') {
			await utils.newNotification(
				'An error Occured',
				`Credential must have a value`,
				true,
				'erro',
				7000
			);
			loading = false;
			return;
		}

		try {
			let res = await client.authLogin({
				req: { credential, captcha }
			});

			const result = res.authLogin;

			if (result === 'Check your email') {
				await utils.newNotification(
					'Success',
					`Check your email for the code<br> We will not ask this code NEVER!`,
					true,
					'succ',
					7000
				);
			} else {
				await utils.newNotification(
					'Error',
					`This app looks to be not on the latest version, <br>please make a hard refresh`,
					true,
					'erro',
					7000
				);
			}
		} catch (e: any) {
			// eslint-disable-next-line @typescript-eslint/no-explicit-any
			const err = e.response?.errors[0] || e;
			await utils.newNotification('An error Occured', `${err.message}`, true, 'erro', 7000);
		}

		loading = false;
	};
</script>

<div class="my-1 d-flex justify-center items-center">
	<form style="max-width: 420px;" on:submit|preventDefault={() => login()}>
		<h1 class="text-center">Login</h1>

		<div class="card my-2">
			<Input
				label="Username or Email"
				type="text"
				placeholder="my@email.com or myusername"
				bind:value={credential}
			/>

            <div class="d-flex justify-center" style="margin-top: 1rem;">
                {#if browser}
                    <Captcha show={true} bind:token={captcha} />
                {/if}
            </div>

			<div class="my-1" />
			{#if loading}
				<button disabled class="btn">
					Login
					<span class="dots" />
				</button>
			{:else}
				<button class="btn succ">Login</button>
			{/if}
		</div>

		<p>You can also <a href="/auth/register">register</a></p>

		<p>or:</p>

		<Oauth2 />
	</form>
</div>
