<script lang="ts">
	import { Btn, Card, Checkbox, Dots, Input, Skeleton, Spinner, utils } from '@higenku/theme';
	import type { AppPerm, AppResponse } from '$gql/index';
	import { auth } from '$store/auth';
	import { goto } from '$app/navigation';
	import { page } from '$app/stores';
    import { onMount } from 'svelte';
    import sodium from "libsodium-wrappers"

	const id = $page.params['id'];
	let loading = true;
	let app: AppResponse

	const options = {
		sign: false,
		crypto: false,
		oauth: {
			access: false,
			scopes: {
				id: false,
				username: false,
				name: false,
				email: false
			}
		}
	};

	let perms: AppPerm[] = [];

    onMount(async () => {
        await auth.authenticate();
        const client = auth.getAuthenticatedClient();

        app = (await client.app({
            id
        })).app

        loading = false;
    })

	const editApp = async () => {
		loading = true;
		if (perms.length > 0) perms = [];

		for (let entry of Object.entries(options)) {
			let name = entry[0];

			if (name == 'oauth') {
				let metadata = Object.entries(options['oauth']['scopes'])
					.filter((s) => s[1])
					.map((s) => s[0])
					.join(',');

				perms.push({
					name: 'oauth',
					metadata
				});
				continue;
			}

			let access = entry[1];

			if (access) {
				perms.push({
					name,
					metadata: ''
				});
			}
		}

		const client = await auth.getAuthenticatedClient();

        if (app.redirectUri.length <= 11) {
            await utils.newNotification(
				'Validation Error',
				'Redirect Uri must be at least 11 characters',
				true,
				'erro',
				5000
			);
			loading = false;
			return;
        }

        if (app.name.length < 3) {
			await utils.newNotification(
				'Validation Error',
				'App name must be at least 3 characters',
				true,
				'erro',
				5000
			);
			loading = false;
			return;
		}

		try {
            await sodium.ready;
            
            const keys = await auth.getKeys();
            const signature = sodium.crypto_sign(JSON.stringify({
                _v: '1.0.0',
                id: app.id,
                name: app.name,
                lgog: app.logo,
                redirect_uri: app.redirectUri,
                perms,
            }), sodium.from_base64(keys?.sign.privateKey!), 'base64')
            
			if (!
                (await client.appsUpdate({
					signature,
                })).appsUpdate
            ) {
				throw new Error('failed to create client, <br>reach support for more information');
			}

			utils.newNotification(
				'Success creating app',
				'Your app is now created! <br> You will be able to see it in the developers page',
				true,
				'succ',
				500
			);

			goto('/dev');
		} catch (e: any) {
			// eslint-disable-next-line @typescript-eslint/no-explicit-any
			console.log(e);
			const err = e.response?.errors[0] || e;
			await utils.newNotification('An error Occured', `${err.message}`, true, 'erro', 7000);
		}
		loading = false;
	};

    const regenClientSecret = async () => {
        loading = true;

        try {
            await sodium.ready;
            const keys = await auth.getKeys()

            const signature = sodium.crypto_sign(
                JSON.stringify({
                    id,
                }),
                sodium.from_base64(keys.sign.privateKey),
                'base64'
            )

            
            const client = await auth.getAuthenticatedClient();
            const client_secret = (await client.appsRegenClientSecret({
                signature
            })).appsRegenClientSecret
            goto('/dev', {state: {
                'client_secret': client_secret
            }})
        } 
        // eslint-disable-next-line @typescript-eslint/no-explicit-any
        catch(e: any) {
            const err = e.response?.errors[0] || e
            await utils.newNotification('An error Occured', `${err.message}`, true, 'erro', 7000)
        }

    
    }

</script>

{#if loading}
	<h1>Edit</h1>

	<Skeleton lineCount={8} />

	<Card>
		<Skeleton lineCount={5} />
	</Card>

	<Btn><Dots /></Btn>
	<Btn><Dots /></Btn>
{:else}
	<h1>Edit {app.name}</h1>

	<Btn variant="erro" on:click={regenClientSecret}>Regenerate Client Secret</Btn>

	<Input label="Application Name" placeholder="My Coll App" bind:value={app.name} />
	<Input label="Application Logo" placeholder="https://.../favicon.png" bind:value={app.logo} />
	<Input label="Redirect URI" placeholder="https://.../oauth" bind:value={app.redirectUri} />

	<h3>Options</h3>

	<Card>
		<h4>Oauth Api</h4>

		<h4>Scopes</h4>
		<div class="d-flex flex-row gap-1">
			<Checkbox bind:value={options.oauth.scopes.id}>id</Checkbox>
			<Checkbox bind:value={options.oauth.scopes.username}>username</Checkbox>
			<Checkbox bind:value={options.oauth.scopes.name}>name</Checkbox>
			<Checkbox bind:value={options.oauth.scopes.email}>email</Checkbox>
		</div>
	</Card>

	<Checkbox bind:value={options.sign}>Sign Api</Checkbox>
	<Checkbox bind:value={options.crypto}>Crypto Api</Checkbox>

	<br />
	<Btn variant="succ" on:click={editApp}>Save</Btn>
	<Btn variant="info" on:click={() => goto(`/dev/app/${app.id}`)}>Back</Btn>
{/if}
