<script>
import Progress from "$lib/Progress.svelte";

let progress = 0;
let count = 10
function increment() {
    if (progress == 100) 
        count = -50
    
    if (progress == 0)
        count = 10
    progress += count;
}

</script>

<button on:click={increment}>Increment</button>

<Progress progress={progress}/>
<br>
<Progress animated={true}/>