<script lang="ts">
    import {
        Nav,
        NavItem,
        DropMenu,
        MenuNavigation,
        MenuItem,
        MenuSection,
    } from "$lib"

    let menuTarget;
</script>

<Nav
    logo="https://higenku-icons.pages.dev/hgn-XThm.png"
    title="XThm"
>
    <NavItem>Hello</NavItem>
    <NavItem>Hello</NavItem>
    <NavItem>Hello</NavItem>
    <NavItem>Hello</NavItem>
    <NavItem>Hello</NavItem>
    <NavItem>Hello</NavItem>
    <NavItem>Hello</NavItem>
    <NavItem>Hello</NavItem>
    <NavItem bind:ref={menuTarget}>I Have a Menu</NavItem>
    <NavItem>Hello</NavItem>
    <NavItem active={true}>Hello</NavItem>
</Nav>

<DropMenu target={menuTarget}>
    <MenuSection>
        <MenuItem>Hi there</MenuItem>
        <MenuItem>Hi there</MenuItem>
        <MenuItem>Hi there</MenuItem>
        <MenuItem>Hi there</MenuItem>

        <MenuNavigation to={1}>Next Page</MenuNavigation>
    </MenuSection>

    <MenuSection>
        <MenuItem>Hi there again</MenuItem>
        <MenuItem>Hi there again</MenuItem>
        <MenuItem>Hi there again</MenuItem>
        <MenuItem>Hi there again</MenuItem>
        <MenuNavigation to={0}>Nah, go back</MenuNavigation>
    </MenuSection>
</DropMenu>

<slot />
