<script lang="ts">
    import Page from "$lib/page/Page.svelte"
    import PageToc from "$lib/page/PageToc.svelte"
    import PageSidebar from "$lib/page/PageSidebar.svelte"
    import PageContent from "$lib/page/PageContent.svelte"
</script>

<Page>
    <PageSidebar data={[
        { href: "/", text: "Home" },
        { href: "/", text: "Another" },
        { href: "/", text: "Place" },
        { href: "/", text: "To" },
        { href: "/", text: "Go" },
        { text: "I have Children" },
            { href: "/", space: "1", text: "Home" },
            { href: "/", space: "1", text: "Another" },
            { href: "/", space: "1", text: "Place" },
            { href: "/", space: "1", text: "To" },
            { href: "/", space: "1", text: "Go" },
    ]} />

    <PageContent>
        <h1>Welcome to the Documentation</h1>
        <p>
            Here you will find all the documentation on various products of the Higenku
            project. We plan on making it as easy as possible for new developers, but if
            you ever need help, feel free to reach one of the lines present in
            <a href="https://higenku.org/contact">here</a>, we are happily going to help
            you. You can find quick starts at the start of the page, but you can also
            watch one of our tutorials on
            <a href="https://odysee.com/@Higenku:b">odysee</a>
            and
            <a href="https://www.youtube.com/channel/UCgC8cx8npk9BHdaJhL5TrAQ"
                >youtube</a
            >
        </p>
        <h3>How to contribute to this documentation?</h3>
        <p>
            If you want to contribute to this documentation, you need to clone the
            <a href="https://gitlab.com/higenku/docs">repository</a>, run it locally
            (described in the repository), make the changes you think are important
            (following the code of conduct in the repository), make a pull request and
            wait for approval or denial.
        </p>
        <h3>
            How to report Abusive language, Errors and missing or bad written
            documentation
        </h3>
        Please open a Issue in the<a href="https://gitlab.com/higenku/docs/-/issues"
            >repository</a
        >
        <h2>Software</h2>
        <h3>
            Higenku has a lot of software, so to make it easier for find what you are
            looking for, we made categories:
        </h3>
        <h1>Our Site is still <strong>Work In Progress</strong></h1>
        <ul>
            <li><a href="en/apps">Applications</a></li>
            <li><a href="en/sdks">Sdks</a></li>
            <li><a href="en/tools">Tools</a></li>
            <li><a href="en/runtimes">Runtimes</a></li>
            <li><a href="en/packs">Packs</a></li>
            <li><a href="en/testapps">TestApps</a></li>
        </ul>
        <div />         
    </PageContent>

    <PageToc data={[
        { href: "/", text: "Home" },
        { href: "/", text: "Another" },
        { href: "/", text: "Place" },
        { href: "/", text: "To" },
        { href: "/", text: "Go" },
        { text: "I have Children" },
            { href: "/", space: "1", text: "Home" },
            { href: "/", space: "1", text: "Another" },
            { href: "/", space: "1", text: "Place" },
            { href: "/", space: "1", text: "To" },
            { href: "/", space: "1", text: "Go" },
    ]}  />
</Page>