<script lang="ts">
    let ref: HTMLElement | any  = null;
    let classes: string = "";
    let style: string = "";

    export { ref, classes, style };
</script>

<div class="treeview-header {classes}" bind:this={ref} {style}>
    <slot />
</div>
