<script lang="ts">
    let href: string;
    let active = false;
    let space: "0" | "1" | "2" | "3" | "4" = "0";
    let ref: HTMLElement | any  = null;
    let classes: string = "";
    let style: string = "";

    export { ref, classes, style };
    export { href, active, space };
</script>

<a
    {href}
    bind:this={ref}
    {style}
    class="treeview-item {space == '0'
        ? ''
        : space == '1'
        ? 'treeview-spaced'
        : `treeview-spaced-${space}`}"
    class:classes
    class:active
>
    <slot />
</a>
