<script lang="ts">
    let ref: HTMLElement | any  = null;
    let classes: string = "";
    let style: string = "";

    export { ref, classes, style };
</script>

<div class="treeview {classes}" {style} bind:this={ref}>
    <slot />
</div>
